[2020-07-11 00:49] invertedbobb opened #441 "Fee reimbursement for trade ZyilENaJ"
![ZyilENaJ](https://user-images.githubusercontent.com/45833017/64481987-a3aaac00-d1e8-11e9-9ccb-7c8e12796756.png)

Maker:  ce4e2446adc121bb6653ad2316f897babb24b1b767beea0d39e3a75530ae9e9a
Taker: 194aa1efd2aa86df1de424b626308f2cdd8d68ccf5751a36ceddd0bfd22c25b4
Deposit: 5942b7c91de894c045061629490d7a765caf4812ca5ba8cb60a5583be8a77c14

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement p

[2020-07-11 00:50] invertedbobb opened #442 "Fee reimbursement for trade 8ddt5d"
![8ddt5d](https://user-images.githubusercontent.com/45833017/64481981-8c6bbe80-d1e8-11e9-9a0e-cb918e1a1ed0.png)

Maker: 3f91d5622f6e2fbe2435629d9d17dcfa621a2532a013f47507acb72703313e95
Taker: dc2b347f68fec086af662f5637839b7392cc46d0e75c8d05273b090140a4f582
Deposit: 67da5d3b4ea11ab794c85850f4acbbc6e6c9f1e6043dad1f3123c0cd0f640208

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement prop

[2020-07-11 01:40] invertedbobb opened #443 "Fee reimbursement for trade GJJVSXE"
![GJJVSXE](https://user-images.githubusercontent.com/45833017/64482090-0dc45080-d1eb-11e9-8ff1-4305b045ab18.png)

Maker: 7a85bae2fae5ea9f933cf8d8d887cda7bd4a169678172306a927d29150dd17a4
Taker: fb0e6331d5bacf52591e6464c990b6302a17cf4e6c6f37e3655dd6faf2d57b71
Deposit: 6fec29823083cec5fc3e1876abfc410209dadddd389685a62eec7ed43de5fe61

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement pro

[2020-07-11 01:41] invertedbobb opened #444 "Fee reimbursement for trade 77955363"
![77955363](https://user-images.githubusercontent.com/45833017/64482091-13ba3180-d1eb-11e9-91d3-31a6b7682a3f.png)

Maker: a0b234476443e732c1bcaa37e10a3733db0e97379c463c217d287c576241e6db
Taker: 5a95502113eadd242001bdb8aad6b529ab9d4fb993d1ee710e88aa9352b2b374
Deposit: 37a1b1ab5e4c35b6dda8a0bc535c6c248cb5f7a94e85cf70ea9325fb224bc7a3

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement pr

[2020-07-11 01:42] invertedbobb opened #445 "Fee reimbursement for trade CADUMWWE"
![CADUMWWE](https://user-images.githubusercontent.com/45833017/64482092-19177c00-d1eb-11e9-8e68-4584fbd0845e.png)

Maker: b75a79d798a945d74d9c80d36da5cc3ea062c7c74c2ac1a638e382c50c5adee3
Taker: 1b126c8edac2b869a6e1f1037cde778ccdbfae8f6e1539fcae4484ee0ce56da6
Deposit: 1ce11b50218238e747f72be8a85810663c861459acfa7f677da0a4364515d30b

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement pr

[2020-07-11 01:43] invertedbobb opened #446 "Fee reimbursement for trade goloxks"
![goloxks](https://user-images.githubusercontent.com/45833017/64482093-1ddc3000-d1eb-11e9-902d-60e753c00f05.png)

Maker: b6d5eafb3980ced80aa317a443ab740e787933f7b6a634ba932f1ad842b20a86
Taker: 88e1689cd36092201474fe654fc3e4494054b884d2b5267620e702a48ef6cdea
Deposit: 6b062b6f624db5f1c6542380f6ec8ab0312998bbf8af92a2661524921f7c9fb5

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement pro

[2020-07-11 01:44] invertedbobb opened #447 "Fee reimbursement for trade 108210"
![108210](https://user-images.githubusercontent.com/45833017/64482094-23397a80-d1eb-11e9-8257-f5f7c098b690.png)

Maker: 817e0d31e2d3705d9b49033154377085d0e975d786ccf6df239bf1c577037876
Taker: 78d4f7be6aefe3d3b7199a25f41a632b3640255cf2de97927a4b9fe81696adfa
Deposit: 2e9de4ccc73d6d8e3abce1395710a9148f616982ab2a38f6b29633c443831a90

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement prop

[2020-07-11 01:55] invertedbobb opened #448 "Fee reimbursement for trade 824549"
![824549](https://user-images.githubusercontent.com/45833017/64482096-27fe2e80-d1eb-11e9-808b-5eca523d09e7.png)

Maker: 74818ebb61c797174f93827fbff1fdabbd7f1bc156382a8d94773c4141c8b155
Taker: bfb92315d442d85a586c3ad4e95e95c14c048633dc45c3ec24ada173f006c90c
Deposit: 83a3ea6fd508cdea7d5f95fca529939429617a56358a54d6114c2482fdcdcd1b

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement prop

[2020-07-11 01:55] invertedbobb opened #449 "Fee reimbursement for trade AVRELT3R"
![AVRELT3R](https://user-images.githubusercontent.com/45833017/64482099-2cc2e280-d1eb-11e9-99b3-b60e824116ef.png)

Maker: 72e96167084e301fe612a46b90e4de04ed38d93ec45c91ff5f5eb74f82e3a10b
Taker: 6cd8f1b47e272083a270262ea919bcb5790e16abead3f150dbf22f1ca584255e
Deposit: 9c24bdc914bdec081cc48b10bf83f688660c52c071565906781cf2c60733ced4

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement pr

[2020-07-11 01:56] invertedbobb opened #450 "Fee reimbursement for trade pwm0mae"
![pwm0mae](https://user-images.githubusercontent.com/45833017/64482101-32202d00-d1eb-11e9-9b9a-70935719008d.png)

Maker: 6e096276b274b3a4a81d247d934cfe411f016408b349f03d8cc52ae80c370402
Taker: 5b38b241e4c7e599b5845e5c60ae1ac698ca5e7ad8ac2747a3e50f9ba8f43c41
Deposit: 22168003a36bcf80f21cfbcffd39a033d50c1a6dc6a02e7e2581a69748efba08

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement pro

[2020-07-11 01:57] invertedbobb opened #451 "Fee reimbursement for trade KFNVP"
![KFNVP](https://user-images.githubusercontent.com/45833017/64482103-377d7780-d1eb-11e9-82b6-7a3dcf0dea4a.png)
![KFNVP-2](https://user-images.githubusercontent.com/45833017/64482104-3b10fe80-d1eb-11e9-8163-a7cb912fa92a.png)

Maker: 888e1a190c04aed7b59c3417ae0741e147047a0ec1a0a5d9ae4ce54a47d9190b
Taker: c01b583ab5401ac0fcc7c007ab3a8d9eddcab41a717c2815475628549743849a
Deposit: 82786cf96c22b984c36806

[2020-07-11 01:58] invertedbobb opened #452 "Fee reimbursement for trade MTYoEN"
![MTYoEN](https://user-images.githubusercontent.com/45833017/64482105-4106df80-d1eb-11e9-8af3-f496e6fab2a7.png)
![MTYoEN-2](https://user-images.githubusercontent.com/45833017/64482108-449a6680-d1eb-11e9-8950-508db8f4c3ed.png)

Maker: b452e31a5afaa372621d08267619e858701b4fa6a22343dea35c8fc7461a2227
Taker: 9eeb7529602e424456a2b42c2976969e38b6b18c5b05998549e62a03b444bbfa
Deposit: 170d3ca1cf0d9573f48b

[2020-07-11 02:00] invertedbobb opened #453 "Fee reimbursement for trade 06116"
![06116](https://user-images.githubusercontent.com/45833017/64482111-4bc17480-d1eb-11e9-9f29-ac817985f8a5.png)

Maker: 4661de4a68d9254ffa9935dec1a5e95e43cc21e5c56533340937121e5e404c9c
Taker: e3c64000258e5e78300f27482d632461b9f86b06fa767a2b70f3e9a7d48b16c2
Deposit: 786b2aed2df1e592bf11bc9f81ec0ce2c826a69862e736882a1193f3c74c4327

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement propo

[2020-07-11 02:01] invertedbobb opened #454 "Fee reimbursement for trade QCkgUE"
![QCkgUE](https://user-images.githubusercontent.com/45833017/64482112-50862880-d1eb-11e9-950b-0998cf8ad447.png)

Maker: 70aa4804019154431f2f3d6f1d73c0eeabae1eb5a968d0c67b2c01598f8be343
Taker: 490d3b9e5f34cc83bac363a1d7169f6d902ed245f4b44a8e25df11361e729bfb
Deposit: 068e00724bc0d207ce51f82c5b4c07471aeb59ee55e056be7f6875215c038567

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement prop

[2020-07-11 02:02] invertedbobb opened #455 "Fee reimbursement for trade 910061"
![910061](https://user-images.githubusercontent.com/45833017/64482113-5714a000-d1eb-11e9-9c9f-ec0ed1cc4d08.png)

Maker: d46a9f62b5f2279e7b7f9f5d2df0aa194903709e95df0894a14b0886448308b2
Taker: 1996f46f3c12540cdfe68926297a5073a8e3ae114de6749fc5f0d3a818067870
Deposit: 6e541204bc4c9c83cdbb89865dfe978e19549f1944f7040500e0a339586651ee

Bisq version: 1.1.4

Other notes: Part of BSQ Fee reimbursement prop

[2020-07-14 19:57] PatVers opened #456 "Fee reimbursement for trade KAKSAMD"
![Captura de pantalla 2020-07-14 a las 20 54 38](https://user-images.githubusercontent.com/66955857/87470307-7d2d7c80-c614-11ea-8309-f6f881e7b750.png)

Maker: 68914c1983a6b748b3a1bec1a609f0482b401af32d9d0cf9dcc8058ce36f39e0
Taker: d90c4a22a501c6c8c83a9be7cec3ef3c23eb400b2a62ad92cd9df7eea9a94184
Deposit: .............

Bisq version:

1.3.6

Other notes:

[2020-07-15 17:47] jenechka1 opened #457 "Fee reimbursement for trade AkqlsC"
![Screen Shot 2020-07-15 at 1 32 39 PM](https://user-images.githubusercontent.com/35736319/87577419-e0fd8700-c6a0-11ea-8753-0319ed1b3bb8.png)

Maker: 507482966e51199bac26139df7405522e767d55da7efb07e0f2d03639708d34a
Taker: 6ef8e6f1d63a69bd61ddaae25705fdb8db61c3cf6837f6a4cff65faecad4e0f6
Deposit: ..........

Bisq version: 1.3.5

[2020-07-15 18:42] Akira45-0 opened #458 "Fee reimbursement for trade 95490071"
![grafik](https://user-images.githubusercontent.com/63785272/87582947-7c135280-c6db-11ea-90b9-5007696a4ba3.png)

Maker: 46ed1289ce356da3c1b319e0e5545f377393d3015714a3fd5a55b4b563d7acc0
Taker: 6df7c1ba4b2a747a82421ca5e39a8040b934f558ea3244622c580d098e675401
Deposit: ..........

Bisq version: 1.3.6

[2020-07-19 06:20] Jan877 opened #459 "Fee reimbursement for trade 7cqubcj"
SCREENSHOT HERE
<img width="666" alt="7cqubcj" src="https://user-images.githubusercontent.com/44270690/87868675-ac3b4980-c998-11ea-91b4-4563103b69a1.png">

Trade ID: 7cqubcj
Maker fee transaction ID:  41518ad62e31e132dd04ab9dc58de4d4c2485abe2aee316e47523c0e813619d6
Taker fee transaction ID: 2c5841db09b74c7fcfcb7d3407dbe6d4f64e48a96b26cd623eedf775a8470fe4
Security deposit: Buyer: 0.0180 BTC / Selle

[2020-07-19 06:29] Jan877 opened #460 "Fee reimbursement for trade KWX4G"
<img width="960" alt="KWX4G" src="https://user-images.githubusercontent.com/44270690/87868730-616e0180-c999-11ea-921a-967d42a6e3df.png">

SCREENSHOT HERE

Maker fee transaction ID:  0b800ef87a393d376d7cf87496bec489dc953c22ab2470a8645c22868a49c0ff
Taker fee transaction ID: de10716aadac15996bfc1cb64b22e2c75bf9727e2695f61932c38548d2d2634e
Deposit:
Security deposit Buyer: 0.014990 BTC
Security deposit

[2020-07-19 06:35] Jan877 commented on #459
<img width="543" alt="Warning 7cqubcj" src="https://user-images.githubusercontent.com/44270690/87868855-beb68280-c99a-11ea-8dbd-3e166695ff85.png">

[2020-07-20 08:27] leo816 commented on #430
The batch transaction with txid
[235c3c6defb252809ec7624ae29e5614ab199bdec41a2ba363c33ab979b6c481](https://blockstream.info/tx/235c3c6defb252809ec7624ae29e5614ab199bdec41a2ba363c33ab979b6c481) has been broadcast and should be included in blocks in a few days.

<img width="961" alt="Screen Shot 2020-07-20 at 10 23 52" src="https://user-images.githubusercontent.com/54798241/87916091-47a0ed00-ca73-11

[2020-07-20 08:29] leo816 commented on #370
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:29] #370 closed

[2020-07-20 08:29] leo816 commented on #373
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:29] #373 closed

[2020-07-20 08:29] leo816 commented on #374
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:29] #374 closed

[2020-07-20 08:29] leo816 commented on #375
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:29] #375 closed

[2020-07-20 08:29] leo816 commented on #376
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:29] #376 closed

[2020-07-20 08:30] leo816 commented on #377
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #377 closed

[2020-07-20 08:30] leo816 commented on #378
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #378 closed

[2020-07-20 08:30] leo816 commented on #379
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #379 closed

[2020-07-20 08:30] leo816 commented on #381
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #381 closed

[2020-07-20 08:30] leo816 commented on #382
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #382 closed

[2020-07-20 08:30] leo816 commented on #386
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #386 closed

[2020-07-20 08:30] leo816 commented on #387
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #387 closed

[2020-07-20 08:30] leo816 commented on #390
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #390 closed

[2020-07-20 08:30] leo816 commented on #393
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] leo816 commented on #394
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #394 closed

[2020-07-20 08:30] leo816 commented on #383
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #383 closed

[2020-07-20 08:30] leo816 commented on #384
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #384 closed

[2020-07-20 08:30] leo816 commented on #385
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #385 closed

[2020-07-20 08:30] leo816 commented on #395
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #395 closed

[2020-07-20 08:30] leo816 commented on #405
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #405 closed

[2020-07-20 08:30] leo816 commented on #406
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #406 closed

[2020-07-20 08:30] leo816 commented on #408
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #408 closed

[2020-07-20 08:30] leo816 commented on #409
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #409 closed

[2020-07-20 08:30] leo816 commented on #410
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #410 closed

[2020-07-20 08:30] leo816 commented on #411
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #411 closed

[2020-07-20 08:30] leo816 commented on #412
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:30] #412 closed

[2020-07-20 08:31] leo816 commented on #413
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #413 closed

[2020-07-20 08:31] leo816 commented on #414
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #414 closed

[2020-07-20 08:31] leo816 commented on #415
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #415 closed

[2020-07-20 08:31] leo816 commented on #416
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #416 closed

[2020-07-20 08:31] leo816 commented on #417
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #417 closed

[2020-07-20 08:31] leo816 commented on #418
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #418 closed

[2020-07-20 08:31] leo816 commented on #419
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #419 closed

[2020-07-20 08:31] leo816 commented on #420
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #420 closed

[2020-07-20 08:31] leo816 commented on #421
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #421 closed

[2020-07-20 08:31] leo816 commented on #422
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #422 closed

[2020-07-20 08:31] leo816 commented on #423
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #423 closed

[2020-07-20 08:31] leo816 commented on #424
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #424 closed

[2020-07-20 08:31] leo816 commented on #425
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #425 closed

[2020-07-20 08:31] leo816 commented on #426
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #426 closed

[2020-07-20 08:31] leo816 commented on #427
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #427 closed

[2020-07-20 08:31] leo816 commented on #429
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774

[2020-07-20 08:31] #429 closed

[2020-07-20 08:37] leo816 commented on #430
Related issues were closed with:

`cat support-430.csv |gsed 1d|cut -d, -f1|uniq|xargs -I {} ghi close -m "Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/430#issuecomment-660882774" {}`

[2020-07-20 08:38] #430 closed

[2020-07-20 08:40] eddie333016 commented on #406
@leo816  THanks for this but how do I see the reimbursement it doesnt seem to show up in my BSQ transactions?

[2020-07-20 08:42] leo816 commented on #406
you will receive it as btc, it is the only way we reimburse fees

[2020-07-20 12:08] RefundAgent opened #461 "Reimbursement for double refund payout"
I ask for reimbursement for the 2.14 BTC = 34141.7 BSQ that was paid out twice and explained in https://github.com/bisq-network/roles/issues/93.

I don't think this mistake can simply be attributed to carelessness, but can be attributed to a bug or quirk in the messaging system. If it is approved it will dilute the tokens by about 0.8%. In a system without refund agents mistakes such as this one w

[2020-07-21 00:03] eddie333016 commented on #406
@leo816 ok thank you - How do I find out how much the reimbursement is and how do I find it in the transaction record I can't see a reference too it anywhere in my BISQ client.

[2020-07-21 11:06] sqrrm commented on #461
There are obvious issues with the accounting going from trade -> mediation -> refund agent -> reimbursement. I think a lot of this could be improved a lot with proper tracking, and verification, of all the steps from trade to reimbursement. Steps that need a human opinion to proceed, basically the mediation, should have that signed and opinion included.

I think this is not a completely unreasonab

[2020-07-22 15:12] Akira45-0 opened #462 "Reimbursement and compensation for trade GEOM1"
Hello. I would like to get my coins and a compensation from the trade partner's deposit for the trade GEOM1. I am the maker and BTC seller of this offer. More than two weeks have passed from the trade, and the trading partner has not sent me the XMR he should have and is unresponsive. I would like to get a refund of my funds and a compensation from the BTC buyer's deposit, as suggested by the medi

[2020-07-22 15:24] wiz commented on #462
I was the mediator for trade GEOM1, and I can confirm the suggested payout to the seller is 1.752 BTC. The funds were donated to Bisq in this TX: https://mempool.space/tx/d38b03240539c5dd7f521432b959d257eab15947aab725cedb53f5bdd273d9cc

@Akira45-0 to verify your identity, I have just sent you a secret hex string using the Bisq in-app support chat, can you please post it here?

As for the current p

[2020-07-22 15:39] Akira45-0 commented on #462
The string is d960b7d01e4697813a08b6ca852a9458.
I have modified the price in concordance with your suggestion.
Thank you.

[2020-07-22 16:56] wiz commented on #462
Okay, I have verified @Akira45-0 is the seller of trade GEOM1, so I approve this reimbursement request.

[2020-07-22 17:25] RefundAgent commented on #462
The secret is correct and I also approve this reimbursement request..

[2020-07-23 20:43] MwithM commented on #440
I see that this has been asked as a DAO reimbursement request. It should have the TXID posted here, to avoid confusions.

[2020-07-24 21:14] Meta-Realms opened #463 "Fee reimbursement for trade vBGFuSbp"
**![image](https://user-images.githubusercontent.com/68752567/88434994-a801a700-ce44-11ea-82cc-f959d4fca7d4.png)**

**Maker:  d981110db701aeee0da808fe1912c4205119c17517d8ed4e330f8e348379e0e5
Taker: 234ebfc61cb183ae49c641eac570de62ef9617711b0a875dddd457b616fdf374
Deposit: 599429d0b221260cd53c0374fb77c2aefe925651714669e76c86b3b3a4647179**

**Bisq version: v1.3.5**

Other notes:

**The order failed f

[2020-07-24 21:25] Meta-Realms opened #464 "Fee reimbursement for trade O51xo"
![image](https://user-images.githubusercontent.com/68752567/88436495-bf8e5f00-ce47-11ea-8487-6a9995cab324.png)

**Maker:  0db54af3bc481e56a2f71fa3b463ad72026aeda0b9de93e9a7047a7859c59fd9
Taker: 94671e806346ee88ed6dafc3fe1f42af969b630966c7eb21c10872aeabfab66b
Deposit: e3531a04915ccca0dff1deb2f62e644894a17ba3fdb9f23bb19623ecfd445618**

**Bisq version: v1.3.5**

Other notes:

**The order failed for s

[2020-07-24 21:30] Meta-Realms opened #465 "Fee reimbursement for trade 12203"
![image](https://user-images.githubusercontent.com/68752567/88436893-a1752e80-ce48-11ea-9d3e-195d6e313866.png)

**Maker:  92b3d9a11ed34b9e19e8bb2cde2e40c255864114ddad49946a060efa21faa83b
Taker: 29debf13fc65d792c2035e1008dc2478f471328ef8e1ca5e2804322668f52557
Deposit: 7e8a9c9576b2aaca76400fec8748c91dc6811f3f4ebb57666d5b242e26ceed58**

**Bisq version: v1.3.5**

Other notes:

**The order failed for s

[2020-07-24 21:34] Meta-Realms opened #466 "Fee reimbursement for trade XEBTOF2"
![image](https://user-images.githubusercontent.com/68752567/88437139-2b24fc00-ce49-11ea-9eb7-390eb716554a.png)

**Maker:  18e8169e33e0a2ad8c77879f34ba261bbce21671ce7861fb9a94b2436c147e06
Taker: 1282615102751e4175c9bd5217f1492120e24ad6b45eee7e048f8af07fccd28c
Deposit: a459d2e8ebbeed638c03ac51ece7edd1e86094601abfb7391fe3cc1fbefc407b**

**Bisq version: v1.3.5**

Other notes:

**The order failed for s

[2020-07-25 08:40] built2df5 opened #467 "Some SEPA banks are requiring street and city details to send a transaction"
I'm selling to an unsigned account, he requested me on the chat to provide my address and city. I refused encouraged him to open a dispute.
Mediator displayed the proof (image) that this was a real request from the bank, but still feel unfair to have to provide unexpected data. I requested to cancel the trade with a small compensation for fees and time lost, and the funds are still on hold without

[2020-07-25 12:49] Bisq-knight commented on #467
It wasn't clear from the description, but did you try putting the seller bank's address? As in the one registered with the BIC number?

I've seen cases where that was sufficient. I hope that is the case here too

[2020-07-25 13:10] atpblas opened #468 "Fee reimbursement for trade A0NPK1K9"
SCREENSHOT HERE

![Captura de pantalla 2020-07-25 a las 15 09 14](https://user-images.githubusercontent.com/66116505/88457696-cee1cc80-ce88-11ea-9c63-5a45ed7740f5.png)

Bisq version: 1.3.6

Other notes:

[2020-07-25 14:53] atpblas commented on #468
Thanks!

[2020-07-25 14:53] RefundAgent commented on #461
TxID:  702fd*******d0198

[2020-07-27 18:25] wiz commented on #461
With all due respect, I don't see how you can blame the messaging system for accidentally doing a double payout. As a casual observer, I spotted your mistake because it was obviously wrong. As the guy doing the payouts, it is your responsibility to verify all transactions and properly account for them. I am honestly quite surprised you would ask for reimbursement from the DAO for what you admitted

[2020-07-28 10:53] leo816 commented on #461
I agree with Wiz here, I know that mistakes have been made in the past with old arbitrators and they've had to pay it back with their own money. It is also true that they had higher salary. I would say we could find some common ground but 100% reimbursement doesn't seem right in my opinion.

[2020-07-28 16:32] Bayernatoor commented on #461
It's an unfortunate situation but I don't believe the DAO should be responsible for a mistake that should have been (in my opinion) easily avoided. No doubt, you provided a necessary (at this time) service to the platform but this is hefty amount and as Wiz mentioned above it could set a dangerous precedent.

[2020-07-28 16:40] nicebug5 opened #469 "Fee reimbursement for trade OqbUAF"
![failed_trade](https://user-images.githubusercontent.com/57108783/88695535-9264d980-d0f1-11ea-9e5b-a471285f4580.png)

Maker:  a515890d61402858ed859ad45edd936c85c00795d15b564a0032567cd7130641
Taker: 088c9b47e3cf155e2b6e679ec3785d39b478757c85d224b7caf21d225d6dd0a9
Deposit: NULL

Bisq version: 1.3.6

Other notes:

Second time this happened to me. Trade moved to Failed trades cause deposit transactio

[2020-07-29 07:51] ripcurlx commented on #462
@Akira45-0 Could you please post the transaction ID of the reimbursement request, as there are two with your GitHub username and the same reimbursement link:
- `d57c1c3876aba36d62116f347ae7d8c2c11026e66d4941ad04c7e4d8cbe6b301` with the amount of 29200.00 BSQ
- `1d66c2e37bb245e77acb635d6205615f11e6d18a428724f9bc248613756e695e` with the amount of 27933.67 BSQ

I do assume that `d57c1c3876aba36d62116

[2020-07-29 07:58] Akira45-0 commented on #462
The 1d66c2e37bb245e77acb635d6205615f11e6d18a428724f9bc248613756e695e with the lower amount is correct. The other transaction was me, but I took the BSQ price from the moment of posting. Wiz suggested to use the 30-day average price, hence the new request with lower amount. I thought I have removed the first request, I don't know why it appears in the DAO.

[2020-07-29 08:02] ripcurlx commented on #440
@leo816 Could you please confirm that this reimbursement request is legit so it could be accepted or rejected? Thanks!

[2020-07-29 08:11] ripcurlx commented on #462
Unfortunately there is a bug with the proposal removal that can't be easily fixed ATM. I just wanted to confirm that this is such a case so not both of your requests get rejected.

[2020-07-29 12:32] leo816 commented on #440
@roundrobin42 I see there is a clear error with the fee amount, To approve this request I need a screenshot as proof to know if you are the btc seller or the buyer. If you see above the details you should see "Taker as BTC seller"

[2020-07-29 12:47] ripcurlx commented on #440
@roundrobin42 As the voting is already taking place and this fee reimbursement request is not approved yet by the team lead (@leo816) I fear you'll need to apply for reimbursement again for next cycle.

[2020-07-29 15:16] sqrrm commented on #461
I will accept this request as I think it's an essential task of the DAO. The mistake is part of a bad structure and going forward it looks like we will have to do the reviews and voting through the DAO for each larger refund, an extra cost that we have so far avoided.

If this is not accepted it sends a signal to contributors that they should not assume any personal risk as they can see that the D

[2020-08-05 17:29] joee007 opened #470 "Fee reimbursement for trade: kahca & 747621"
<img width="579" alt="Failed Trade" src="https://user-images.githubusercontent.com/69259676/89444526-cfe3eb00-d71f-11ea-8c62-6128dec51178.png">

<img width="1192" alt="Screen Shot 2020-08-05 at 1 30 50 PM" src="https://user-images.githubusercontent.com/69259676/89444573-e68a4200-d71f-11ea-82fd-de3d21bf390c.png">

Maker:  ..........
Taker: ...........
Deposit: ..........

<img width="900" alt="Scre

[2020-08-05 17:55] userbisq opened #471 "Fee reimbursement for trade RDVd7"
SCREENSHOT HERE
![image](https://user-images.githubusercontent.com/69260167/89446555-0c691400-d72b-11ea-962c-fdce6d5ea23f.png)

Maker:  8f6142b7bb3e2c99677d60fad9212e29a8d21665fe1f0fe05a58d70417b3fe6b
Taker: 8dc74867ec0b772d6a1f9e2e8c20181a4b85664b679f80f403d71d8a7e53d2d6
Deposit: NULL

Bisq version: v1.3.6

Other notes:

[2020-08-05 22:38] leo816 commented on #470
please write down the maker and taker fee as all the other reimbursement requests

[2020-08-07 14:42] ceilican opened #472 "Fee reimbursement for trade JTI7I0HH"
![Screen Shot 2020-08-07 at 11 37 30](https://user-images.githubusercontent.com/1809436/89656837-88d23300-d8a2-11ea-8403-56a6d78da3f2.png)

Maker: 1d2991d010566da39952b36c7d5b8f847e3734042b64dd4ca029b9e915b51de3
Taker: 4eb1780edd3c9e0b79dbd4e4e85cecf1d2497096b7312ddcbb9c9e39ad216fa2

Bisq version: 1.3.6

Other notes:

[code]

[2020-08-07 14:47] ceilican opened #473 "Fee reimbursement for trade 090091"
![Screen Shot 2020-08-07 at 11 43 40](https://user-images.githubusercontent.com/1809436/89657410-67be1200-d8a3-11ea-8296-67ae33480ee9.png)
![Screen Shot 2020-08-07 at 11 43 51](https://user-images.githubusercontent.com/1809436/89657414-6a206c00-d8a3-11ea-8673-257cd6de5445.png)

Maker: 51f2bd931b0e4ad5200c2b18675590ff2cff4aa6165ad1935f021d8b2ed0712c
Taker: 4f71cd3731d6045af9ae62eeba543abc76aa034f66

[2020-08-07 14:50] ceilican opened #474 "Fee reimbursement for trade 59268902"
![Screen Shot 2020-08-07 at 11 49 58](https://user-images.githubusercontent.com/1809436/89657880-2ed26d00-d8a4-11ea-90ef-b09b55a278f4.png)
![Screen Shot 2020-08-07 at 11 50 14](https://user-images.githubusercontent.com/1809436/89657888-3134c700-d8a4-11ea-9af4-e4d62d2b7710.png)

Maker: 03987f82f798aeae5cf2ec4ac37b8b00d4e23ba6a840057bb2d96468b73cbd81
Taker: a4cbf69612e5b61d99f5e888ce2d84a35d74bd2d2e

[2020-08-07 14:53] ceilican opened #475 "Fee reimbursement for trade pwhnsmce"
![Screen Shot 2020-08-07 at 11 51 52](https://user-images.githubusercontent.com/1809436/89658153-8ffa4080-d8a4-11ea-9079-17d499678ad1.png)
![Screen Shot 2020-08-07 at 11 52 03](https://user-images.githubusercontent.com/1809436/89658159-91c40400-d8a4-11ea-9ddc-c1ec3d10b635.png)

Maker: 91482f63953626c2af8be74de0d2de610905d3e1ee431684bba7996a0e0a7970
Taker: 9c96de7764775f726b4b7328e3b478aa1e44a2b542

[2020-08-07 14:55] ceilican opened #476 "Fee reimbursement for trade ph0ed"
![Screen Shot 2020-08-07 at 11 54 50](https://user-images.githubusercontent.com/1809436/89658405-e36c8e80-d8a4-11ea-9e03-aa803abb5696.png)
![Screen Shot 2020-08-07 at 11 55 01](https://user-images.githubusercontent.com/1809436/89658408-e4052500-d8a4-11ea-9fcb-a45eda8e14ed.png)

Maker: 75465fcda7f24176ea99e1d815dd278a0fee34797cbf52b62ecf8af05a3cb8f9
Taker: 28d683f8a50d9ef9d83cdc22e5a064760ba6f662e9

[2020-08-07 14:57] ceilican opened #477 "Fee reimbursement for trade RDVd7"
![Screen Shot 2020-08-07 at 11 56 54](https://user-images.githubusercontent.com/1809436/89658608-229adf80-d8a5-11ea-93a1-8a48046db973.png)
![Screen Shot 2020-08-07 at 11 57 04](https://user-images.githubusercontent.com/1809436/89658614-24fd3980-d8a5-11ea-8355-d7af64ade9c8.png)

Maker:  8f6142b7bb3e2c99677d60fad9212e29a8d21665fe1f0fe05a58d70417b3fe6b
Taker: 8dc74867ec0b772d6a1f9e2e8c20181a4b85664b6

[2020-08-09 09:35] roundrobin42 commented on #440
Hi @leo816 the reimbursement request has been declined because the screenshot isn't complete? I think we need include this precision into template because is missing (the screenshot of https://github.com/bisq-network/support/issues/197 has not taker or maker info).

[2020-08-11 14:54] bisquit45 opened #478 "Fee reimbursement for trade 049252"
SCREENSHOT HERE
![image](https://user-images.githubusercontent.com/69520596/89911896-f5f60900-dbbf-11ea-9580-ac8a1dfc8a82.png)

Maker:  32ddab93290b01ad18211f332bd19e61512cb46d497db2b7d04e1e36a76a7442
Taker: cab1b0dc3bc9cc3416b2ec48880f5c14432d6d29da99b39fb4554534f9d93737
Deposit:   none

Bisq version: v. 1.3.7

Other notes:

[2020-08-11 14:55] bisquit45 commented on #478
My maker fees were taken, but it seems there was an issue on the taker (buyer) side.

![image](https://user-images.githubusercontent.com/69520596/89912907-1a9eb080-dbc1-11ea-8310-39aeb8604111.png)

[2020-08-12 07:42] delistandecrypt opened #480 "Fee reimbursement for trade 4954830"
<img width="912" alt="bisqfee" src="https://user-images.githubusercontent.com/49699337/89988504-89d6dc00-dc77-11ea-8259-38d3b949b0cf.png">

Maker: e15240be0fc6fa46373df9458aac0d9717bc78ea6df7fb9034a5c06202af995b
Taker: ba5f2a1022d66a24faed06c3a00a88b774d5f91327efa08cd1f7573b50f497d3
Deposit: ?????
Value: 0.00017800
Bisq version:
v1.3.7

[2020-08-12 07:47] MwithM commented on #480
The [deposit tx](https://mempool.space/tx/ba5f2a1022d66a24faed06c3a00a88b774d5f91327efa08cd1f7573b50f497d3) is valid and already confirmed! Have you tried to unfail this trade? https://bisq.wiki/Failed_trades

It also might be relevant for other failed trades to read this: https://bisq.wiki/Deposit_transaction

[2020-08-12 08:31] delistandecrypt commented on #480
Cannot unfail

"The trade cannot be completed. Deposit transaction is null"

[2020-08-12 11:21] #392 closed

[2020-08-12 11:22] leo816 opened #481 "Batch Reimbursement"
Previous batch reimbursement: #430

[2020-08-12 14:21] Bayernatoor commented on #480
You posted the Taker TxId twice above. You should have a deposit transaction ID as well. Can you post that one?

[2020-08-12 15:21] delistandecrypt commented on #480
Where do I get it from?

[2020-08-12 15:24] delistandecrypt commented on #480
I can only see this in my TX history, something was subtracted from me and the trade failed.

<img width="1643" alt="Screenshot 2020-08-12 at 16 23 25" src="https://user-images.githubusercontent.com/49699337/90034199-3c2e9380-dcb8-11ea-9221-be7ea65b3113.png">

[2020-08-12 15:25] delistandecrypt commented on #480
The fact that the error is "The trade cannot be completed. Deposit transaction is null" when I tried to restart the trade shows that Bisq screwed up with the deposit tx

[2020-08-13 07:33] roundrobin42 commented on #440
Can I have a response to know how to do to be compensated?

[2020-08-13 09:47] leo816 commented on #440
that is correct, thank you for adding all the info

[2020-08-14 05:24] roundrobin42 commented on #440
I have submitted the request again

[2020-08-14 23:09] thiagopaesm opened #482 "Fee reimbursement for trade eAkES [WIP]"
![PrintBisq](https://user-images.githubusercontent.com/8849975/90300009-75a50180-de66-11ea-878e-d598fdb709f5.png)

## Summary
- **BSQ requested**: 10370.134 BSQ
- BTC requested: 0.65 BTC
- BSQ rate: 0.00006268 BTC per BSQ

## Trade details
TradeID: eAkES-e5413106-8731-4181-bf98-62748047f534-134
Trader code: htr459
Deposit transaction id: 2443df589ea0569b562b2e37a98c6f7a9849e3c3f55b320f64db0eb2d52e

[2020-08-15 12:12] Bisq-knight commented on #482
I mediated this trade and I confirm:

- The seller did not show up and didn't reply neither my messages nor the trader's
- The buyer produced evidence of paying the XMR to the address in the contract
- The mediation suggestion I published was one for the buyer to reject and thus push the trade to arbitration. (which didn't work. The only way we got it to get the amount moved to the donation addres

[2020-08-16 12:03] RefundAgent commented on #482
The secret htr459 is correct and identifies thiogopaesm as the buyer in this trade.

[2020-08-19 18:28] PatVers opened #483 "Fee reimbursement for trade bexqna"
![Captura de pantalla 2020-08-19 a las 19 25 02](https://user-images.githubusercontent.com/66955857/90675125-f80c3780-e251-11ea-93cd-2ca46f7fcdac.png)

Maker:  0060052a973b9bc8e25d023c4e4d7f5307b4d5a93a2b04bd57539f51e471a96a
Taker: 8781f7900c367a80d847a3d8bfeabeba0881274c7c5cb76190d20cc89b58c535
Deposit: ..........

Bisq version:

1.3.7

[2020-08-23 23:46] mexicaliblues opened #484 "Fee reimbursement for trade 0RGLLIRL"
![Screenshot (2)](https://user-images.githubusercontent.com/70115976/90991090-177acb80-e596-11ea-8fd2-e38f5d73d142.png)

![Screenshot (3)](https://user-images.githubusercontent.com/70115976/90990924-af77b580-e594-11ea-9ae0-878b1dd87f71.png)

Maker:  85017441b8ce4fbf6dfff9e9121d7d53e51559b780e0e304bd353b832667effc
Taker:  6eaf6bec5056d45bfe343f2803f0ab6ae8a59381bb3e33523d026e61e97ddd3c
Deposit: n/a

[2020-08-24 08:07] RefundAgent opened #485 "Reimbursement for Refund Agent Cycle 16"
I am lacking 9850.6 BSQ which was bought to cover my refunds:

https://github.com/bisq-network/roles/issues/93

I thus request 9850.6 BSQ for reimbursement.

[2020-08-24 08:15] RefundAgent commented on #485
Proposal TxiD. 69d8225aa9f5b210cdb2ee9e8690b140c18e18a2c1a940175abc0c4e8152f653

[2020-08-24 15:59] ncstdc opened #486 "Dispute mediator/arbitrator payout on trade WTZETDH"
![Annotation 2020-08-24 104340](https://user-images.githubusercontent.com/2712736/91066242-1af26f00-e5f7-11ea-8a3e-cd375f2ac910.png)

Maker: 25fb231915131bb7709a0e712a4e16258b2bc254d9f587359a9c09a85f3531f7
Taker: 9fe5e51eb0bf4a55c95eaf5109dc77b50a33f68a667b941dbc103a739a89f511
Deposit: 62fab1a4f1d1a47fb94dd1d372fc3f33a12eddfef9dbe31f89a0b0d43c6e0b4c
Refund: a1427e16a733dacebf9847b9a67e440fb76b692a

[2020-08-24 17:12] ncstdc commented on #486
Additional Verification

Trade Wallet Address
[code]

Arbitrator Payout Address
[code]

[2020-08-24 18:58] ifarnung commented on #486
The security deposit was .006 not .06.  This needs to be corrected to be considered on its merit.

[2020-08-24 18:59] ncstdc commented on #486
Sorry, corrected

[2020-08-24 20:34] leo816 commented on #486
If the buyer stopped answering and didn't make the payment then it's pretty clear who didn't comply with the transaction. The seller did nothing wrong and he got penalized with time. The mediator should have closed the ticket in his favor. He even manifested how he wanted to continue with the trade and that if not, he should receive the other party's deposit.

[2020-08-25 07:54] MwithM commented on #486
@RefundAgent Why did you follow mediator's suggestion?

[2020-08-25 14:44] leo816 commented on #482
did you make the request on the DAO?

[2020-08-25 17:27] thiagopaesm commented on #482
Yes. Transaction ID 62fc31916b720b5569f8ba0620ad28fc9f42af93b45ccb1f0a2251713fd2747b (Reimbursement request)

[2020-08-25 17:37] thiagopaesm commented on #482
Yes. Transaction TX ID 62fc31916b720b5569f8ba0620ad28fc9f42af93b45ccb1f0a2251713fd2747b (Reimbursement request)

[2020-08-25 21:42] Bisq-knight commented on #486
I believe we need to take a step back and look at this as a failure in our communication process.

The refund agent does not have access to the history of chats with mediator and has to rely on what I share with him (a summary of our chat).

I shared this:
[code]

some facts about this trade:
* fiat payment was not made (no evidence was produced, nor receipt was confirmed)
* traders did not come t

[2020-08-25 23:39] ncstdc commented on #486
Correct, the buyer messaged me that he was having issues with his bank. I told him to not worry about the trade deadline and I can wait. The buyer then initiated mediation a few days later. The mediator asked if I wanted to cancel the trade. I said I would agree to cancel for 50% of the buyer's security deposit. There was no more communication for over a week. When I asked for an update, the media

[2020-08-26 08:06] leo816 commented on #486
@Bisq-knight Thank you for making this proposal and setting an example. I also think this will be the best outcome. Mistakes are bound to happen every once in a while and we have to continue make an effort to reduce them as much as possible.

[2020-08-26 12:46] Bisq-knight commented on #486
Replying your points one by one:

1) The trade protocol also needs to leave room for us to learn, develop it and the bisq application further. If we make bank blocking a violation suddenly all users using revolut would have been violating the trade protocol when they introduced a new UI a month ago. We need to leave room for this rule as it gives us signal as to what we should change or not. Or wo

[2020-08-27 18:19] delistandecrypt commented on #480
What is the ETA on this?

[2020-08-28 04:52] randomzen2020 opened #487 "Fee reimbursement for trade WNZNMW"
![bisq2](https://user-images.githubusercontent.com/70361515/91522610-4b206300-e8c0-11ea-83a0-567a5f689395.JPG)
Maker: e05ad8ee1d28e396f2aedd8e63b9c39c4469d6641791144684819e7283cb0115
Taker: a89a2536ca507a0b4eb8ada1f17f20ab51af07213fb8af015f8475e76bf6d02f
Deposit: 35a1c4a73655f75d2708707afadd8954496278332d9dd1b5ea512d107654faf1

Bisq version:1.3.7

Other notes: Trade failed, deposit spinning foreve

[2020-08-28 18:42] m52go commented on #486
@Bisq-knight appreciate your feedback and offer to make @ncstdc whole. Whether or not this proposal is approved would appear to set a precedent for the level of mediator skin-in-the-game going forward.

For this particular case I think [leo816 summarized everything](https://github.com/bisq-network/support/issues/486#issuecomment-679351626) quite well above.

I disagree. Of course this is a general

[2020-08-29 14:27] sqrrm commented on #482
Cases that have to be taken to the DAO should not get the deposit from the other party paid out to them in my opinion. The cost to the DAO of doing the refund is already high and rewarding extra funds to the aggrieved party could act as an incentive to take cases to the DAO. While I understand that the aggrieved party doesn't feel good about having to wait so long to get their funds back, it's a m

[2020-08-30 06:08] wiz commented on #482
@sqrrm Bisq only allows mediators to award a maximum of 50% of the other party's security deposit. The remaining 50% is kept by the DAO. I'm not sure why @Bisq-knight is awarding 100% in this case, maybe there are special circumstances, but I agree the DAO should keep some for the trouble.

[2020-08-30 13:25] sqrrm commented on #482
I am specifically talking about the refunds from cases that have spent their 2of2 to the donation address. In those cases the refund can be anything, either the refund agent awards it, or it's requested from the DAO through a vote.

For mediation cases I think there is already a discussion ongoing somewhere which will likely come up with a reasonable process.

[2020-09-03 20:30] cddc123 opened #488 "Fee reimbursement for trade e7a57ihi"
![Annotation 2020-09-03 152508](https://user-images.githubusercontent.com/70724116/92163987-2d8c5580-edfa-11ea-94ff-36ba3f9e568a.png)

Maker:  3466590f7f070e5487c5f35738ed4ac8ec9991bcb657cd3979abad52fa31dcdd
Taker: 2af67acee78d0901e3aa5c8da61b6b6662c08346f5ed55dc65e6be25bda3b091
Deposit: b7f9d0112253a04c30e4db935f9e32580d944a8d7cea50741f9ec9bee7ffbdfc

Bisq version: 1.3.7

Other notes:
Buyer's tak

[2020-09-03 22:18] ncstdc commented on #486
@Bisq-knight
B1NDgQp5kwsvhi54C9fdCu6iVofrhdqFLeV

`BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkMSgn74 Xxuz24vH9WotxBm 3YoBh87TWFKVPGP fRr9Keza1KOEDYM QVp6gIu9IqvwSEk RB3HsECH9ppgFp8 RNYZ7sSGmsiSDvF urPfEe2gkBtbnTo CMbb06ZtzDUbRHc irfVB9j3nz8uIGb xDLlNs87sMHRuhH MBZ9ddxjHc33WIR e4ecDbsV7TDXx1u 3YFQD1SQXKeTZYu 7awnJJQ6. END KEYBASE SALTPACK SIGNED MESSAGE.`

[2020-09-05 10:12] delistandecrypt commented on #480
Seriously, how long this is gonna take? It's been 1 fucking month already...

[2020-09-05 18:22] delistandecrypt opened #489 "Fee reimbursement for trade FKQPH"
<img width="895" alt="Screenshot 2020-09-05 at 19 17 47" src="https://user-images.githubusercontent.com/49699337/92311168-af23e500-efac-11ea-924f-a4732d625c29.png">

Maker: 71756b228dce4f1bd6c4e4d1382af88543cdf05d37a649b3690f2b234b036e7f
Taker: 0db014b1e11de52f4dd55aae8d97ad41ce10d0fcaea1213f1a416633c95d7bf8
value: 0.00020920

Bisq version: v1.3.7

I need reimbursements of the Maker tx:  20920 sat

[2020-09-06 15:46] roundrobin42 commented on #440
I close the issue because Compensation request has been accepted

[2020-09-06 15:46] #440 closed

[2020-09-07 14:00] Bitcoinseller1 opened #490 "Fee reimbursement for trade Y1W1HTL"
![image](https://user-images.githubusercontent.com/70901424/92394524-fed7ed00-f121-11ea-8d28-b74b045aea16.png)

Maker:  1827915aa46ceee1e3314bbe653bbaff96cf2472eb1ccc5d2e90880bac621b01
Taker: c820a418b127307e83aef0a803bf08fef9181a61695135bef2216f1f248908e4
Deposit: a42d42502a91aaa120c9dba9ca5ba4e7467fe54b540d5f62d8aca216514d1e2b

Bisq version: v.1.3.7

It's in failed folder. But there is no error

[2020-09-07 15:12] takeeatback opened #491 "Fee reimbursement for trade Y0RCUV"
![fail](https://user-images.githubusercontent.com/65305927/92400514-e693ae00-f0e0-11ea-9350-f64487bcb837.PNG)

Maker:  fb109a0c21b274a3ceb3cc44483d56d0b73fd54e16e66e0ebecb963a0b007dce
Taker: ee3e146a70a69d29102bf1651ca7bdf104e0592e4b88224bbba1d16fcffd8cdc

Bisq version: v1.3.6

Other notes: trader said in chat he lost connection or something while making the trade. The confirmation thing never hap

[2020-09-08 21:52] chimp1984 commented on #486
Thanks @Bisq-knight for your proposal and taking responsibility.
The new feature for detecting option trade should help to separate real bank issues with pretended ones.
The summary note should always give a correct sumamry of the case. The arbitrator will receive that summary note when a dispute gets to him, so that should help as well to avoid such situations in future.
This case shows that even

[2020-09-08 22:02] chimp1984 commented on #482
This in not correct. It is 0.003 BTC as min refund independent of the sec. deposit to keep some incentive that the losing peer accepts the mediated payout suggestion. The arbitrator can set any amounts also 0.

I am not sure if I agree with @sqrrm to not give the peers deposit in such cases to the victim. The hassle and time loss to to a DAO reimbursement as well as the volatility and liquidity ri

[2020-09-09 20:59] Akira45-0 opened #492 "Fee reimbursement for trade EvHyND7"
![grafik](https://user-images.githubusercontent.com/63785272/92654323-f8976b80-f2ef-11ea-99c5-76f7b86afba8.png)

Maker:  cad6cf4e325053029e96518b5a633f5a0dc7991747339b38d016f8a6edb5d3e2
Taker: 43897caacdca4d9e589761c0ee958e9f31338b114621969be297449a323e98da
Deposit: ..........

Bisq version: 1.3.7

[2020-09-10 21:08] ajchess opened #493 "Fee reimbursement for trade hl3mk"
![snippet](https://user-images.githubusercontent.com/71101888/92806393-94bc8380-f37f-11ea-9af7-0b257d92590a.PNG)

Maker:  0.00005720
Taker: 0.00017160
Deposit: 0.01566250

Bisq version: v1.3.7

Other notes:

[2020-09-11 07:30] patrihito opened #494 "Fee reimbursement for trade PULIEWO"
![20200910_bisq](https://user-images.githubusercontent.com/60511939/92883140-e3662e00-f410-11ea-9e39-bad37994d1c2.png)

Maker: b803068025873769256e3efac0df63c65e6db03b947c5a92a4399493429cf9ae
Taker: a21314d9866aeea21247aebce81241f9114bfbb721010cf743737773c577500c
Deposit: 30a186cbc5c418b2746d68fca6c15e9f3e9d37acd400b156e692b3c2f14f9cc4

Bisq version: v1.3.7

Other notes: Trade failed due to networ

[2020-09-11 07:32] Ke4e5 opened #495 "Fee reimbursement for trade 53309238"
![imagen](https://user-images.githubusercontent.com/71121045/92883551-41931100-f411-11ea-9f8b-2edebf970319.png)

Maker:  f585fcfa16868fdbf24a8bedda71332e3495d01c63a968fd12f3587ff89798c8
Taker: ed5d193d4f4401e19f7e15b0f5e0f775850025b30c43835866de3d1f440cd10f
Deposit: NA

Bisq version: v1.3.7 (offer created long time ago)

Other notes:

[2020-09-11 13:02] leo816 commented on #435
Will be reimbursed with #481

[2020-09-12 20:08] slegaP opened #496 "Fee reimbursement for trade knoemlr"
![image](https://user-images.githubusercontent.com/71106999/93003989-42ab6780-f511-11ea-9f54-46c47296bc8d.png)

Maker:  ea8b530ebf1c4b487ac7c666d006e271de130058c49aee15e0f4922dc93012b6
Taker: 26e183a8e96d4bb14cfe9b691bf665c9a95e8a0200af28a55d90914fa02719f0
Deposit: 06d903da682f31f6f3e9911d2da9ae1096d3271eab965024c341b70ff75f1704

Bisq version: 1.3.4

Other notes:
The transaction ended up in failed

[2020-09-13 22:15] Bisq-knight commented on #486
Just following up on this. The proposal has been rejected in the DAO and @ncstdc has provided the address above and I have verified it on KB with the signature of the account who has contacted me, which proofs the GH account of @ncstdc agrees with what the account on KB discussed with me.

I will initiate the transfer to @ncstdc and post the details here as agreed

[2020-09-14 05:04] ncstdc commented on #486
BSQ Received from @Bisq-knight
`BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkA8ZpUo 1Vb2qdkYgyBpM9i 5ZLm95DPnQliecp D0l02sbKb9qz5Py pVhnIVocAIlXmXo F80iA42Duexh8yJ JP0EbQJzbzws8qx Qk8NDzgsfjmSf8y ni7PiPEfFA2rtbW G0QCi95IUBjI5Gs LwImguAYZcIyuNu 6Z3C7HduOQwudjX exHBHTcCcJm88iB 1KQfD9iRKFxA0MX U. END KEYBASE SALTPACK SIGNED MESSAGE.`

[2020-09-14 05:04] #486 closed

[2020-09-15 20:13] Bisq-knight commented on #486
Just reposting so it cannot be edited:

BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5weRa0zkA8ZpUo 1Vb2qdkYgyBpM9i 5ZLm95DPnQliecp D0l02sbKb9qz5Py pVhnIVocAIlXmXo F80iA42Duexh8yJ JP0EbQJzbzws8qx Qk8NDzgsfjmSf8y ni7PiPEfFA2rtbW G0QCi95IUBjI5Gs LwImguAYZcIyuNu 6Z3C7HduOQwudjX exHBHTcCcJm88iB 1KQfD9iRKFxA0MX U. END KEYBASE SALTPACK SIGNED MESSAGE.

[2020-09-16 09:07] #398 closed

[2020-09-16 09:09] #371 closed

[2020-09-16 16:38] MinimalStructure opened #497 "Fee reimbursement for trade 7129251"
7129251

![BisqReimbursment](https://user-images.githubusercontent.com/69333458/93366258-c0b48a80-f7ff-11ea-9272-1fbf5f11e54c.png)

Maker transaction id: 039fe173f5c045001637bea46f19cf8dbbfbe399947095766e9717c2cddeedec
Taker Transaction id: f101de7b81a08fcd5a5a34766f302494d0e38a03b48883ae46a798cc07e9ca50
Bisq version:1.3.4

Other notes:

There was a failed transaction: The trade could not be compl

[2020-09-16 16:44] scubasound opened #498 "Fee reimbursement for trade wpudgin"
<img width="838" alt="Screen Shot 2020-09-16 at 12 20 36" src="https://user-images.githubusercontent.com/8582004/93366916-d040cd00-f819-11ea-8b3b-7ab22d59eb7e.png">

Trade id: wpudgin-6ada0ae2-e5a8-4c6d-91c9-2610127617f4-137
Maker: fb04e25dd7fab4a160b236fee323fc5028fb9c54e8730af4d4f207458fd20d26
Taker: 2c9c5a9eec83efc73103f385e58e5b35b08597ae388b4202f251a15e32dd2baf

Bisq version: v1.3.7

Please r

[2020-09-17 01:43] scubasound opened #499 "Fee reimbursement for trade KQMPQZ"
<img width="846" alt="Screen Shot 2020-09-16 at 21 29 50" src="https://user-images.githubusercontent.com/8582004/93409528-1707e480-f865-11ea-8508-07b297d41653.png">
Trade ID: KQMPQZ-f62f3016-17df-489d-a027-95bad8e97632-137

Maker:  97c527e0e8199f44d98585c04c536fb2436b646871e2e14332bbaaa094c7ef12
Taker: 2c9c5a9eec83efc73103f385e58e5b35b08597ae388b4202f251a15e32dd2baf

Bisq version:
1.3.7

[2020-09-20 05:46] invertedbobb opened #500 "Reimbursement request for trade MZEFILM"
![NKgCt1t](https://user-images.githubusercontent.com/45833017/93695180-45f7b200-fb14-11ea-93af-8612f335a520.png)

Maker:  6bf5336a1de66b97065403d258881d16b9f1ba109b6c5590056363b150fd861e
Taker: e4dc8ee45a145f90995a436eecca5b98f1763f0c290af12294374964d860b03d
Deposit: a2df24b89a4ec7e3244d09c914a382f84511e032639e36b4e37a819904aabe79

TradeID: MZEFILM
Time/Date: 25 aug 2020, 17:29
Payout txid: 90a378

[2020-09-20 05:57] invertedbobb opened #501 "Reimbursement request for trade LMKSE38C"
![wnDryFh](https://user-images.githubusercontent.com/45833017/93697218-cec31d80-fb15-11ea-956c-da7c8439da47.png)

Maker: 75f07c01dfda037c75d627f64738f2ddadfb043493017a167670ce52d0ee9232
Taker: ee28a7187d23266b1ebb18fe5bfc4b328762b06899fdb4a676aeba3e7ee869b9
Deposit: c0f9793a82a4713b5f0c4137e12d9d4688e82de71024292a07aacbc95e35af32

TradeID: LMKSE38C
Time/Date: 25 aug 2020, 17:29
Payout txid: 37af92

[2020-09-20 05:57] invertedbobb opened #502 "Reimbursement request for trade 49320"
![cdah7LM](https://user-images.githubusercontent.com/45833017/93697636-f0240980-fb15-11ea-9c47-3fb40a702af2.png)

Maker: 71a7f0d2a5be250e774d8a80ccdeb387f3afd9c15649b559de8c17bbf8281f59
Taker: 8805b5f3ad1ba191cb06d9c643df51b009a63df3828ca7e6167961d626370230
Deposit: dda9eb04c7ed6a05ec33b131d34f06866c47b45cd923e4269019bc430d450fab

TradeID: 49320
Time/Date: 24 aug 2020, 22:10
Payout txid: N/A (fund

[2020-09-20 08:36] wiz commented on #500
@invertedbobb who was your mediator for this trade? please tag them as they will need to confirm the details of the case... and of course I don't know all the details, but 0.42 BTC is about $5000 which sounds way too much for just a delay compensation, this wasn't an intentional fraud or chargeback, you just had to wait a while, so I would suggest 0.14 BTC in this case which is about 1/3 of the ot

[2020-09-20 08:45] wiz commented on #502
Who was your mediator for this trade? You will need to tag them and have them confirm the details of your claim.

Since this isn't actually a typical reimbursement request for funds that were donated to Bisq, but instead **a reimbursement for funds lost due to a bug in Bisq**. the circumstances need to be considered by the DAO stakeholders carefully, mainly:

If the DAO refunds you the 0.42 BTC th

[2020-09-20 08:51] wiz commented on #501
Who is your mediator for this trade? Tag them so they can confirm the details of your claim.

Strictly speaking, if you did not make the payment, you are the defaulting party for this "option trade", but I understand the reasons for wanting to cancel the trade due to the seller going unresponsive and having other trades fall into mediation. If I were the mediator on this trade I would merely sugge

[2020-09-20 14:49] invertedbobb commented on #502
@wiz What? Why would i be trading with myself? If the reason would be to scam the DAO for 0.42 btc i wouldn't be making many other trades (44) over the weeks before that and paying all the fees ( i paid a total of 0.24 btc in fees with this trade partner ), let's not even talk about the losses that would cause because of price difference.
Now sure, i can't think of some way to prove i'm not tradin

[2020-09-20 14:56] invertedbobb commented on #501
@wiz I didn't default. The trade partner stopped responding and this made me cautious to pay.
Paying would have resulted in the full deposit of [TradeID 49320](https://github.com/bisq-network/support/issues/502) being lost if trade partner never decides to close these trades, which has happened repeatedly in the past to me and others as you're aware. Not paying this small trade was merely intended

[2020-09-20 15:38] chimp1984 commented on #502
@invertedbobb
The security model of reimbursement eiher by the refund agent or by the DAO direclty is based on the fact that the funds from the trade are sent to the burningman donation address (the burningman trades the BTC to BSQ and burns the BSQ).
If the funds are not sent there a malicious trader could easily exploit that model by doing a self trade, then bring it to refund agent with one pee

[2020-09-20 16:31] chimp1984 commented on #493
Please post the 2 tx IDs as text strings as well, so reviewers can easier check them on block explorers.

[2020-09-20 16:35] chimp1984 commented on #500
I agree that is not the correct strategy.

[2020-09-20 16:45] chimp1984 commented on #500
I can confirm the validity of the deposit and payout tx:
https://blockstream.info/address/3KUWY4YpHanPRnXMjwgY33NgdbayExNy4b

@Bisq-knight Can you confirm the data posted?

[2020-09-20 16:49] chimp1984 commented on #501
@invertedbobb Who was the mediator?

[2020-09-20 16:52] chimp1984 commented on #501
I can confirm the validity of deposit tx to payout tx:
https://blockstream.info/address/32EDijv5QXwTDgZdVMZ6iYNqeucPKBYBPW

@Bisq-knight Can you confirm the posted data? Why did you give the not responding peer his sec. deposit back?

[2020-09-20 16:55] chimp1984 commented on #502
I can confirm the validity of the deposit tx:
https://blockstream.info/address/3GHPq6DW7QJ9oNbzyX5ozrMeBJwFan8fx2

But as @invertedbobb stated there is no delayed payout tx.

@leo816 Why did you suggest a refund to the not responding peer? Can you confirm the data stated here?

[2020-09-20 17:01] chimp1984 commented on #495
@Ke4e5 Please post the peers onion address. That can help us to figure out why deposit txs are not set.

[2020-09-20 17:02] chimp1984 commented on #494
@patrihito Please post the peers onion address. That can help us to figure out why the delayed payout transaction was not set.

[2020-09-20 17:05] chimp1984 commented on #494
NACK

The funds from the deposit tx have been paid out:
https://blockstream.info/address/39JBENPXhSpKFuuMHtyGjwWuV7eNCMcJKr

@patrihito Did you get the funds on your wallet? Seems the peer accepted late your acceptance or the like.
You should have received the funds on either 1E3wiTTFVjq2r3Qd94ngkPM1BG9BAdrwnd or 1P7n9HHd5cXZs5k8Qvp1Jzyn1b9gPdmR1t .

[2020-09-20 17:06] chimp1984 commented on #492
The taker fee tx is not existing.
Maker fee tx exists and the request seems valid to me.

@Akira45-0 can you please post the peers onion address? That can help us to find out what is causing those issues.

[2020-09-20 17:21] chimp1984 commented on #462
@Akira45-0

Here again is one of the trade fee txs paid to the trader himself:
https://mempool.space/address/18ZHdui3aNhvbaZuisAFk44RN68QHCcKBC

As that happens with same user as in https://github.com/bisq-network/support/issues/492 I assume you are the scammer here and free-ride Bisq by not paying the trade fee. Greedy bastard!

[2020-09-20 18:19] Akira45-0 commented on #492
Peers onion address is osh4su7gj56c6f6q

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Sunday, 20 September 2020 19:07, chimp1984 <notifications@github.com> wrote:

[2020-09-20 18:22] Akira45-0 commented on #462
What?

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Sunday, 20 September 2020 19:21, chimp1984 <notifications@github.com> wrote:

[2020-09-20 18:43] chimp1984 commented on #381
@leo816 We have to be more careful when the error msg contains such critical information: Donation address of taker was invalid, that might have been the April scammer...

[2020-09-21 12:13] wiz commented on #500
For the record, this is an example of a Mediator's suggested payout being challenged by a trader, and using the DAO reimbursement process as the "Supreme Court"

[2020-09-21 17:51] chimp1984 commented on #500
It also shows that the quality of dispute resolution is not as it should be. The summary notes don't give any valueable information to judge. We need further information from @Bisq-knight about the reasons why he decided to refund the deposit ot the not responding peer, which should be penalized with not getting any refund.

[2020-09-21 18:38] Kg44545 commented on #495
gpcfgtj2na7zpt67.onion:9999

![imagen](https://user-images.githubusercontent.com/71665814/93807017-54e08080-fc4a-11ea-8595-9f28da542a9f.png)

[2020-09-21 19:10] chimp1984 commented on #484
Can you please post the onion address of the peer?

[2020-09-21 19:44] chimp1984 commented on #462
Was a mistake. Sorry. Thought we have found the April scammer, but was false positive ;-)

[2020-09-21 20:09] mexicaliblues commented on #484
Trading peers onion address
gljhnomfr6d2e6b3.onion:9999

[2020-09-21 20:11] chimp1984 commented on #480
I can confirm that both trade fee txs do not lead to a deposit tx. The lost trade fee should be reimbursed in the batch reimbursement. @leo816 Can you take care of it?

[2020-09-21 20:13] chimp1984 commented on #482
Confirm that the delayed payout tx was done: https://mempool.space/tx/78cfa9deb163f215f6ab6f998fce352698e3e4e7bb25d1481a39023d018ddf54

[2020-09-21 20:18] leo816 commented on #480
yes, planning on finishing the batch reimbursement today

[2020-09-21 20:37] chimp1984 commented on #500
@invertedbobb Can you PM me on keybase the XMR tx key so I can verify the XMR payment?

[2020-09-21 21:05] chimp1984 commented on #502
Here is my suggestion for how to deal with the issue with the 3 related cases of @invertedbobb:

https://github.com/bisq-network/support/issues/502
Trade 49320:
Buyer has no del. payout tx. No XMR sent. Seller not responding.
Trade amount: 2.00 BTC
Security deposit (buyer/seller): 0.42191307 BTC / 0.42191307 BTC
Peers onion: 47kfb2ryxubechhw3vez5x2vnw5mibascf47qki6zdoo6jsv

https://github.com/bisq

[2020-09-21 21:22] chimp1984 commented on #496
@slegaP Can you PM me on keybase (same user name as here) and send me the log files so I can investigate the issue?
If there is no delayed payout tx we cannot do a normal reimbursement. We need to verify how that could happen.

Did you sent the USD?

[2020-09-21 22:01] chimp1984 commented on #500
I can confirm the XMR was sent by the tx key he provided me.

[2020-09-21 22:29] chimp1984 commented on #488
Taker fee tx and deposit tx do not exist. Fee reimbursement is justified.

[2020-09-21 22:29] chimp1984 commented on #487
Taker fee tx and deposit do not exist. Fee reimbursement is justified.

[2020-09-21 22:33] chimp1984 commented on #490
The deposit tx is not paid out to the delayed payout tx. So it is not ready for reimbursement.
@Bitcoinseller1 can you select the trade in failed trades and click 'cmd+y' that will revert the trade so it is in pending trades again. After that open arbitration (click button review mediation result) and reject. If it was not in mediation yet you need to first go in mediation, once they closed it you

[2020-09-21 22:37] chimp1984 commented on #466
NACK

The trade got paid out as you can see here:
https://mempool.space/address/3CHnPFmZrRNWppfeY4pMxXXj91RBFeZHYU

You should have received the fund on 1LbTnpZyPisGwu8trziYTU1tD5YVHC6cpj or 1MS2rnA6uHzxvhsjdiSidQXE2Z7aVjXrRu

[2020-09-21 22:37] chimp1984 commented on #465
NACK
The trade has been paid out:
https://mempool.space/address/32t2G6zRCZ22W19A1o8BpnYBDS4shPBzgt

[2020-09-21 22:38] chimp1984 commented on #464
NACK

There is no delayed payout tx publsihed:
https://mempool.space/address/38U2EdV8iYRrr781kZTgbhDgppznfoCY6F

Funds are still locked in the deposit tx. You need to open an arbitration case.

[2020-09-22 07:48] #494 closed

[2020-09-22 08:31] leo816 commented on #468
information is missing

[2020-09-22 10:43] leo816 commented on #434
payout was made correctly here

[2020-09-22 10:43] #434 closed

[2020-09-22 11:11] #436 closed

[2020-09-22 11:13] #437 closed

[2020-09-22 11:15] leo816 commented on #438
Will be reimbursed with #481

[2020-09-22 11:18] leo816 commented on #441
Will be reimbursed with #481

[2020-09-22 11:20] leo816 commented on #442
Will be reimbursed with #481

[2020-09-22 11:33] leo816 commented on #443
Will be reimbursed with #481

[2020-09-22 11:57] leo816 commented on #445
Will be reimbursed with #481

[2020-09-22 12:29] leo816 commented on #444
Will be reimbursed with #481

[2020-09-22 12:32] leo816 commented on #446
Will be reimbursed with #481

[2020-09-22 16:18] leo816 commented on #447
Will be reimbursed with #481

[2020-09-22 16:20] leo816 commented on #448
Will be reimbursed with #481

[2020-09-22 16:29] leo816 commented on #449
Will be reimbursed with #481

[2020-09-22 16:30] leo816 commented on #450
payout was made in this one

[2020-09-22 16:31] #450 closed

[2020-09-22 20:41] leo816 commented on #451
Will be reimbursed with #481

[2020-09-22 20:50] leo816 commented on #452
Will be reimbursed with #481

[2020-09-22 20:51] leo816 commented on #453
payout was made on this one

[2020-09-22 20:51] #453 closed

[2020-09-22 20:53] leo816 commented on #454
payout made

[2020-09-22 20:53] #454 closed

[2020-09-22 20:55] leo816 commented on #455
payout made

[2020-09-22 20:55] #455 closed

[2020-09-22 20:56] leo816 commented on #456
Will be reimbursed with #481

[2020-09-22 20:58] leo816 commented on #457
Will be reimbursed with #481

[2020-09-22 20:59] leo816 commented on #458
Will be reimbursed with #481

[2020-09-23 17:55] leo816 commented on #463
payout was made here

[2020-09-23 17:55] #463 closed

[2020-09-23 17:58] #465 closed

[2020-09-23 18:00] leo816 commented on #469
Will be reimbursed with #481

[2020-09-23 18:02] leo816 commented on #471
Will be reimbursed with #481

[2020-09-23 18:03] leo816 commented on #472
Will be reimbursed with #481

[2020-09-23 18:04] leo816 commented on #473
Will be reimbursed with #481

[2020-09-23 18:05] leo816 commented on #474
Will be reimbursed with #481

[2020-09-23 18:07] leo816 commented on #475
Will be reimbursed with #481

[2020-09-23 18:08] leo816 commented on #476
Will be reimbursed with #481

[2020-09-23 18:11] leo816 commented on #477
Will be reimbursed with #481

[2020-09-23 18:14] leo816 commented on #478
Please delete the information below the first image right before the maker and taker. Otherwise it won't get processed.

[2020-09-23 18:16] leo816 commented on #480
Will be reimbursed with #481

[2020-09-23 18:17] leo816 commented on #499
Will be reimbursed with #481

[2020-09-23 18:18] leo816 commented on #498
Will be reimbursed with #481

[2020-09-23 18:28] leo816 commented on #497
format is not correct and is not getting processed, please take a look at other reimbursement requests and take them as example.

[2020-09-23 18:32] leo816 commented on #495
Will be reimbursed with #481

[2020-09-23 18:35] leo816 commented on #492
Will be reimbursed with #481

[2020-09-23 18:36] leo816 commented on #491
Will be reimbursed with #481

[2020-09-23 18:48] leo816 commented on #488
Will be reimbursed with #481

[2020-09-23 18:52] leo816 commented on #487
Will be reimbursed with #481

[2020-09-23 18:58] leo816 commented on #489
information provided is not being processed, please take another accepted reimbursement request as an example and edit this one.

[2020-09-23 19:00] leo816 commented on #321
these reimbursement requests were made with Tomas as Fee reimbursement agent and they seem to have been closed. You should have received the funds through btc. If not please contact us through Keybase on the support channel. (my handle is @leo816 )

[2020-09-23 19:04] leo816 commented on #459
please erase the faded indications under each section.

[2020-09-23 19:04] leo816 commented on #460
please erase the faded indications under each section.

[2020-09-23 19:05] #466 closed

[2020-09-23 19:13] delistandecrypt commented on #489
What do you need?

[2020-09-23 21:27] invertedbobb commented on #502
@chimp1984 Yea the missing funds are unfortunate but my main concern is getting the bulk of it back and compensation as far as possible. We'll see if the trade partner ever shows up again, i doubt it (from past experience), but if that were to happen, we can handle it from that point and refer to this topic.

I've created a separate DAO request for [MZEFILM](https://github.com/bisq-network/support

[2020-09-24 00:10] invertedbobb commented on #501
Further details and merge proposal [HERE](https://github.com/bisq-network/support/issues/502).

[2020-09-24 07:04] wiz commented on #501
@Bisq-knight can you please respond to this case?

[2020-09-24 07:05] wiz commented on #502
@leo816 can you please respond to this case?

[2020-09-24 09:50] leo816 commented on #502
I can confirm the data @invertedbobb provided, the BTC Seller did respond initially and it seems that after the buyer asked for the delayed payout transaction he stopped replying. Given that the buyer didn't make the xmr payment and that the seller was probably new to this situation, I didn't think it was appropriate to take his security deposit. I sent him a private message to try and get hold of

[2020-09-24 11:59] Bisq-knight commented on #500
In this trade I got the following:
Both parties replied my messages, here's a summary based on the timestamps in my bisq client

* 25th of Aug - trade started
* 30th of Aug - Buyer says Seller is not responding (did not provide proof of payment). I suggested to wait
* 4th of Sept - The Seller said this trade went into Failed on his end and didn't answer anything else
* 5th of Sept - The delayed pa

[2020-09-24 17:06] Bisq-knight commented on #502
@leo816

On keybase? or in Bisq? Since he's the quiet party in 3 trades, would be nice to try and reach him by other means

[2020-09-24 17:53] Bisq-knight commented on #502
Btw, @chimp1984 I think there's a typo on your math, or I'm missing something:

or I didn't quite get which outputs Buyer should get. Can you elaborate?

I put it on a table format so it is easier to discuss:

| Trade Id  | Seller Deposit | Buyer Deposit | Trade amount | total amount | Seller     | Buyer      | Reason                                                  |
|-----------|----------------

[2020-09-24 17:57] Bisq-knight commented on #501
This trade followed the same pattern as [MZEFILM](https://github.com/bisq-network/support/issues/500#). The mediation suggestion was submitted AFTER the delayed payout tx was published and confirmed.

Here's the timeline (it resembles a lot the other one)
- 25th of Aug - trade started
- 31st of Aug - Mediation started - I contacted both asking for their explanations
- 30th of Aug (I think timestam

[2020-09-25 09:00] Bisq-knight commented on #502
Thinking over it and rereading what @chimp1984  posted. I agree.  We should essentially reimburse the total available here to @invertedbobb:  3.75382614 BTC.

@invertedbobb in that amount you are covered for the XMR you spent and a significant part of the seller's deposits (although not all of it, since it is locked). Do we agree that is sufficient compensation?

[2020-09-25 12:17] delistandecrypt commented on #489
What extra info do you need?

[2020-09-25 16:21] invertedbobb commented on #500
@Bisq-knight You have not communicated these responses from the trade partner to me.
Your last mediation message to me was on 31 august telling me he has 10 days to respond. I acknowledged to wait that period.
After the time expired i published the delayed payouttx.

I would argue it is utter nonsense that his trade was failed, as he communicated with me in the chat of this trade initially about T

[2020-09-25 16:31] invertedbobb commented on #501
I'm puzzled why he communicated with you but not with me. Show some sign of life.

I think too strict opsec that locks you out of your system is your own responsibility, make backups, and backups of backups.
I would assume that somebody handling this amount of funds surely knows what they are doing. At least they should, and if things go wrong, the party they are trading with should not become vic

[2020-09-25 16:39] invertedbobb commented on #502
@Bisq-knight I agree with that, this is what i requested to the DAO. 0.91 BTC (49320 & LMKSE38C) + 2.84 BTC (MZEFILM)

If we / you can get a hold of the BTC seller again, he can claim the remaining funds that are currently locked up, and where he is the only one that has  the delayed payouttx available to release it to the donation address.
The situation can be handled from there with him, i don't

[2020-09-25 22:16] leo816 commented on #481
The batch transaction with txid
[598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a](https://blockstream.info/tx/1c29c8f02fa5af48c10c4ac77a7a739f927c30e414e7fa4543b3091e7071ec5c) has been broadcast and should be included in blocks in a few days.

<img width="1044" alt="Screen Shot 2020-09-26 at 00 12 49" src="https://user-images.githubusercontent.com/54798241/94320461-4a492280-ff8d-1

[2020-09-25 22:20] leo816 commented on #435
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #435 closed

[2020-09-25 22:20] leo816 commented on #438
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #438 closed

[2020-09-25 22:20] leo816 commented on #441
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #441 closed

[2020-09-25 22:20] leo816 commented on #442
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #442 closed

[2020-09-25 22:20] leo816 commented on #443
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #443 closed

[2020-09-25 22:20] leo816 commented on #445
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #445 closed

[2020-09-25 22:20] leo816 commented on #444
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #444 closed

[2020-09-25 22:20] leo816 commented on #446
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #446 closed

[2020-09-25 22:20] leo816 commented on #447
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #447 closed

[2020-09-25 22:20] leo816 commented on #448
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #448 closed

[2020-09-25 22:20] leo816 commented on #449
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #449 closed

[2020-09-25 22:20] leo816 commented on #451
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #451 closed

[2020-09-25 22:20] leo816 commented on #452
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #452 closed

[2020-09-25 22:20] leo816 commented on #456
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #456 closed

[2020-09-25 22:20] leo816 commented on #457
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #457 closed

[2020-09-25 22:20] leo816 commented on #458
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #458 closed

[2020-09-25 22:20] leo816 commented on #469
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #469 closed

[2020-09-25 22:20] leo816 commented on #471
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #471 closed

[2020-09-25 22:20] leo816 commented on #472
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #472 closed

[2020-09-25 22:20] leo816 commented on #473
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #473 closed

[2020-09-25 22:20] leo816 commented on #474
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #474 closed

[2020-09-25 22:20] leo816 commented on #475
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:20] #475 closed

[2020-09-25 22:20] leo816 commented on #481
Related issues were closed with:

`cat support-481.csv |gsed 1d|cut -d, -f1|uniq|xargs -I {} ghi close -m "Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913" {}`

[2020-09-25 22:20] leo816 commented on #476
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #476 closed

[2020-09-25 22:21] leo816 commented on #477
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #477 closed

[2020-09-25 22:21] leo816 commented on #480
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #480 closed

[2020-09-25 22:21] leo816 commented on #499
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #499 closed

[2020-09-25 22:21] leo816 commented on #498
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #498 closed

[2020-09-25 22:21] leo816 commented on #495
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #495 closed

[2020-09-25 22:21] leo816 commented on #492
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #492 closed

[2020-09-25 22:21] leo816 commented on #491
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #491 closed

[2020-09-25 22:21] leo816 commented on #488
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #488 closed

[2020-09-25 22:21] leo816 commented on #487
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/481#issuecomment-699182913

[2020-09-25 22:21] #487 closed

[2020-09-26 10:59] ceilican commented on #477
@leo816 , although I see the confirmed transaction (https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a), I don't see any of the addresses of the failed trade included there and the transaction doesn't appear in my Bisq wallet.

Could you tell me to which address the fee of this trade was reimbursed?

[2020-09-26 10:59] ceilican commented on #476
@leo816 , although I see the confirmed transaction (https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a), I don't see any of the addresses of the failed trade included there and the transaction doesn't appear in my Bisq wallet.

Could you tell me to which address the fee of this trade was reimbursed?

[2020-09-26 11:00] ceilican commented on #475
@leo816 , although I see the confirmed transaction (https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a), I don't see any of the addresses of the failed trade included there and the transaction doesn't appear in my Bisq wallet.

Could you tell me to which address the fee of this trade was reimbursed?

[2020-09-26 11:00] ceilican commented on #474
@leo816 , although I see the confirmed transaction (https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a), I don't see any of the addresses of the failed trade included there and the transaction doesn't appear in my Bisq wallet.

Could you tell me to which address the fee of this trade was reimbursed?

[2020-09-26 11:00] ceilican commented on #473
@leo816 , although I see the confirmed transaction (https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a), I don't see any of the addresses of the failed trade included there and the transaction doesn't appear in my Bisq wallet.

Could you tell me to which address the fee of this trade was reimbursed?

[2020-09-26 11:00] ceilican commented on #472
@leo816 , although I see the confirmed transaction (https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a), I don't see any of the addresses of the failed trade included there and the transaction doesn't appear in my Bisq wallet.

Could you tell me to which address the fee of this trade was reimbursed?

[2020-09-26 11:26] ceilican commented on #477
Actually I do see payments made to the following address associated with this trade:
1FzgJp3EfVdqwM6yHyqHATgB5FyYePneT8

However, this address does not appear in my Bisq wallet. The batch refund transaction (https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a) also does not appear in my Bisq wallet.

[2020-09-26 11:27] ceilican commented on #477
How can I reopen the issues?

[2020-09-26 14:33] Bisq-knight commented on #502
Agreed. Please post both proposals' transaction IDs here for reference so people reading the proposals can know which exact proposal this pertains

[2020-09-26 14:37] Bisq-knight commented on #500
yes, @invertedbobb let's keep the two things separate.

1) **your compensation** -> I read from [here](https://github.com/bisq-network/support/issues/502#issuecomment-699031864) that you agree with what we proposed. Good, we can close this part of the topic then. 👍

2) **precedence and what we should do about cases like this**. Like I said in the other message, @invertedbobb is welcome to add his

[2020-09-26 15:01] RefundAgent opened #503 "Reimbursement for Refund Agent Cycle 17"
I am lacking 21407.2 BSQ which was bought to cover my refunds:

bisq-network/roles#93

I thus request 21407.2 BSQ for reimbursement.

[2020-09-26 15:04] RefundAgent commented on #503
Transaction ID: bf0068bc***************b6846

[2020-09-26 15:06] Bisq-knight commented on #501
Trust me, Bitcoin will have it's own category in the Darwin Awards

[2020-09-27 12:05] Bitcoinseller1 commented on #490
Unfortunately this does not work. When I press ctrl+y I only get the error message: "The trade cannot be completed. Delayed payout transaction is null" It is still located in failed trades. Btw the mediator leo816 had already suggested this.

[2020-09-27 16:01] chimp1984 commented on #490
@Bitcoinseller1 With the next release we change the handling of failed trades, then you can simpoly move it back to pending trades. If you can wait until the release is out (or run from that PR branch if you are a developer https://github.com/bisq-network/bisq/pull/4566) would be easiest.

[2020-09-28 14:14] aamirazh opened #504 "Fee reimbursement for trade nAEPJO"
![image](https://user-images.githubusercontent.com/11139415/94442865-740f6e80-0172-11eb-9e70-6d5175107f0f.png)

Maker: 2c4370ae9c0598cf04ac89f5f19630dda18b0748116d4d1a31a0e1552b20e05d
Taker: 4310bbe835181913e1e806c075bc82a1e5aaf024a1b4debb27d857d35a469850

Bisq version: v1.3.9

Other notes: Trade was spinning forever, BTC deposit was never published in mempool. Resynced SPV and trade was in failed

[2020-09-29 16:41] sqrrm commented on #500
I basically agree with @invertedbobb here. There was a protocol violation, it should be punished. Giving some or all of the sellers deposit to the buyer seems ok, main point is that the seller should not get anything back for a case where they violated the protocol and the case was taken to the DAO.

The BSQ rate is not in line with the monthly rate we use for compensation requests, perhaps that's

[2020-09-29 16:48] sqrrm commented on #500
@invertedbobb Could you post the proposal transaction ID as well.

[2020-09-29 20:20] invertedbobb commented on #502
Added Bisq Proposal ID in OP.

[2020-09-29 20:20] invertedbobb commented on #500
Added Bisq Proposal ID in OP.

[2020-09-30 05:22] chimp1984 commented on #500
In old arbitration system there was a clear rule that after 2 days (not 100% sure anymore what was the max period) not replying the not responding peer has lost the case and deposit goes to 100% to peer. We have to enforce those rules more strongly. If there are UX problems or bugs causing that we need to fix it. But it seems that is not the major issue here.

[2020-09-30 08:25] nolim13 opened #505 "Fee reimbursement for trade uprarl"
![imagen](https://user-images.githubusercontent.com/72128378/94661028-ce413880-0306-11eb-96ba-adea06c782c0.png)

Maker:  5f2181f5da64df2f931b16ed9ba16f64126dcea5b41e3c87fea0dba21842fe0a
Taker: 39cf42f64aa1f360dcbc6dfeb2da2a5a0196b55df80e52b27620ad63ca3f37c8

Bisq version: 1.3.9

Other notes: This deposit tx was for a few time waiting in the mempools, and then it was considered invalid.

[2020-10-01 00:48] mexicaliblues opened #506 "Fee reimbursement for trade 8594209"
![image](https://user-images.githubusercontent.com/70115976/94753320-68dc5e80-037d-11eb-8dec-5d13375f0e23.png)
![image](https://user-images.githubusercontent.com/70115976/94753626-50207880-037e-11eb-9957-b93861dfbebf.png)

Maker:  496f6a21c9961275ac9f8bb5a0ee490b5dbb42d77cb1594235c66d873cb22a35
Taker: a72914682cc84722e6a639269b8f71ec5b8271e8f4025571d045bb6ce8c6b566
Deposit: Buyer: 0.0060 BTC / Sel

[2020-10-06 21:02] delistandecrypt commented on #489
@leo816 What info more do you need?

[2020-10-07 01:02] cmcnulty opened #507 "Fee reimbursement for trade 80891"
![Capture-anon](https://user-images.githubusercontent.com/638534/95275947-7d9e7380-080f-11eb-894f-eb1eacdbc459.png)

Maker:  dcf6192b144f124c6b194790375161816de260cbbb52646d74c632f47810f3a8
Taker: 3b4c3d84ab168d98def7bc7ffd5490aef481de2d34d6b55ed8ea17adf5a36b5f
Deposit: ..........

Bisq version: v1.3.9

Other notes:
Error message:
`An error occurred at task: BuyerVerifiesPreparedDelayedPayoutTx
de

[2020-10-08 12:02] leo816 commented on #507
please provide the btc address where you would like your fees to be sent

[2020-10-08 12:04] leo816 commented on #506
please provide the btc address where you would like your fees to be sent

[2020-10-08 12:31] leo816 commented on #505
please provide the btc address where you would like your fees to be sent

[2020-10-08 16:17] cddc123 commented on #507
@leo816 i am the maker/seller on this trade - do i need to create an issue also?

[2020-10-08 17:23] cmcnulty commented on #507
1G17x7thrReNeWoo71sYgpZYYMBsZ35RpY

[2020-10-08 18:01] cmcnulty commented on #507
@cddc123 I don't know if there was some way of salvaging the trade - didn't look like there was much to be done about the error message on the trade.

[2020-10-09 06:31] nolim13 commented on #505
1GUBeL6i5FmiMDfVhPYpFPSBFzmq3FzYkE

[2020-10-11 23:25] e9zcdR2uDU5xp4E opened #508 "Fee reimbursement for trade 9749404"
![image](https://user-images.githubusercontent.com/72713965/95692827-f5620900-0c28-11eb-913e-9cc1f472b090.png)

Maker:  d6e476930614e52a9f78d4549798f88d40470daf0d9985e2ba0303130ebb90ad
Taker: 2bd717da1d45ec08be165f2cbf83c3508639ab7549b16e2224202f93846c1f93
Deposit: ..........

Bisq version: v1.3.9

Other notes: Provide reimbursement to address `1PtAZqaqwDErAf9FYsbvPBTG7YRVmAYNDs`

[2020-10-13 02:00] mexicaliblues commented on #506
3QXitdnwhZ8X2WPHmNRjNoEBCHzWBX2J1Z

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, October 8, 2020 8:04 AM, leo816 <notifications@github.com> wrote:

[2020-10-14 07:55] Akira45-0 opened #509 "Reimbursement and compensation for trade 09687320"
Hello. I would like to get my coins and a compensation from the unresponsive trade partner's deposit for the trade 09687320. I am the maker and BTC buyer in this offer. I sent the XMR to the trading partner correctly. I would like to get a refund of my funds and a compensation from the unresponsive BTC seller's deposit. 1.206060 BTC by 30-day average price 0.00005671 BTC per BSQ makes 21267.15 BSQ

[2020-10-14 07:59] MwithM commented on #509
Who was the mediator if this trade?

[2020-10-14 08:00] Akira45-0 commented on #509
sjlho4zwp3gecspf

[2020-10-15 17:06] leo816 commented on #509
Payment was made to the donation address, Just contacted the Refund Agent about this case.

[2020-10-15 20:47] bisquit45 commented on #478
I just removed the info as instructed, please process the refund request.

[2020-10-16 07:52] delistandecrypt commented on #489
So this means the 20k satoshi are gone forever? I have asked for a month what info do you need, no response in this ticket, so I've been scammed? WTF

[2020-10-16 07:52] delistandecrypt commented on #489
WTF @leo816

[2020-10-16 07:57] leo816 commented on #489
Hi, sorry for the late reply I did not see your response. Please make another fee reimbursement request using the example as reference. Something is wrong with this one. Is not getting processed. Thank you for your patience and im sure it will get reimbursed on the next cycle

[2020-10-16 08:01] delistandecrypt commented on #489
Look, I provided all info in the screenshot and added all the fields as text, now I should figure out why your broken script and not processing it?

[2020-10-16 08:01] delistandecrypt commented on #489
WTF

[2020-10-16 08:10] leo816 commented on #489
The information is there, I don’t know why is not being processed which is why I mentioned that solution. It will be faster if you just create another one copying #480

[2020-10-16 11:40] delistandecrypt opened #510 "Fee reimbursement for trade FKQPH"
<img width="895" alt="image" src="https://user-images.githubusercontent.com/49699337/96253942-5f253e80-0fac-11eb-8e5a-d6f31079470c.png">

Maker: 71756b228dce4f1bd6c4e4d1382af88543cdf05d37a649b3690f2b234b036e7f
Taker: 0db014b1e11de52f4dd55aae8d97ad41ce10d0fcaea1213f1a416633c95d7bf8
Deposit: ?????

Bisq version:

v1.3.7

[2020-10-16 11:40] delistandecrypt commented on #489
Opened https://github.com/bisq-network/support/issues/510

[2020-10-16 11:40] #489 closed

[2020-10-17 00:12] wiz commented on #509
instead of posting a screenshot, can you please post the new cryptographically signed mediator's summary using v1.4.0

[2020-10-17 01:52] Akira45-0 commented on #509
Where do I find it? The mediation looks exactly the same in 1.4.0 for me.

[2020-10-17 13:26] Brakon21 opened #511 "Fee reimbursement for trade kvkrfpa"
![image](https://user-images.githubusercontent.com/66847697/96338023-53438600-1059-11eb-8a55-1d9c9694abbd.png)

Maker:  8dd687a42349898d73490cff5fcd06da96790c7d8203d2724c9685214569e7c3
Taker: fd67bad48b48cad4efaa87d48c05e7473ebf177a2b121d20c47efa55a07d87fe
Deposit:

Hi, my trade as a Maker failed, a received a request to restart BISQ, when I did transaction has disappeared and shown as failed. Ple

[2020-10-20 12:45] Akira45-0 commented on #509
OK, so I have reopened the trade, @leo816 closed it, but I still see it as opened, and without any signature. Maybe it's a bug, I don't know.

[2020-10-20 21:10] pazza404 opened #512 "Reimbursement for trade u3rv0j"
Maker fee transaction ID: 4d9bd3b731453c9ab58da26d498ea0c97602d9d2b8af5fe52e623c226794265c
Taker fee transaction ID:
8b3acd5a4f7625c1cb1cf45d2b80ee58b82bec07a89e7d3f788dbe7ab0b4403d
Deposit transaction ID:
3d3d41ee18d250518e64ab66adc4f29d950044438496d494ded5731def46dad3

* Trade ID: u3rv0j-e19d5675-67b8-4927-9a3b-6e387345ed69-136
* GitHub handle of mediator: @Bisq-knight
* KeyBase handle of mediat

[2020-10-20 21:23] wiz commented on #512
Since your trading funds are still locked in the deposit TX, you need to broadcast the delayed payout TX before you request reimbursement.

If it's not there for some reason, you should work with your mediator to investigate the bugs using log files and try and recover the delayed payout TX. However, from your story it sounds like the mediator didn't do a full investigation. Did you send your medi

[2020-10-20 21:31] pazza404 commented on #512
Sorry, I have updated the numbers.

Regarding the delayed payout, @Bisq-knight said this was not possible, but I'm happy to work to find a solution. I have sent the Json files, but not the log files.

Hopefully he can provide more information.

[2020-10-20 22:20] wiz commented on #512
Since the funds have not been sent to Bisq (yet), this is not currently an acceptable reimbursement request, since there is nothing to reimburse you from.

However, if you can prove to everyone that a bug in Bisq caused you to lose funds, the DAO stakeholders might vote to reimburse your loss. Work with your mediator on this.

[2020-10-20 23:00] pazza404 commented on #512
Understood. It sounds like the trade didn't appear in the mediator's dashboard, which I would suggest is the bug.

I'm sure @Bisq-knight can shed more light on the situation.

[2020-10-21 13:59] Brakon21 commented on #511
Hi, Can anyone help me to get refund?

[2020-10-21 14:07] huey735 commented on #511
@Brakon21 the refund is done once a month/cycle.

[2020-10-21 19:17] Brakon21 commented on #511
Noted

[2020-10-21 22:41] viperperidot opened #513 "Fee reimbursement for trade CEKNC"
Didn't realize there was a template to use, closing for now until I create with the template.

[2020-10-22 17:05] #513 closed

[2020-10-23 17:44] Bisq-knight commented on #512
@wiz  Logs from the trade date are not available as the trade is over 2 months old.

@pazza404 reached out to me on Keybase saying that I was the mediator for this trade. The trade never appeared in my dashboard. His peer never manifested himself, neither on Keybase nor any other means.

I'm afraid we don't have information to go by in terms of logs and, as, AFAIK, the logs go about 10 days back (

[2020-10-23 17:51] ypt0 opened #514 "Fee reimbursement for trade KJVEg"
![trade_KJVEg_2020-10-23_19 42 43](https://user-images.githubusercontent.com/73359715/97036421-194a1680-1568-11eb-8876-d9dea19c4d1b.png)

Trade ID: KJVEg
Maker:  57b7b89a33a9103a0e808ce2781370375d8ab1198381a2a894c0f5e754da4834
Taker: 92bba9aa5056edc1479bc9c05859409d65e22e067e664b523c1b9cd6b1b1d9bc
Deposit: 0.0060

Bisq version: 1.4.2

Moved to failed folder. Please reimburse fees.
Thank you.

[2020-10-23 18:41] pazza404 commented on #512
Thanks for your reply @Bisq-knight

I appreciate while I have no way of proving that I am not trading with myself, I assure you I am not.  I would be happy to provide any logs, file, screenshots you require that might help support my case.

The amount of compensation I am requesting is 0.013BTC, and I would much rather have the time back spent over the last 2 months trying to contact the Taker, or

[2020-10-23 20:14] pazza404 commented on #512
Would it be helpful for me to share the BTC Takers BSQ address?  I have looked up their address in the BSQ Mempool and can see that they completed other trades around this time.

Maybe this could help to either identify who this is or prove it's not me.

[2020-10-23 20:23] pazza404 commented on #512
![bisq chat](https://user-images.githubusercontent.com/73188628/97050720-cbd4a600-1575-11eb-942a-f1ef814ffa85.JPG)

![bisq support](https://user-images.githubusercontent.com/73188628/97050723-cd05d300-1575-11eb-8990-df1a01c08eb3.JPG)

Here are screenshots showing:

- The conversation with the trader.
- The support tab showing no response at all to my messsages.

[2020-10-23 21:03] pazza404 commented on #512
I have edited the above to include the trade amount (0.01BTC) which I failed to include in my original post.

I will also re-submit this to the DAO.

[2020-10-23 21:12] leo816 commented on #510
please post the BTC address where you would like to receive te reimbursement request

[2020-10-23 21:13] leo816 commented on #511
please post the BTC address where you would like to receive the reimbursement request

[2020-10-23 21:14] leo816 commented on #514
please post the BTC address where you would like to receive the reimbursement request

[2020-10-24 10:02] delistandecrypt commented on #510
bc1qxnzy4tg7d3scyanlnftxwzlaj5u64yea88tgfj

[2020-10-25 10:49] ypt0 commented on #514
Please reimburse to address 1NQDKR1MjgB99bdKvAYtCUc8fvbmqmTezC
Thank you.

[2020-10-25 14:14] Brakon21 commented on #511
Hi, use the below one:

bc1q3tkhl9kzar3z0xcxtamdkhgraeuesy695ftg50

thanks.

[2020-10-25 14:28] wiz commented on #512
@bisq-knight it's quite concerning to see this user's timeline of how it took a full 2 months from the time the trade was taken to the point where you told them to go on github. it sounds like you were unresponsive and it delayed the process, and the funds possibly could have been recovered if you had investigated the bug right away when the payout TX was still available in the log files.

[2020-10-25 16:35] jmacxx commented on #512
@pazza404 have you verified with certainty that your logs don't go back to August?  Depending on use, the logs might go back 6 months.  Bisq keeps 10 log files, each 10Mb in size.  Do you run Bisq 24/7?

https://bisq.wiki/Data_directory#Default_Locations

[2020-10-25 18:04] leo816 commented on #504
please post the btc address where you would like your funds to be sent

[2020-10-25 18:05] #481 closed

[2020-10-25 18:08] leo816 opened #515 "Batch Reimbursement"
Previous Batch Reimbursement: #481

[2020-10-25 18:37] leo816 commented on #368
This one was closed by @KanoczTomas please confirm if the payout was made correctly

[2020-10-25 18:41] leo816 commented on #460
provide btc address where you would like your funds to be released

[2020-10-25 18:52] leo816 commented on #326
information missing

[2020-10-25 18:54] leo816 commented on #514
Will be reimbursed with #515

[2020-10-25 18:56] leo816 commented on #511
Will be reimbursed with #515

[2020-10-25 18:56] leo816 commented on #396
please post your btc address where you would like to be reimbursed

[2020-10-25 19:02] leo816 commented on #508
Will be reimbursed with #515

[2020-10-25 19:03] leo816 commented on #510
Will be reimbursed with #515

[2020-10-25 19:14] leo816 commented on #396
something is not right about this trade. Is not being processed. @KanoczTomas when you could please take a look

[2020-10-25 19:19] leo816 commented on #507
Will be reimbursed with #515

[2020-10-25 19:21] leo816 commented on #506
Will be reimbursed with #515

[2020-10-25 19:23] pazza404 commented on #512
@jmacxx I have supplied @Bisq-knight with all of the log files from my folder. I am unsure if these uncovered any useful information.  Hopefully @Bisq-knight will let us know.  I do have Bisq open most days, however this trade in question was my last trade.

[2020-10-25 19:23] leo816 commented on #505
Will be reimbursed with #515

[2020-10-25 19:25] leo816 commented on #484
please post the btc address where you would like to receive the funds

[2020-10-25 19:27] leo816 commented on #484
Will be reimbursed with #515

[2020-10-25 19:29] leo816 commented on #483
please post the btc where you would like the funds to be sent

[2020-10-25 19:30] leo816 commented on #483
Will be reimbursed with #515

[2020-10-25 19:44] jmacxx commented on #512
Ok, hopefully the 100Gb of log files have been passed on to the dev team.

`grep -ri 'new trade' bisq*.log` would show if the trade was in the logs.

[2020-10-25 19:45] leo816 commented on #511
is this a btc address? :

bc1q3tkhl9kzar3z0xcxtamdkhgraeuesy695ftg50

[2020-10-25 19:46] leo816 commented on #508
please provide the btc address where you would like to receive your payment

[2020-10-25 19:47] leo816 commented on #510
btc address is not valid

[2020-10-25 19:51] huey735 commented on #511
What do you mean @leo816 ??

[2020-10-25 22:07] e9zcdR2uDU5xp4E commented on #508
1PtAZqaqwDErAf9FYsbvPBTG7YRVmAYNDs

[2020-10-26 00:06] xbyvee commented on #326
This reimbursement has been made by the DAO a long time ago so I'm closing this issue. I will be sure to put maker fee txid in the future.

[2020-10-26 00:06] #326 closed

[2020-10-26 02:31] cddc123 commented on #515
I was the maker for 80891 #507 and the csv shows the reimbursement going to the taker's address

[2020-10-26 03:58] cmcnulty commented on #515
I'm the taker and I can confirm... line 8 is correctly going to acct 1AHrQN..., line 7 should be modified to go to the maker's address. (unless I'm completely misunderstanding the CSV) - as taker I was hoping to be reimbursed for amounts 0.00007000 & 0.00047880, totaling .0005488 to account starting with 1AHrQN

[2020-10-26 07:50] leo816 commented on #511
btc address wasn't showing up on the explorer

[2020-10-26 08:59] leo816 commented on #515
Please contact me on Keybase at my handle @leo816

[2020-10-26 09:06] leo816 commented on #515
The batch transaction with txid
[418a88a665b1c3ae3af1c3edc386bd9c23d59e050836375eddce7b0530133a1b](https://blockstream.info/tx/598753ba993a31ccf6a7c260b889965d5f96407aea4c837756a396d8bb57027a) has been broadcast and should be included in blocks in a few days.

<img width="1006" alt="Screen Shot 2020-10-26 at 10 03 54" src="https://user-images.githubusercontent.com/54798241/97153384-b24c7d80-1772-1

[2020-10-26 09:08] leo816 commented on #514
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #514 closed

[2020-10-26 09:08] leo816 commented on #511
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #511 closed

[2020-10-26 09:08] leo816 commented on #508
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #508 closed

[2020-10-26 09:08] leo816 commented on #510
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #510 closed

[2020-10-26 09:08] leo816 commented on #507
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #507 closed

[2020-10-26 09:08] leo816 commented on #506
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #506 closed

[2020-10-26 09:08] leo816 commented on #505
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #505 closed

[2020-10-26 09:08] leo816 commented on #484
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/515#issuecomment-716412953

[2020-10-26 09:08] #484 closed

[2020-10-26 22:34] arborr opened #516 "Fee reimbursement for trade 01PVOJQC"
![reimburse](https://user-images.githubusercontent.com/73502631/97235433-dcbd2b80-17b0-11eb-86ae-9417f10312dd.png)

maker: 6ac8025b045162b92e1d706d0c94a9c776c5ca87655b18c1b4ba183cd33c1f6d
taker: e657c2c6398a1cd2fd61f2be73acb086f033eca8e36b7148afec66ca41956af4
deposit: 9fb012e1645cb6e2964f03b32d81e25e95971ed708da95af899e85243b6fb9c9

Bisq version:

1.4.2

Other notes:

Delayed payout tx missing. Se

[2020-10-27 09:18] Bitcoinseller1 commented on #490
I have installed the new version of Bisq v.1.4.2. Now I could move it back to the pending trades.  As mentioned above I have tried to reject the arbitration and start the arbitration procedure. But this obviously didn't work because it was not moved to the support screen as it should be.
Now it says _"Meditation requested, You opened already a dispute. Please communicate in Support screen with the

[2020-10-27 09:30] Bisq-knight commented on #512
He provided logs, but they only go as far as the 2nd of October.

To clarify: the trader contacted me some time after he tried to initiate mediation (he attempted mediation on Aug 20th, contacted me on 6th of September) and we tried multiple ways to fix the situation at that time to no avail. He contacted me again on October 8th, which is when we started discussing the problem again.

From the lon

[2020-10-27 21:24] Jan877 opened #517 "Fee reimbursement for trade hybwgnye"
<img width="633" alt="Message 2_hybwgnye" src="https://user-images.githubusercontent.com/44270690/97363319-b081d780-18a2-11eb-95e7-051b9ee1778c.png">
<img width="612" alt="Message 1_hybwgnye" src="https://user-images.githubusercontent.com/44270690/97363376-c42d3e00-18a2-11eb-84c8-7a9a7abeac41.png">

Maker:  298c74015f7fe17b5d31efcecbd9d703cf66852c7b9b074ff794352c79bfb14c
Taker: 306ea8364472db1c7a5

[2020-10-27 22:35] TorBisqTor commented on #396
Hey, 5 months since this trade.
And STILL no return.
Did I lost my funds?
Where are my funds?
Please help me, i need it.

[2020-10-28 19:27] RefundAgent opened #518 "Reimbursement for Refund Agent Cycle 18"
I am lacking 27934.7 BSQ which was bought to cover my refunds:

bisq-network/roles#93

I thus request 27934.7 BSQ for reimbursement.

[2020-10-29 16:55] stakoholic opened #519 "Fee reimbursement for trade dc8g5r"
![bisq1](https://user-images.githubusercontent.com/42588964/97605756-50f50a80-1a0f-11eb-91c4-9a36dd8d36b6.png)

Maker: 0ad7999a6679ecc625e13cf504067b06bc0ca067180ef529e18ec081280af6f3
Taker: na
Deposit: na

Bisq version: 1.4.2

Other notes:

[2020-10-30 12:43] RefundAgent commented on #518
Proposal txID: c16be***********************b19a7afd

[2020-10-30 19:18] quickdrawgrandrpa opened #520 "the trade protocol encountered some problems"
Error: Timeout reached
Will this trade be able to continue?
Trade ID 9351530

Will I need to end the trade?

[2020-10-30 19:31] quickdrawgrandrpa commented on #520
Is this part of the hack that happened?  I moved the trade to failed

[2020-10-30 19:41] quickdrawgrandrpa commented on #520
I moved it back to open.  There was no messaging box to message a moderator.

[2020-10-31 02:09] quickdrawgrandrpa commented on #520
I am running v1.4.2

[2020-10-31 07:23] spx4000 opened #521 "Fee reimbursement for trade BWYNMFEE"
![image](https://user-images.githubusercontent.com/64005249/97773613-63338d80-1b62-11eb-95ae-b2c4e568660e.png)

Maker:  cf4f4b09f2a78aaf49b52d9b2211f5b71d9b1cc57e9aee9f0f7c7177b03f113a
Taker:  a5db50e4fab6f95227d025ff5007ebdffd48484450570fcc70b86b1ba6648a33
Deposit:  8e688b734777b439642c4825fa6eed45c5723446eddfd1826e2c4c2a76b50606

Bisq version: 1.4.2

Other notes:
Total: 1057.83 BSQ
Payment: d0b8

[2020-10-31 08:17] wiz commented on #521
who is your mediator for this trade? I don't have a ticket with that ID

[2020-10-31 08:23] spx4000 commented on #521
Mediator is: apbp7ubuyezav4hy.onion:9999

[2020-10-31 08:59] Bisq-knight commented on #521
I've received this case on Oct 21, and replied the same day. I believe the trader(buyer) is confusing mediator not replying with Refund Agent not replying as the mediation was issued on the 27th (as soon as he provided the BSQ transaction id and I was able to verify it) and on the 30th of October the delayed payout transaction was published (the tx is still in the mempool waiting to be confirmed).

[2020-10-31 09:26] wiz commented on #519
looks like a failed trade, you should be able to do an SPV re-sync and recover your funds. there were no funds lost.

[2020-10-31 09:26] #519 closed

[2020-10-31 09:41] wiz commented on #521
This is a DAO reimbursement request for trade funds donated to Bisq. For the DAO to vote on it, we need to know the following:

1) The mediator @Bisq-knight needs to verify that the github user making this claim is actually the trader in the claim
2) The arbitrator @refundagent needs to verify the trade was not already reimbursed from the normal arbitration process, i.e. no double payout.

This sh

[2020-10-31 13:25] RefundAgent commented on #509
The secret is correct.

[2020-10-31 15:16] Bisq-knight commented on #482
Bringing this back.

The proposal in the DAO was accepted on cycle 16:

and can also be seen in the [chain](https://mempool.space/bisq/tx/62fc31916b720b5569f8ba0620ad28fc9f42af93b45ccb1f0a2251713fd2747b)

[2020-10-31 16:17] pazza404 commented on #512
The reimbursement tx id is:
9cb5322cea5035b206157e5154fa078c37f7692b7e17fe9c6ddc170b55f2fe63

[2020-11-01 09:28] Akira45-0 commented on #509
Nothing has changed, after reopening I still see the mediation as opened, though @leo816 says he closed it.

[2020-11-01 11:14] Akira45-0 commented on #509
Ticket closed on Nov 1, 2020 12:13:00 PM
Mediator node address: sjlho4zwp3gecspf.onion:9999

Summary:
Trade ID: 09687320
Currency: XMR
Trade amount: 0.9662 BTC
Payout amount for BTC buyer: 1.206060 BTC
Payout amount for BTC seller: 0.05 BTC

Reason for dispute: Other

Summary notes:
btc buyer made the payment correctly. btc seller never confirmed or answered.

-----BEGIN SIGNATURE-----
302d0215008

[2020-11-01 11:15] leo816 commented on #509
I can confirm the information on this reimbursement request is correct

[2020-11-01 11:37] RefundAgent commented on #521
The trade BWYNMFEE has not been paid out by the Refund Agent. It has in fact not arrived, possibly due to mempool congestion.

[2020-11-01 15:53] RefundAgent commented on #509
The Refund Agent has not paid out anything for this dispute.

[2020-11-01 21:11] Akira45-0 commented on #509
Indeed. So what should I do to receive the compensation?

[2020-11-02 00:22] wiz commented on #521
The funds were donated here and it is confirmed https://mempool.space/tx/2a1ff7756040d8603f7b4741f11a0f31cb2a88085bfde5f0273f1ccd9c92d99b

[2020-11-02 08:26] guizmoau opened #522 "Fee reimbursement for trade xxxx (no trade id but security desposit taken)"
![image-1765541670](https://user-images.githubusercontent.com/5398689/97845572-a3bb1480-1ce4-11eb-9de0-e606a79261c6.jpg)

![image-3490654470](https://user-images.githubusercontent.com/5398689/97845592-a9185f00-1ce4-11eb-903a-3a22b72fa620.jpg)

![image-4018465714](https://user-images.githubusercontent.com/5398689/97845616-b1709a00-1ce4-11eb-935d-cac2d7aabcc7.jpg)

![image-4012285987](https://user-i

[2020-11-02 08:28] guizmoau commented on #522
this is the transaction id of the security deposit withdraw transaction

https://mempool.space/tx/625daacbd3a93f1569f6b46f5c2ca54a29531ff94c5cc21dfc16e783bea916d2

[2020-11-02 08:34] omusluh opened #523 "Fee reimbursement for trade 3qtvyfr"

[2020-11-02 09:35] ripcurlx commented on #512
This is related to the Matomo installation of Bisq which seems to trigger this warning.
@wiz checked the server and didn't find anything obvious.
I also checked the url with [virustotal](https://www.virustotal.com/gui/url/0a429c3ae8d097295f952e235a0960940f3c47ac7f015b9f1171a7617ad1f1c3/detection) and it didn't find any issue. Seems to be a false positive by Malwarebytes.

[2020-11-02 09:41] ripcurlx commented on #512
There seem to be two reimbursement requests sent to the DAO for this link with `8253b33422f35b57deed1244fc63ff4f689478a7e8124eac9f7d75d4bba4989b` being the earlier one (Oct 20). I guess the first one was done by mistake?

[2020-11-02 09:43] ripcurlx commented on #509
@Akira45-0 Can you please post the the `Proposal transaction ID` linked to this reimbursement request? Thanks!

[2020-11-02 09:48] Akira45-0 commented on #509
https://bsq.vante.me/tx.html?tx=5e58eb57ecbcd77b1160f49a33d129805ed0ecacdf27665fee4d851d3077002f

[2020-11-02 10:18] leo816 commented on #523
please post the btc address where you'd like your funds to be sent

[2020-11-02 10:18] #515 closed

[2020-11-02 11:25] pazza404 commented on #512
Correct. The first one (Oct 20) is incorrect.  I did delete it, so I'm not sure why it is still showing.

[2020-11-02 13:20] agrizzlybear opened #524 "Fee reimbursement for trade HbQCWcpJ"
![Screenshot 2020-11-02 at 11 12 23 pm](https://user-images.githubusercontent.com/73832641/97871945-f4705300-1d60-11eb-9e81-f301984d3d64.png)

SCREENSHOT HERE

Maker:  f2b5e348ccbd99936d270ec0932c5a0aa44c3140382e13111aae7e23f8584cc8
Taker: 84a195c8eb44ea1635f13e236020c830eaab8419042440ce33c254bc406ce255
Deposit: c6630e2e1cbc6ba5133f3ba874b981ae525808babd953fabd0e87f4123543fb7
![Screenshot 2020-11-

[2020-11-02 15:32] omusluh commented on #523
Thanks please send to:

bc1qlueyetux8rn7rrtx7qth0k82g7ldsyvcx8vt9r

[2020-11-02 15:40] #523 closed

[2020-11-02 17:27] chimp1984 commented on #509
Verified:
<img width="955" alt="Screen Shot 2020-11-02 at 12 26 40" src="https://user-images.githubusercontent.com/54558767/97898998-afb7ce00-1d06-11eb-8136-9e251f914f6b.png">

[2020-11-02 17:29] chimp1984 commented on #512
Thats a known bug, but a bit hard to fix.

[2020-11-02 17:39] Bisq-knight commented on #516
Can you tag your mediator on this issue? I checked my cases and yours was not one of them.

[2020-11-02 17:41] Bisq-knight commented on #521
@spx4000 I'm still waiting on your message in bisq confirming that you are who you say you are. Please open the app and reply there

[2020-11-02 17:42] chimp1984 commented on #521
Please use also the signed message and mediators/refund agent need to verify the message. I fear the request was too late for that cycle. If it gets rejected just re-apply next cycle with all the required information.

[2020-11-02 17:44] Bisq-knight commented on #502
Just for the Record:

Cycle 17
Request granted

[2020-11-02 17:44] #502 closed

[2020-11-02 17:46] Bisq-knight commented on #501
Closing this as it was solved in the other proposal #502

[2020-11-02 17:46] #501 closed

[2020-11-02 17:48] Bisq-knight commented on #493
@ajchess we're waiting on info from you. Can you provide it?

[2020-11-02 17:50] #482 closed

[2020-11-02 17:53] Bisq-knight commented on #360
Cycle 11
Approved

[2020-11-02 17:53] #360 closed

[2020-11-02 17:54] Bisq-knight commented on #485
Cycle 16
Approved

[2020-11-02 17:55] #485 closed

[2020-11-02 17:55] Bisq-knight commented on #503
Cycle 17
Approved

[2020-11-02 17:55] #503 closed

[2020-11-02 17:58] Bisq-knight commented on #500
Cycle 17
Approved

[2020-11-02 17:58] #500 closed

[2020-11-02 18:11] FKrauss opened #525 "Fee reimbursement for trade HbQCWcpJ"
![2020-11-02 19_06_09-](https://user-images.githubusercontent.com/4820683/97903135-d72a8d00-1d3e-11eb-83d5-40598c566557.png)

Maker:  `f2b5e348ccbd99936d270ec0932c5a0aa44c3140382e13111aae7e23f8584cc8`
Taker: `84a195c8eb44ea1635f13e236020c830eaab8419042440ce33c254bc406ce255`
Deposit: `N/A`

Bisq version: 1.4.2

Other notes:

[2020-11-02 22:27] ron87in opened #526 "Fee reimbursement for trade 707714"
SCREENSHOT HERE
![image](https://user-images.githubusercontent.com/73856827/97923464-a4bf6680-1d23-11eb-8543-5dc6aa8fce44.png)

Maker:  47c047a595be7ce7acf83ccc2f657c048c18a845dbbb15abe9a8e8b38920742e
Taker: n/a
Deposit: n/a

Bisq version: 1.4.2

Other notes: Perhaps related to this issue, I made another trade after this trade mentioned above with the funds I was going to use for it. I accepted th

[2020-11-03 00:00] arborr commented on #516
@huey735

[2020-11-03 00:47] git953 opened #527 "Fee reimbursement for trade grcmorw"
![8989k](https://user-images.githubusercontent.com/73860689/97933743-89784980-1d6b-11eb-952d-f40f9c43bd60.PNG)

Maker:  2b035ada35458fa607664fc6655e32f1507b16ef32a62dc9e59b6034c77eb335
Taker: 3beb146b9d7bb03bfa2c51173ec5cc0b9604172e0a8e2a415db570a2d76c80be
Deposit: ee6535bc3f1881c04fa74b5a97b4cdca18decf8296d8057302185a15ee4dc990

Bisq version: 1.3.9

Other notes: The deposit is locked in the multi

[2020-11-03 10:08] wiz commented on #521
Both the mediator and refund agent confirmed the claim was valid, and the payout TX was confirmed before the voting cycle began, so all the requirements were met in time.

[2020-11-03 15:59] cbeams opened #528 "Add footer row with totals to repayment tracking report"
@jmacxx, could you modify `track-repayments.html` to add a footer row with totals and percentages as seen in the sketch below?

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/301810/98008935-5084b700-1df5-11eb-8e3c-ef86070ad211.png">

Could you also add a note indicating the date that the repayments began (i.e. the date of the earliest transactions against the listed

[2020-11-04 03:39] jmacxx commented on #528
Done:
![image](https://user-images.githubusercontent.com/47253594/98066482-b2a4e280-1e1c-11eb-933e-d4d828006b9a.png)

[2020-11-04 04:15] #462 closed

[2020-11-04 04:16] #461 closed

[2020-11-04 07:23] #528 closed

[2020-11-04 08:21] ripcurlx commented on #521
@spx4000 Could you please provide your `Proposal transaction id` so everyone can verify that the CR in DAO is actually made by you.

[2020-11-04 10:54] spx4000 commented on #521
https://mempool.space/bisq/tx/16545ae9301d062d6344d1622f5b3e74f3eaabafba03624d7507f844a3ef8ba6

let me know if you need more

[2020-11-05 16:41] Bisq-knight commented on #521
Confirmed that @spx4000  is who he says he is

[2020-11-05 21:03] bsqproblems opened #530 "Transaction stuck because very low minner fees set by bisq"
I sent the bitcoin from my wallet 8 hours ago using a decent miner fee " 447.5 sat/vB – 100,677 sat ($15.10)" When I check the transaction in mempool.space I see that there are two transactions, one small which is confirmed and another one with the amount I sent that is not confirmed and the miner fee is  17.0 sat/vB – 3,800 sat ($0.57). At this moment with this fee,  17.0 sat/vB – 3,800 sat ($0.5

[2020-11-05 21:27] bsqproblems commented on #530
Your soft/service is broken. Fix it, you mess with peoples money and nerves! This is not nice!

[2020-11-06 00:10] bsqproblems commented on #530
And as it turns out you couldn't care less about our problems!

[2020-11-06 03:36] ron87in commented on #526
Regarding my other notes - I have received funds from the next trade, but the trade is still not viewable on my Bisq client. The poor chap I am trading with sent his funds and I cannot confirm to release my bitcoin, and also, my security deposit is also lost. Can I possibly have some assistance with this?

[2020-11-06 08:28] frrckfrr opened #531 "Fee reimbursement for trade 46190"
![image](https://user-images.githubusercontent.com/74044224/98343358-00367080-2012-11eb-84c0-a845d3f88447.png)

Maker:  a99fc5a68dcaab99bb50df772c35dac370f8f14081f3e2f2a8f188e5b3c9fa09
Taker: 2b1bc916bcf5d13149035d2c73d70aa33a2b3164de1538960280722e1d93419d
Deposit: n/a

Bisq version: 1.4.2

Other notes:

I've discussed this issue on Keybase #support channel, this was the recommendation I've got af

[2020-11-06 08:36] frrckfrr commented on #531
I also have the issue, that the funds still remain in my "locked" account balance.
![image](https://user-images.githubusercontent.com/74044224/98344479-97e88e80-2013-11eb-8a2c-9d02f3a302d9.png)

Do I need to do another SPV resync?

[2020-11-06 09:40] atpblas opened #532 "Fee reimbursement for trade 46190"
![Captura de pantalla 2020-11-06 a las 10 38 33](https://user-images.githubusercontent.com/66116505/98350912-45f83680-201c-11eb-96e2-71bf684f4928.png)

Maker: a99fc5a68dcaab99bb50df772c35dac370f8f14081f3e2f2a8f188e5b3c9fa09
Taker: 2b1bc916bcf5d13149035d2c73d70aa33a2b3164de1538960280722e1d93419d
Deposit: n/a

Bisq version: 1.4.2

Provide the Bisq client version to help developers identify the causi

[2020-11-07 02:34] rogueserious opened #533 "Fee reimbursement for trade 49195"
![trader-fee](https://user-images.githubusercontent.com/74083368/98429848-27b32a80-205e-11eb-876a-a8b2f05558e1.png)

Maker:  30be5962c2f40bf3127f48d33d25dfaad9c4f105e500aa333442a49a9382a280
Taker: 1844a973333fb25f78f1aa490358ede0e9ea05d9bfd24db633e5d412139953e0
Deposit: N/A

Bisq version: v1.4.2

Other notes: The deposit transaction (the 2-of-2 multisig transaction) is missing error. Please reimbu

[2020-11-07 06:38] Akira45-0 commented on #509
I have multisig payout fot this trade in my transaction list, but the transaction id does not appear in the network. What's going on?

[2020-11-07 15:46] chimp1984 commented on #509
Maybe seller finally confirmed and by that published the payout tx. Was the delayed payout tx publihsed? Can you post all tx IDs of the trade?

[2020-11-07 15:55] Akira45-0 commented on #509
The multisig payout is e62e61ecd6cbf39e21c172c2e8de423ef4548284e2a7e71424497661a87bd62d. It's not published, but I see it in my transactions list
![Clipboard02](https://user-images.githubusercontent.com/63785272/98445819-09ab0000-211a-11eb-88f1-ee7848eedc22.png)
![Clipboard01](https://user-images.githubusercontent.com/63785272/98445810-00219800-211a-11eb-9766-a88a88876f72.png)

[2020-11-07 17:15] chimp1984 commented on #509
Can you post the other 4 txs, so its easier to copy paste to look up explorers?

[2020-11-07 17:28] Akira45-0 commented on #509
2bdc86ec83634f69c373fd183f3e40623e86c63e0b03b2f8cdafb64443dc72a3
e327fe8cfe3f49eb6db5e55ea29023bb34b4e859da31453feaaa928bbd79ce2e
4087ec3e73898bc9025a0bbd53b58484154c534b28d9ca18529a5421d8c1126d
0c7457fb395470006fbfd12575cc633f4eaf320db4cc47eafcb52c58a2b7210d

[2020-11-07 18:01] chimp1984 commented on #509
I can confirm that the delayed payout tx was published and e62e61ecd6cbf39e21c172c2e8de423ef4548284e2a7e71424497661a87bd62d is not found on explorers.

@RefundAgent Have you done the refund for that trade? If so it seems the miner fee was low and its still not confirmed. We can wait a few days more and if still not confirmed a CPFP tx could be made to push the tx, otherwise it would require a spv

[2020-11-07 18:11] Akira45-0 commented on #509
As I understand it, I should receive the compensation in BSQ, right? So how is the Refund Agent supposed to know my BSQ address if I never sent it to him?

[2020-11-07 20:18] JasekN opened #534 "Fee reimbursement for trade 23718758"
![Clipboard01](https://user-images.githubusercontent.com/74115606/98450467-34f31680-213d-11eb-9b90-5b1e8bb30832.png)
Maker: c70a19ea185828bc3903b2f913c3f2611fdaf432fb9299b833cb4a689caa62d7
Taker: f9fab0c120572675c84eee945ad71ab8dd1dd114c9ec4fba190e0f7a703dfcc9
Deposit:

Bisq version: v1.4.2

Other notes:

the trade is in an invalid mode, the deposit transoction is missing, please reimburse fees. t

[2020-11-08 00:11] chimp1984 commented on #509
If the refund agent has paid you its in BTC. If not you need to make a reimbursement request (in BSQ).

[2020-11-08 02:37] rogueserious opened #535 "Fee reimbursement for trade tunxc"
![Untitled3](https://user-images.githubusercontent.com/74083368/98455628-20f0ea00-2128-11eb-8ef9-de8a7ef9750d.png)

Maker:  fba5f698f269a43fe78e5b656c703999ae125995a988e508cfe52a5bac2783b1
Taker: 746ffb0c1b3e2edc6392c8a5a528dd7af7348dfed6a489a1fc277f007e248ad0
Deposit: N/A

Bisq version: v1.4.2

Other notes: The deposit transaction (the 2-of-2 multisig transaction) is missing error. Please reimbur

[2020-11-08 02:56] Akira45-0 commented on #509
Again?? I already made one in the DAO.

[2020-11-08 03:15] chimp1984 commented on #509
Oh, then I hope the refund agent did not pay out to you otherwise you would get it twice... Lets see what he responds...

[2020-11-08 06:41] Akira45-0 commented on #509
Being paid once would have been enough for me, but so far I didn't receive anything.

[2020-11-08 11:27] RefundAgent commented on #521
The trade BWYNMFEE has now arrived but I will not pay it out since the DAO handles it now.

[2020-11-08 13:41] RefundAgent commented on #509
I did not do any payout for trade: 09687320

[2020-11-08 15:08] chimp1984 commented on #509
So then its weird why u got a tx (e62e61ecd6cbf39e21c172c2e8de423ef4548284e2a7e71424497661a87bd62d) to that trade. Can you search the logs for that tx and PM me the full tx details? and your payout address in the trade details (or json data) to see if that tx was sent to your address.

[2020-11-08 16:36] chimp1984 commented on #521
The request got rejected because one voter rejected with 90k BSQ and only one other accepted with 59k BSQ. No other voter voted on it. Such cases should signal the DAO stakeholder to improve their due dilligence. Why one has rejected if the people involved with the case (mediators) have signalled that this case is valid? Why nobody else voted on it? At least the mediators and refund agent should t

[2020-11-08 18:13] Akira45-0 commented on #509
I sent it on Keybase.

[2020-11-09 11:05] Akira45-0 opened #536 "Fee reimbursement for trade etffra"
![grafik](https://user-images.githubusercontent.com/63785272/98533212-f798a100-2282-11eb-940d-a3d8732a55d8.png)

Maker:  5010fa68b6e5f7a870a5d41c683d12dcbc52547ba6d95116f4d74dea2f30c46c
Taker: 71b8f7ed9e378d137f21ba12f88487440e643e55fe9822c71706777408d68998
Deposit: 447b9d82bff0c9aa598edab091512ae98bab5a22ca3daa0c52a9d743252cc54a

Bisq version: 1.4.2

Other notes:

Please send the reimbursement to

[2020-11-09 11:14] Akira45-0 commented on #509
Now I see that I have an extra amount on my BSQ banalce that looks like I had received the 21267.15 BSQ, but I don't see any incoming BSQ transactions in the list. @RefundAgent did you do the refund?

[2020-11-09 12:42] jesgeo opened #537 "Fee reimbursement for trade zkravjz8"
Trade ID: zkravjz8-9e8c689e-0400-4a83-a9e9-c9157c03ad3d-142

![image](https://user-images.githubusercontent.com/5832932/98542513-f4a0af00-2288-11eb-9a2b-82a52fcf0991.png)

Maker: 765daf0efb0107c9cf6acb3a3371fdd2c5bb098ab93fedef8b5f884b93b5754a
Taker: b146c953a858bb47629c5028f99b477c917dbf3bd7ff6966b5e4106a3c6b7a8c
Deposit: N/A

Bisq version: 1.4.2

Reimburse to address: bc1qva8qszz45p3l2ar4pqx936u

[2020-11-09 14:18] chimp1984 commented on #509
Your reimbursement request got accepted, so the btc you put into there got magically converted to BSQ ;-). There is no exta tx for that.

[2020-11-09 14:53] Akira45-0 commented on #509
Oh, OK, thank you very much.

[2020-11-09 18:57] thetimechain opened #538 "Fee reimbursement for trade 0227356"
SCREENSHOT HERE
![image](https://user-images.githubusercontent.com/74207976/98583941-c9b75a80-228a-11eb-85c8-80e2fbfd27d6.png)
Maker: 341da961666f530ac866c5bdb5482735677016dc9de14d529a5f73c307c01aa1
Taker: b192c10509cc7d594ed8a4c6b9ca791c9b1aec56783ca759d492cd8e468327d9
Deposit:

Bisq version: 1.4.2

Other notes:  The deposit transaction (the 2-of-2 multisig transaction) is missing.

[2020-11-09 21:06] Bisq-knight commented on #512
request was accepted

BSQ was issued:
https://mempool.bisq.services/bisq/address/B1JJr7AzmXLGK11jijgZ8iBjBdDWMNDbzFs

[2020-11-09 21:06] #512 closed

[2020-11-10 18:51] chimp1984 commented on #536
Taker fee tx and deposit tx are not found on explorer. As maker fee tx was already spent (https://www.blockchain.com/btc/address/1LHbXMJajHGHb1wFeAaXoewH6A1JhuR8es) the trade is failed.

[2020-11-10 19:52] arborr commented on #516
Any update to this?

[2020-11-11 12:35] aamirazh commented on #504
Sorry for the late response. Here is the address:

bc1qsym7upqay4ynnl402dgs5xhz6gx59xwlqzuupy

[2020-11-11 14:31] BisqTor commented on #396
@leo816
I am unemployed, i need my money back.
This is a lot for me.
How can i be sure Bisq stole my money or not?
Please, fix it.

[2020-11-11 14:41] leo816 commented on #396
@BisqTor

[2020-11-11 15:33] BisqTor commented on #396
1NQPnVxYmsA3sxHC23rjbHS3hta65xc4FA

[2020-11-11 16:56] BisqTor commented on #396
@leo816
1NQPnVxYmsA3sxHC23rjbHS3hta65xc4FA

[2020-11-11 20:26] brndnng opened #539 "Fee reimbursement for trade 0494188"
![screenshot](https://user-images.githubusercontent.com/21734054/98860598-ed68d500-2431-11eb-9ab7-1527bf2c49ab.png)

Maker: c10d6055fec0303bc5fdc86aea52ff4a68e075991051caaaf115c6c9ea8baf6c
Taker: e24fead657122e6a22155493a2a0d29f07256747560d9bc7490a60f9d88cfaca
Deposit:

Bisq version: 1.4.2

Other notes:
BSQ address: B1Yrw6krVP8Mjy4KQrUiqPfeHnpzZxaUNP

[2020-11-12 10:13] spx4000 commented on #521
@chimp1984
Yeah, disappointing but I understand and I will refile the reimbursement request through the DAO in this current cycle and wait the 30ish days.

There is no denying that it was near the end of the cycle, and verifications were required, but personally I blame Bisq-Knight's slowness to respond at each stage of the ticket.  For example: this comment from him suggests that he had already s

[2020-11-12 11:22] huey735 commented on #516
Hi @arborr , sorry for being late to this. Your security deposit isn't locked. At most it's "reserved". This is to say that it's on your wallet under your control. You may need to [Resync your SPV](https://bisq.wiki/Resyncing_SPV_file) file to see the funds on your wallet.

[2020-11-12 22:18] arborr commented on #516
It says that it's locked, not reserved. I get 2 popups when I load up that says it's locked. Resync'd the SPV and still have the funds showing up as "locked".
![s](https://user-images.githubusercontent.com/73502631/99002802-ab5b9400-2502-11eb-9da8-23102702657a.png)

![a](https://user-images.githubusercontent.com/73502631/99002603-4acc5700-2502-11eb-8b0d-e2870ceeaf56.png)

[2020-11-13 01:25] rogueserious opened #540 "Fee reimbursement for trade lzudcf"
![trader-fee3](https://user-images.githubusercontent.com/74083368/99016302-ae0eb700-250b-11eb-81cc-380ffbfd32cf.png)

Maker:  ee0158dc09f54f738e13d72faa98a267d4f3cfbed38aa1bf1463f1bd66ff7274
Taker: 83355a2391cdf55bef48506fe8e5fdbc8313176bcbfdca9cf8a84b098051f74b
Deposit: N/A

Bisq version: v1.4.2

Other notes: The deposit transaction (the 2-of-2 multisig transaction) is missing error. Please reimb

[2020-11-13 13:09] huey735 commented on #516
DM me on Keybase, I'm huey735.

[2020-11-13 18:11] threehill opened #541 "Fee reimbursement for trade SwVysv9"
![image](https://user-images.githubusercontent.com/74426290/99313522-fb6a8b80-285f-11eb-8b16-d2c986608940.png)

Maker: 92d0a0b007540acc42cb2f6562cc3c4d759607efc90183b1dacde3c436815151
Taker: a80e3f83ff2aa3e6056129f8d1c139f812b1378a495de1cd9b56f936456413b3
Deposit: 3af03d2dd50ba9930368e57b26c3d6f9c8e5f98bb7b180ee56c6c13d8456e1b1

Bisq version: 1.4.2

[2020-11-13 18:19] threehill opened #542 "Fee reimbursement for trade 23718758"
![image](https://user-images.githubusercontent.com/74426290/99313287-8e56f600-285f-11eb-8c7c-29408023df41.png)

Maker: c70a19ea185828bc3903b2f913c3f2611fdaf432fb9299b833cb4a689caa62d7
Taker: f9fab0c120572675c84eee945ad71ab8dd1dd114c9ec4fba190e0f7a703dfcc9
Deposit: 476d5b5baddbf350f57b497cd12be67f84dd8cd39f8cb298dfb8ad83a1c96dc3

Bisq version: 1.4.2

[2020-11-13 20:26] BisqTor commented on #396
@leo816
Any feedback?

[2020-11-14 14:39] BisqTor commented on #396
@leo816
I posted the address and deleted.
Did you saved?

[2020-11-16 09:47] frrckfrr commented on #531
Update from me - another SPV resync did not help and I still have locked funds in my account. Can anybody help?

[2020-11-16 20:05] Bisq-knight commented on #541
Was this trade cancelled or did you complete it?

[2020-11-16 20:14] Baiskey opened #543 "Fee reimbursement for trade FGRGWC-e542ac48-5ede-4d3c-a516-dad9c23b8e88-142"
SCREENSHOT HERE

![image](https://user-images.githubusercontent.com/25394185/99303013-8479c680-2850-11eb-886a-c32076aaf6f6.png)

Maker:  0130c42f3c62791a422b43219647aa7a68cff70e7ea150debc81c90bd07e8708
Taker: N/A
Deposit: N/A

Bisq version:

v.1.4.2

[2020-11-16 21:57] threehill opened #544 "Fee reimbursement for trade QALCMH"
![image](https://user-images.githubusercontent.com/74426290/99312823-e6d9c380-285e-11eb-8219-f04c43d2d5de.png)

Maker: d2c7562313c614ff939e307e2595fbeecd060c28ced6e988964fe112e94f1bf0
Taker: 4d0c9f3ae65419cf966ddb504b776086f5793931511b575642061efc2a61d5b0
Deposit: 71429f7bfbb7c4563cb561f19390e525ad5b569c55669faa2675c9994f68f8b3

Bisq version: 1.4.2

[2020-11-17 09:22] Bisq-knight commented on #530
can you please join Keybase to get the appropriate support?

https://keybase.io/team/bisq  (look for the #support channel)

[2020-11-17 09:22] #530 closed

[2020-11-17 09:23] Bisq-knight commented on #522
Can you reach us on keybase so we better understand what happened here?

https://keybase.io/team/bisq

[2020-11-17 09:23] Bisq-knight commented on #522
Look for the #support channel

[2020-11-17 18:34] ron87in commented on #526
Hello, could I please have assistance with this? I tried to make a trade and the other trader asked why I did not complete transaction "R5HCO", which is what I believe the missing trade is.

[2020-11-17 18:56] threehill commented on #541
This is a failed trade otherwise I wouldn't ask for reimbursement. I have also locked funds in this failed trade and the mediation is ongoing for that issue.
Mediator node address: sjlho4zwp3gecspf.onion:9999

[2020-11-17 18:59] leo816 commented on #524
please edit all the personal information. Delete these images and reupload them without phone numbers and names

[2020-11-17 19:03] leo816 commented on #526
hi, could you contact us via Keybase with regards to the other trades? my handle is @leo816 there and the support team can help too. regarding this issue (trade 707712) you are only missing the fees right?

[2020-11-17 19:04] leo816 commented on #531
hi, did you try contacting our support team on Keybase? did you open a mediation for that trade?

[2020-11-17 19:05] ron87in commented on #526
Hello and thank you. I will make a Keybase account and contact you directly. I am missing both the fees, and the security deposit from the missing trade. I also was unable to confirm the missing trade, so I am unsure if the person I was trading with ever got my bitcoin.

[2020-11-17 19:25] leo816 commented on #396
no, please re-post it and the reimbursement will be made near the end of the cycle

[2020-11-18 16:28] BisqTor commented on #396
@leo816

1NQPnVxYmsA3sxHC23rjbHS3hta65xc4FA

[2020-11-18 17:54] coolcoconut123 opened #545 "Fee reimbursement for trade qrqAQJ"
![image](https://user-images.githubusercontent.com/74676509/99568039-d5abc680-29c6-11eb-881f-ac6a23bd7c5f.png)

"the delayed payout transaction is missing"

Deposit Transaction ID: 93a71f254faa8ae51b84ce93f8b0fcd49cdcbd2f0821dd997172313438fdd207

[2020-11-18 17:55] coolcoconut123 commented on #545
Q: If nothing happens in the next 23 hours, 46 minutes, is the security deposit refunded?

[2020-11-18 17:58] coolcoconut123 commented on #545
![image](https://user-images.githubusercontent.com/74676509/99568617-95007d00-29c7-11eb-96b5-b9eec23c4462.png)

[2020-11-18 18:20] coolcoconut123 commented on #545
Delayed Transaction ID still highlighted. Reinbursement is still required for the deposit.

[2020-11-18 18:53] boyofbow opened #546 "Fee reimbursement for trade qrqAOJ"
SCREENSHOT HERE

Maker:  ..........
Taker: ...........
Deposit: ..........

Bisq version:

Other notes:

qrqAQJ-829ff3c2-060a-4c9d-a949-800359a2f438-142
maker fee trans 11c386b8a3a6f0a396f582ad23204208f64344e860697891167061d4380c55a6
taker fee trans   017e8143fbd53b4acdb791fa956429a01401deeb631d6a5a0382d943e16218e5
deposit .0060 BTC

[2020-11-18 19:07] boyofbow commented on #546
![99568617-95007d00-29c7-11eb-96b5-b9eec23c4462](https://user-images.githubusercontent.com/20277263/99575966-4c4dc180-29d1-11eb-813b-14b827c32df4.png)

[2020-11-18 19:08] coolcoconut123 commented on #546
Hi, is this trade this: https://github.com/bisq-network/support/issues/545 ??

If so, the Trade ID is qrqAQJ not qrqAOJ   (Q not O)

[2020-11-18 21:44] #350 closed

[2020-11-18 21:44] #349 closed

[2020-11-18 21:44] #339 closed

[2020-11-18 21:44] #338 closed

[2020-11-18 21:44] #337 closed

[2020-11-18 22:28] huey735 commented on #526
@ron87in Can you reach out to me. I'm huey735 on Keybase and your mediator.

[2020-11-19 06:03] boyofbow commented on #546
yes you are correct

[2020-11-19 08:47] ron87in commented on #526
Of course, @huey735. I just sent you a message. Thank you for offering to help.

[2020-11-19 20:53] threehill commented on #542
I have locked funds in this failed trade. It's not just about trade fee.

[2020-11-19 20:54] threehill commented on #544
I have locked funds in this failed trade. It's not just about the trade fee.

[2020-11-19 21:08] threehill commented on #541
The mediator on bisq (node address: sjlho4zwp3gecspf.onion:9999) is suggesting manual payout (for the locked funds). It seems to be a very complicated solution for me. Is there any chance to solve this problem in an other way? (An other mediator suggested "batch transactions" in a similar case).

[2020-11-19 21:13] threehill commented on #541
I want to emphasize that the lost fee is the smaller problem, the main problem is locked funds in this failed trade.

[2020-11-19 21:15] SatStackr opened #547 "Fee reimbursement for trade gpRKlgID"
![Screenshot](https://i.imgur.com/2yrI7pH.jpeg)

Maker:  82494edf090104fdc7e0b36243135ea1bc57e224bbdbbc0ecfb4a1d9dae422ae
Taker: N/A
Deposit: N/A

Bisq version: 1.4.2

Other notes: (none)

[2020-11-19 21:47] bbqqqt1er000 opened #548 "BTC transaction unconfirmed for more than 10 hours!"
BTC transaction unconfirmed for more than 10 hours! How can I get my coins back? The trade does not make any sense at this point!

[2020-11-20 09:04] MwithM commented on #548
When an offer starts, Bisq uses a fee estimation to try to get into the next couple blocks, but BTC when it will be confirmed depends on miners finding blocks and demand for block space.
Once the trade gets the 1st confirmation, you'll have to complete it.

[2020-11-20 13:39] huey735 opened #549 "Trade fegnXbj - BTC seller is unable to confirm payment"
See https://github.com/bisq-network/bisq/issues/4748 for overall description of the issue.

To add to the above, the BTC seller here apparently also can't send confirmation that they've accepted the mediation payout suggestion. They say that they get a message saying `You have accepted the mediators suggestion. Waiting for peer to accept as well`.

BTC seller-maker view
![btcSellerMaker-mediationA

[2020-11-21 15:30] Akira45-0 opened #550 "Fee reimbursement for trade LOUWLEU"
![grafik](https://user-images.githubusercontent.com/63785272/99880844-341ab400-2c16-11eb-8350-846bdf013370.png)
Maker:  4aca24b0cd3b0041e42275b4e5649da997ad4d30e0a6ada541a2e68b72e96c9c
Taker: 0570feb3ce4d18e20d79bc59eaf752944dedeab172c1935852b52e074e4e66eb
Deposit: 1b69990d0650f9c84f1d1a9ff13d3a6a474a8435543dac8bb389ae6144ddd7a6

Bisq version: 1.4.2

Other notes: Deposit transaction failed to broa

[2020-11-22 18:25] cyplo commented on #549
got exactly the same problem, also accepted mediation and the other side can't get the payout

[2020-11-22 23:20] mateuszmp opened #551 "Fee reimbursement for trade 98K01"
![image](https://user-images.githubusercontent.com/19210834/99919982-fbb3cc80-2d20-11eb-8e89-ecc32352e031.png)

Maker: ba06f9caa28fde41122a4e0a28be6f0a99eb86af554387428bb6726369de9bad
Taker: 896c4f3a698315ef4aaed04bd496dbfd548f9077d31ce5ee82cbeb8869491e44
Deposit: N/A failed to announce

Bisq version: 1.4.2

Other notes:
Mediator said after resyncing SPV the trade should appear under failed trades

[2020-11-23 21:21] haritarak opened #552 "Fee reimbursement for trade omjkdj"
Key base --- huey735

![Captura de pantalla 2020-11-23 a las 22 12 59](https://user-images.githubusercontent.com/74642609/100016582-efd81100-2dd9-11eb-8c31-5f5aed3c8446.png)
![Captura de pantalla 2020-11-23 a las 22 17 31](https://user-images.githubusercontent.com/74642609/100016596-f36b9800-2dd9-11eb-82cc-661d6dae6a5f.png)

SCREENSHOT HERE

Maker: "offerFeePaymentTxId": "693a34de17b0b3a466ab91db3

[2020-11-24 09:03] huey735 commented on #552
@haritarak You need to fill in the information regarding the Maker fee, Taker fee and Deposit transaction ids and your Bisq version.

[2020-11-24 10:24] Hudhuranfushi opened #553 "Trade ID ysnixazi"
Ticket closed on Nov 23, 2020 10:06:49 PM
Mediator node address: apbp7ubuyezav4hy.onion:9999

Summary:
Trying to recover my trading fee as a taker buyer after there wes an issue with the multi-sig

Trade ID: ysnixazi
Currency: GBP
Trade amount: 0.01 BTC
Payout amount for BTC buyer: 0.0060 BTC
Payout amount for BTC seller: 0.0160 BTC

Reason for dispute: Bug

Summary notes:
Problem with the delayed

[2020-11-24 10:27] huey735 commented on #553
Please create a new issue following the [Reimbursement template](https://github.com/bisq-network/support/issues/new/choose).
Take a look at the other issues in [this repository](https://github.com/bisq-network/support/issues) for guidance.

[2020-11-24 10:27] #553 closed

[2020-11-24 11:45] Hudhuranfushi opened #554 "Fee reimbursement for trade XXXXX"
SCREENSHOT HERE

Maker:  ..........
Taker: ...........
Deposit: ..........

Bisq version:

Other notes:

[2020-11-24 12:02] Hudhuranfushi opened #555 "Fee reimbursement for trade ysnixazi"
ysnixazi

![IMG_E5128](https://user-images.githubusercontent.com/49436236/100091705-e2a83a00-2e4c-11eb-9e82-0231f64b821c.JPG)

Maker: 9ca7c750d162bf67126aaa90d41f49e3bde1f8cc88be479f57a3857a1a6ff332
Taker: 8295fbacc0d3fb4f5051a8ff63b64a3772c1e379a98ae83dfbfc5296d4f8576f
Deposit: c2ef5a95882d8c3b34188ff60c244efe42ec7db9e8c59179958dbb37c62e6ab1

Bisq version: 1.4.2

Other notes:
Ticket closed on Nov

[2020-11-24 12:26] airfrank opened #556 "Request to reimburse trade fee - trade id - emnjpkfw"
Hi! I got a trade with a protocol error.

"The deposit transaction /the 2-of-2 multisig transaction) is missing.
Without this tx, the trade cannot be completed. No funds have been locked, but your trade fee has been paid. You can make a request to be reimbursed the trade fee here: github.com"

trade id: emnjpkfw-a961b5d0-a41e-43ba-8d6a-1406eced6f71-137

thanks and best regards

[2020-11-24 12:28] huey735 commented on #556
Please create a new issue following the Reimbursement template.
Take a look at the other issues in this repository for guidance.
Reach out to your mediator for this trade: https://bisq.wiki/Finding_your_mediator.

[2020-11-24 12:28] #556 closed

[2020-11-24 12:49] airfrank opened #557 "Fee reimbursement for trade emnjpkfw"
![grafik](https://user-images.githubusercontent.com/5376944/100095603-0d00f400-2e5b-11eb-95b9-fbc1336202b3.png)

Maker: cb8c5d26f55e60d67495c265201b431a353863457111dda5ad0fc4dbb036c990
Taker: 17356044b8d84683010c99f4617b4a665af9fdf5f6d88862a5c20d9fb09649c7
Deposit: missing

Bisq version: 1.4.2

Other notes:

Ticket closed on Nov 02, 2020
Mediator node address: a56olqlmmpxrn5q34itq5g5tb5d3fg7vxekpb

[2020-11-24 15:37] Akira45-0 opened #559 "Fee reimbursement for trade v66tvdsU"
![grafik](https://user-images.githubusercontent.com/63785272/100115336-ae477480-2e72-11eb-8d5d-0bed9cf1700d.png)

Maker:  ffd62dc408547045a6a21a639f8547191326e101237c6fb8fd8a3c31bb70d117
Taker: ...........
Deposit: ..........

Bisq version: 1.4.2

Other notes:

[2020-11-25 01:28] ceilican opened #560 "Fee reimbursements did not work"
The fee reimbursements from the following issues did not work:

* https://github.com/bisq-network/support/issues/477
* https://github.com/bisq-network/support/issues/476
* https://github.com/bisq-network/support/issues/475
* https://github.com/bisq-network/support/issues/474
* https://github.com/bisq-network/support/issues/473
* https://github.com/bisq-network/support/issues/472

Although I can se

[2020-11-25 02:13] Akira45-0 commented on #550
The deposit transaction was broadcast after three days.

[2020-11-25 14:38] IronBitcoinHodl opened #562 "Fee reimbursement for trade ui9nf"
![image](https://user-images.githubusercontent.com/73696029/100241252-c92ded80-2f33-11eb-8360-dfe879c7b5d5.png)

Maker: dee6309022bf42b7241fc915656b33afec467cc257985238f442337683dc702a

Bisq version: v1.5.0

Other notes:

The trade exited with the following error:

![image](https://user-images.githubusercontent.com/73696029/100241335-e2cf3500-2f33-11eb-847d-4b2804aa0912.png)

Did not copy log, sor

[2020-11-25 19:56] appideias opened #563 "Fee reimbursement for trade qcigqSLD"
SCREENSHOT HERE
![Image of the Issue](http://gestobom.com/images/bisq%20qcigqSLD-b53feea9.png)

Maker:  eb4ae2d26a868d248b9cc19ab88e298bfbdcd9132e97f501fc31e2246f2a190e
Taker: ...........
Deposit: ..........

Bisq version:

v1.5.0

Other notes:

[2020-11-25 20:14] huey735 opened #564 "Case 37259e - Bank doesn't recognize sort code for Faster Payments"
### Description:

BTC buyer's bank doesn't recognize BTC seller's sort code for Faster Payment. When verified against [Faster Payments' official Sort Code Checker](https://www.fasterpayments.org.uk/sort-code-checker) it came back as valid. Which leads me to believe that this is a problem on the BTC buyer's bank side.

### Started at:

2020-11-24 07:25

### Github-issue:

Not a Bisq issue

### Bisq

[2020-11-25 20:20] huey735 commented on #564
@bisq-network/support
1. Should Bisq reimburse the trading fees given that it’s not a Bisq issue?
2. How to avoid this issue given that it’s likely to repeat?

[2020-11-25 21:40] pazza83 commented on #564
- Yes for Buyer
- No for Seller

- Create a policy for what happens to security deposits in the event of failed trades make this available to traders and part of the trading protocol.
- Create a policy for what happens to fee reimbursements in the event of failed trades make this available to traders and part of the trading protocol.
- Add requirement to Faster Payments wiki that sort codes must b

[2020-11-25 22:55] SatStackr opened #565 "Fee reimbursement for trade 68507"
![Screenshot](https://funkyimg.com/i/38URb.png)

Maker:  e560e5e4717f95f55c6e51fdba6fc6e2c5ae3b6baab330b5b4af08ef23f9692f
Taker: N/A
Deposit: N/A

Bisq version: 1.5.0

Other notes: (none)

[2020-11-26 22:13] chimp1984 opened #566 "Add knowledge base for support"
This is a collection of background information and instructions for support agents. Please ping me if anything is missing...

Would be great if the support lead can add it to a wiki page which can serve as knowledge base for support agents as well as for interested users who want to checkout themself in case of problems.

To help getting bugs faster fixed, please report any bug to developers in th

[2020-11-27 00:32] dav1dpgit opened #567 "Fee reimbursement for trade fukfcgjg"
SCREENSHOT HERE
![image](https://user-images.githubusercontent.com/60247151/100398683-18d6fb00-3093-11eb-8691-2cb79adc477a.png)

Maker:  cfbce12510aa02ceaf7b668e3bef99a902af7bf30abd8a7d5153d6a4cbd2b96f
Taker: N/A
Deposit: N/A

Bisq version: 1.5.0

Other notes:

Looking to receive my transaction BSQ fee back.

[2020-11-27 02:34] jmacxx commented on #567
This issue is fixed by https://github.com/bisq-network/bisq/pull/4764 which will be in the next release, [1.5.1](https://github.com/bisq-network/bisq/milestone/45?closed=1)

@dav1dpgit  it looks like the your wallet is not synced properly.

[2020-11-27 03:48] dav1dpgit commented on #567
Thanks James.  How would one go about syncing the wallet to fix the issue?

[2020-11-27 04:22] jmacxx commented on #567
First, see if a restart of the Bisq app causes it to sync up.  I always look at DAO -> BSQ Wallet -> Transactions and watch for the progress bar and `latest verified block` displayed there to catch up to [mempool.space](https://mempool.space).

If it still does not sync then you probably want to do an [SPV Resync](https://bisq.wiki/Resyncing_SPV_file)

[2020-11-27 04:42] dav1dpgit commented on #567
Thanks.  Just resetting the app did the trick.

Will I still get my BSQ back?

[2020-11-27 05:41] jmacxx commented on #567
Yes there's a process this ticket will go through to get your fees back.  @leo816 will contact you here.

[2020-11-28 19:32] Strata13 opened #568 "Fee reimbursement for trade EQJPPNWQ"
![image](https://user-images.githubusercontent.com/75181250/100524438-d807e080-317d-11eb-9633-0eeb15937de2.png)

Maker: 56e227d69b918c94c1e52335d2101aaaeb5c332bcf6f3ba46ae8b053840e4bfa
Taker: ca32ca4138330a4b994fa0825eb00398538bb72ccb1221c5de49af06d488d468
Deposit: N/A

Bisq version: 1.5.0

Other notes:

[2020-11-28 19:38] haritarak commented on #552
Hi, I left all the info I think is what you been asking for. Hope everything is oki
Thanks

[2020-11-28 21:41] jesgeo commented on #537
@leo816 update? timelline?

[2020-11-29 00:16] mylesofsmiles opened #569 "Fee reimbursement for trade ZDXQES"
![Screenshot from 2020-11-28 16-09-50](https://user-images.githubusercontent.com/49426214/100528686-30e27380-3194-11eb-83d0-5da9c05c22dc.png)

Maker: 91b374df2ac55cf4555315f1437f407b4f6d38855a8aa8dd2f073f42faf08385
Taker: N/A
Deposit: N/A

Bisq version: 1.5.0

Other notes:

[2020-11-29 10:49] RefundAgent commented on #527
This dispute is paid out by the Refund Agent and should be rejected by the DAO.

[2020-11-29 13:39] huey735 commented on #552
@haritarak Please keep it simple. Look at other issues in this repository for reference. It should look something like:

[code]

[2020-11-30 01:26] takashifujimoto opened #570 "Fee reimbursement for trade 67967110"
![image](https://user-images.githubusercontent.com/8863377/100559560-b9d2db00-3278-11eb-9094-5e320d9627ae.png)

Maker:  e40c2a7ad9fd4cbd0c9c46a44cbd9ee3e85e135b53f5a0521000b856bf7dd43c
Taker: 602d69f796878f016fd8f1a7cc15cb92b48bb7922664cee7b54f8b31685b488f
Deposit: ae3c333196d146f08d4179a5d2e2013bddf5fff580432b73d40cdd6a3438d8c2

Bisq version: 1.5.0

Other notes:  The support Date Nov 27, 2020 (:1

[2020-11-30 14:29] RefundAgent opened #571 "Reimbursement for Refund agent Cycle 19."
I am lacking 19629.9 BSQ which was bought to cover my refunds:

bisq-network/roles#93

I thus request 19629.9 BSQ for reimbursement.

[2020-11-30 14:39] haritarak commented on #552
Maker:  693a34de17b0b3a466ab91db3e665bbad3c65e0980ff57f90a96acb362e3dad1
Taker: 92e1ea43fbd7e344adf77fe347df57346354002f9bbf6611fb0685e290a62a1d
Deposit: eb426c219208d4e209c14599d0c5282e9bd5fcd412ad436f0b9185ae1c5afbb2

Bisq version: <your Bisq version>1.5.0

Many Thanksss

[2020-11-30 15:03] frrckfrr commented on #531
@leo816 yes I submitted this request after discussing this on Keybase support channel

Unfortunately the app does not allow me to open mediation, as the deposit transaction ID is missing.

[2020-11-30 19:00] leo816 commented on #545
did you open a mediation ticket? please provide all the information as all the other fee reimbursements as well as your preferred btc address

[2020-11-30 19:02] leo816 commented on #546
please provide all the information as other fee reimbursements, as well as your preferred btc address.

[2020-11-30 19:02] leo816 commented on #547
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 19:03] #550 closed

[2020-11-30 19:04] leo816 commented on #551
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 19:06] leo816 commented on #552
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 19:06] leo816 commented on #554
information missing

[2020-11-30 19:07] leo816 commented on #555
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 19:07] leo816 commented on #557
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 19:08] SatStackr commented on #547
Much appreciated, that would be `bc1qnzyenl7z8cfn9k4v7pjyrkw4ah8jnpu2j0n4le` please.
Thanks in advance.

[2020-11-30 19:28] airfrank commented on #557
bc1qqtn7v4zk5mxca30tsv4hcr5vqwwxh7r5kyyy44

thanks for your time and help!!

[2020-11-30 19:57] Hudhuranfushi commented on #557
1DpM2VkWyts41uJAfhyQFmbKfSii53NAoW
Many thanks 👍

[2020-11-30 20:19] senfisura opened #572 "Reimbursement for trade IDOIJOHR"
![image](https://user-images.githubusercontent.com/75276345/100659309-34f6c880-332f-11eb-9516-676f479b9afd.png)
![image](https://user-images.githubusercontent.com/75276345/100659471-6f606580-332f-11eb-826d-61838c483666.png)

Maker:  89e92ff57770bc47c0c64822693d67b1869aa65050cad79afb050a154ab70a72
Taker: 9afced2217d9f96512cda3b95cd76b741bac0c16cd14698ebcd98090dc0b9158
Deposit: 27596111b68d206ac98dd

[2020-11-30 20:21] senfisura commented on #572
The trade amount is 0.01 BTC

[2020-11-30 22:44] hadilosacrat opened #573 "Fee reimbursement for trade Q4OiP"
Hi,  I was buyer of bitcoins. I sent bitcoins to an escrow account. Trade was later cancelled, I need to get 0.0175 bitcoin refunded, currently locked in an escrow account.

![image](https://user-images.githubusercontent.com/75205282/100673990-56ba7480-335c-11eb-9acf-0ff1d04286e8.png)

Trade ID: Q4OiP-4d4d22b4-6681-44eb-b147-0997aa579a05-142
Security deposit: 0.0175
Maker fee trx ID: cea5389098d85

[2020-11-30 22:53] coolcoconut123 commented on #545
Yes, I just checked and it says to open and accept/reject - I just went now and there was no option to accept/reject anything, moved back to failed trade.

![image](https://user-images.githubusercontent.com/74676509/100674269-cb8dae80-335c-11eb-9ddb-c240d4522f26.png)

" Ticket closed on Nov 19, 2020 8:50:41 PM
Mediator node address: sjlho4zwp3gecspf.onion:9999

Summary:
Trade ID: qrqAQJ
Currency:

[2020-11-30 23:03] leo816 commented on #559
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 23:05] leo816 commented on #560
please create them again and provide the btc address where you would like to receive the reimbursement

[2020-11-30 23:05] leo816 commented on #562
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 23:05] leo816 commented on #563
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 23:06] leo816 commented on #565
please provide the btc address where you would like to receive the reimbursement

[2020-11-30 23:34] mateuszmp commented on #551
bc1qe70jj78327p87gx6a2yc4p850j9kz3rgh8weck

[2020-12-01 00:34] appideias commented on #563
Thanks!

1FWHVKhapae1wHVx9C3bWmAtnvJvTwUg2L

[2020-12-01 02:54] Akira45-0 commented on #559
bc1qvdzdtsm0447hlm2w4a6hrk6ljzrmama2zshshu
Thank you.

[2020-12-01 06:02] haritarak commented on #552
bc1qdkc03u2nlvkx85yft4t98w3sleyvuer3x75mxq

Thanks for the support given

[2020-12-01 08:18] huey735 commented on #572
Bisq used a previous Payout transaction from the offer taker as the Deposit transaction, resulting in a failed trade. From the BTC buyer point of view, the Deposit transaction had been confirmed and they could start the payment. They did so.
The other trader remained unresponsive to all my attempts and I'm not sure if they did in fact get the Mediation message.
So this is a special case where the

[2020-12-01 09:40] SatStackr commented on #565
Thanks, `bc1q45838w5uyl8xksx3slx2c6jqg2rxhzpx47t3fe`

[2020-12-01 17:24] leo816 commented on #573
please provide btc address where you would like to receive the payout

[2020-12-01 18:07] leo816 commented on #572
Then the title should be changed to just "Reimbursement for trade ..." and the reimbursement should be done through the DAO. I'm only in charge of fee reimbursements.

[2020-12-01 18:07] leo816 commented on #570
please provide the btc address where you would like to be reimbursed

[2020-12-01 18:08] leo816 commented on #569
please provide the btc address where you would like to be reimbursed

[2020-12-01 18:08] leo816 commented on #568
please provide the btc address where you would like to be reimbursed

[2020-12-01 18:09] leo816 commented on #567
please provide the btc address where you would like to be reimbursed

[2020-12-01 18:11] leo816 commented on #516
payout made correctly

[2020-12-01 18:11] #516 closed

[2020-12-01 18:12] leo816 commented on #517
please provide the btc address where you would like to receive the payout

[2020-12-01 20:43] leo816 commented on #526
please provide the btc address where you would like to receive the payout

[2020-12-01 20:46] leo816 commented on #531
please provide the btc address where you would like to receive the payout

[2020-12-01 20:46] leo816 commented on #532
please provide the btc address where you would like to receive the payout

[2020-12-01 21:55] leo816 commented on #533
please provide the btc address where you would like to receive the payout

[2020-12-01 21:56] leo816 commented on #534
please provide the btc address where you would like to receive the payout

[2020-12-01 21:57] leo816 commented on #535
please provide the btc address where you would like to receive the payout

[2020-12-01 21:59] leo816 commented on #538
please provide the btc address where you would like to receive the payout

[2020-12-01 22:00] leo816 commented on #539
please provide the btc address where you would like to receive the payout

[2020-12-01 22:01] thetimechain commented on #538
3Qepbv31xvYN6Si3PzvTZ6cYyE8tam14AF

Sent from ProtonMail Mobile

On Tue, Dec 1, 2020 at 3:59 PM, leo816 <notifications@github.com> wrote:

[2020-12-01 22:01] leo816 commented on #540
please provide the btc address where you would like to receive the payout

[2020-12-01 22:02] leo816 commented on #541
please provide the btc address where you would like to receive the payout

[2020-12-01 22:02] leo816 commented on #542
please provide the btc address where you would like to receive the payout

[2020-12-01 22:03] leo816 commented on #543
please provide the btc address where you would like to receive the payout

[2020-12-01 22:03] leo816 commented on #544
please provide the btc address where you would like to receive the payout

[2020-12-01 22:30] brndnng commented on #539
I paid my taker fee in BSQ. This is a btc address that I have bc1q3m9ue0cnck9m5n26gkutu6x7kj9sxdt4qht972

[2020-12-01 22:33] JasekN commented on #534
17Yuqu7ReqLW8hCHnGUm8PRdZP8bxgPrBe

[2020-12-01 23:07] rogueserious commented on #540
bc1q7ve78szdt5nmrp3738u6r23ac7c5lqufq3aa6c

[2020-12-01 23:07] rogueserious commented on #535
bc1q7ve78szdt5nmrp3738u6r23ac7c5lqufq3aa6c

[2020-12-01 23:07] rogueserious commented on #533
bc1q7ve78szdt5nmrp3738u6r23ac7c5lqufq3aa6c

[2020-12-01 23:12] rogueserious opened #574 "Fee reimbursement for trade FVWBISU"
![fvwbisu](https://user-images.githubusercontent.com/74083368/100807564-6763fc80-33e7-11eb-9fdb-9d7d19ac782a.png)

Maker:  c68b54ca0b54c2638408ec860219cf5380e42078ea4eeb3624b5635d167a6ddc
Taker: 81ec6f43c8b932e0ed35420b047933e456642a5d7799a157826d576786790e8e
Deposit: N/A

Bisq version: v1.5.0

Other notes:

[2020-12-01 23:14] rogueserious opened #575 "Fee reimbursement for trade ZDXQES"
![zdxqes](https://user-images.githubusercontent.com/74083368/100807790-cc1f5700-33e7-11eb-9601-e76137ed7327.png)

Maker:  91b374df2ac55cf4555315f1437f407b4f6d38855a8aa8dd2f073f42faf08385
Taker: N/A
Deposit: N/A

Bisq version: v1.5.0

Other notes:

[2020-12-01 23:40] leo816 opened #576 "Batch Reimbursement"
Previous Batch Reimbursement: #515

[2020-12-02 00:20] leo816 commented on #539
Will be reimbursed with #576

[2020-12-02 00:27] leo816 commented on #538
Will be reimbursed with #576

[2020-12-02 00:30] leo816 commented on #565
Will be reimbursed with #576

[2020-12-02 00:35] leo816 commented on #563
Will be reimbursed with #576

[2020-12-02 00:38] leo816 commented on #557
Will be reimbursed with #576

[2020-12-02 00:41] leo816 commented on #536
Will be reimbursed with #576

[2020-12-02 00:43] leo816 commented on #537
Will be reimbursed with #576

[2020-12-02 00:55] walter400 opened #577 "Fee reimbursement for trade 26517"
SCREENSHOT HERE

This trade failed and no funds were sent to escrow. When a trade fails we recommend the traders to request reimbursement (https://github.com/bisq-network/support/issues/new/choose) and move said trades to Failed trades. And do a SPV resync if the UI still shows funds as locked for this trade: https://bisq.wiki/Resyncing_SPV_file#From_the_Bisq_interface.shot from the Bisq client mu

[2020-12-02 01:23] walter400 opened #578 "Fee reimbursement for trade 26517"
This trade failed and no funds were sent to escrow. When a trade fails we recommend the traders to request reimbursement (https://github.com/bisq-network/support/issues/new/choose) and move said trades to Failed trades. And do a SPV resync if the UI still shows funds as locked for this trade: https://bisq.wiki/Resyncing_SPV_file#From_the_Bisq_interface.
Ticket closed on Nov 29, 2020 4:24:30 PM
Med

[2020-12-02 01:49] leo816 commented on #551
Will be reimbursed with #576

[2020-12-02 05:53] haritarak commented on #552
oki thanks

[2020-12-02 06:57] dav1dpgit commented on #567
bc1qxqjay5rrjygsgcyu8gwh2ytk9f4dlmendag3mk

Thank you very much.

[2020-12-02 12:41] threehill commented on #542
I´m sending an adress to you on Keybase.

[2020-12-02 12:42] threehill commented on #544
I´m sending an adress to you on Keybase.

[2020-12-02 12:42] threehill commented on #541
I´m sending an adress to you on Keybase.

[2020-12-02 16:41] Akira45-0 opened #579 "Fee reimbursement for trade mpSMJFhz"
SCREENSHOT HERE
![grafik](https://user-images.githubusercontent.com/63785272/100902498-38bc5380-34c5-11eb-8903-f4c67fda0081.png)

Maker:  4e052726b1508a983fc3dccfdd943c2cca6f784a7347288617b4942f96535a4c
Taker: 973ff449eeec98ddd9e7e894c65e5fce4e3d038b2c7f404896e25c354c7bbf76
Deposit: ..........

Bisq version: 1.5.0

Other notes: Please refund to bc1q5e9lh6l82fv82qgk74hxhtepd0znt6ckxeevs9

[2020-12-02 17:33] Kariba1812 opened #580 "Fee reimbursement for trade FVWBISU"
![image](https://user-images.githubusercontent.com/75386018/100908993-025ce500-3481-11eb-82a6-45bf15a555b7.png)

Maker:  c68b54ca0b54c2638408ec860219cf5380e42078ea4eeb3624b5635d167a6ddc
Taker:  81ec6f43c8b932e0ed35420b047933e456642a5d7799a157826d576786790e8e
Deposit: b29f63d50177465e94972e11f479af85b3ec8120c7d3162990c090b9a685a2f3

Bisq version: v.1.5.0

Other notes:

[2020-12-02 17:55] Kariba1812 opened #581 "Fee reimbursement for trade pgnmDL9"
![image](https://user-images.githubusercontent.com/75386018/100911366-fa527480-3483-11eb-900f-f3ed344bcad3.png)
![image](https://user-images.githubusercontent.com/75386018/100911707-7056db80-3484-11eb-9135-842b60ccb666.png)

Maker:  ..........
Taker: ...........
Deposit: ..........

Bisq version: v.1.5.0

Other notes:
Bisq will not let me close this trade.  I do not want to keep this trade open an

[2020-12-02 17:55] haritarak opened #582 "Fee reimbursement for trade 18513"
SCREENSHOT HERE

Maker: d08f4b5584f3da27e5b07a201c4e8544585d58989cbd5e01b48f0f3c2e74e830
Taker: db22bd121c34b3c9c0edde8e59b84f03b3f9a6160671a29272390544e3f11fe0
Deposit: d1f670a9a31640f407ed3c0bc65b2d260653461b80c20b9457624e97c9d50e42

Bisq version: 1.5.0

Other notes: The deposit TX has lots of confirmations but the Bisq does not confirm it to allow me to pass to the payment step. Please reimburs

[2020-12-02 20:57] Strata13 commented on #568
bc1qza39p9lhzl6pv6t7tlw9jt0qhdhpx8f9nzulf9

On Tuesday, December 1, 2020, leo816 <notifications@github.com> wrote:

[2020-12-02 20:58] Slimmmmmmmmm opened #583 "[Reimbursement] Payout has 0 peers & 0 confirmations, Txid not found for trade qrnbiub"
(December 31, 2020): Hello. I would like to ask for reimbursement and compensation. I have sent the FIAT correctly. 30 days have passed already & I have not received my payout. The peer is no longer cooperating and not reachable by an means, so I ask to reimburse me 0.0238 BTC of the trade amount + 0.006 BTC of my security deposit + 0.006 BTC from the seller's deposit as a compensation, that is 0.

[2020-12-02 21:21] leo816 commented on #552
Will be reimbursed with #576

[2020-12-02 21:24] leo816 commented on #555
Will be reimbursed with #576

[2020-12-03 07:46] Hudhuranfushi commented on #555
Ok thanks

[2020-12-03 16:01] chimp1984 commented on #583
Can you post the maker fee tx id and taker fee tx id?

[2020-12-03 16:04] Slimmmmmmmmm commented on #583
maker fee txid: https://blockstream.info/tx/de64a628fd76dc079a825a2ea0d6958e82a7e41431811fb47140c718095763b7

taker fee txid: https://blockstream.info/tx/6a9275608756d12c22ba88541bb8c8142d06d4d2f2ed8694086c3ef53a0ba020

[2020-12-03 18:03] chimp1984 commented on #583
Can you post a screenshot of the trade details window (click on trade id)?
Thats the real deposit tx: https://mempool.space/de/tx/aa23028e2a6cdf5f8eff9efb838586ccebfd9247d7c97b4d3e6a82a3dc0ce403
And its not paid out.

[2020-12-03 18:20] Slimmmmmmmmm commented on #583
Trade Details Window:
<img width="893" alt="Screen Shot 2020-12-03 at 1 13 29 PM" src="https://user-images.githubusercontent.com/75394475/101070785-ccdff680-3569-11eb-9e4d-9f40f1388701.png">

Open trades screen empty:
<img width="1148" alt="Screen Shot 2020-12-03 at 1 14 07 PM" src="https://user-images.githubusercontent.com/75394475/101070791-cea9ba00-3569-11eb-8f85-7264cd437840.png">

at first th

[2020-12-03 21:40] ron87in opened #584 "Fee reimbursement for trade 707714"
SCREENSHOT HERE
![image](https://user-images.githubusercontent.com/73856827/101090909-feae8880-357c-11eb-8aba-64b6515468a2.png)

Maker: 47c047a595be7ce7acf83ccc2f657c048c18a845dbbb15abe9a8e8b38920742e
Taker: n/a
Deposit: n/a

Bisq version: 1.5.0

Other notes: This trade was previously mentioned here (https://github.com/bisq-network/support/issues/526). On this other page, I also mentioned a trade

[2020-12-03 23:56] chimp1984 commented on #583
Can you PM me the log files (all 11 log files in a zip) on keybase (same username)?

[2020-12-04 00:06] Slimmmmmmmmm commented on #583
I sent you a PM on keybase.

[2020-12-04 01:53] dav1dpgit commented on #567
If you are looking for a BSQ address, use this one:

B16ssKC5Fh2QaFip9NBzWYfZdA2xKsRidjY

[2020-12-04 12:38] senfisura commented on #572
I changed the title as requested

[2020-12-04 14:19] ripcurlx commented on #521
@spx4000 Can you please confirm that `a3eb23b8429d9f6aee5fe85ded68b0c4509ea09b8718374898f8404d92fb665e` is the correct transaction ID linked to your reimbursement request? Thanks!

[2020-12-04 17:45] rogueserious opened #585 "Fee reimbursement for trade 09944980"
![09944980](https://user-images.githubusercontent.com/74083368/101196199-4680ee80-3615-11eb-8182-50c6f6db8d35.png)

Maker:  dd50fcb1394c80670f6118116a3d53f59cbb8317bcb5dc349c5e1b7ff931d8a6
Taker: 10978d92f2227eed01796f0113d705aeec8a236ec8473f944fc78cc0685b4488
Deposit: N/A

Bisq version:v1.5.0

Other notes:

[2020-12-04 17:53] Kariba1812 opened #586 "Fee reimbursement for trade 09944980"
![image](https://user-images.githubusercontent.com/75386018/101197058-74b2fe00-3616-11eb-8e33-8b7e79bec407.png)

Maker:  dd50fcb1394c80670f6118116a3d53f59cbb8317bcb5dc349c5e1b7ff931d8a6
Taker: 10978d92f2227eed01796f0113d705aeec8a236ec8473f944fc78cc0685b4488
Deposit: 007fbdcfb270ac97c9b84170be719c4abe25e587a2376009d99699da99055101

Bisq version: v.1.5.0

Other notes:  Delayed Payout Transaction ID

[2020-12-04 17:54] Kariba1812 commented on #586
Delayed transaction ID did not properly fill by protocol.  Please reimburse deposits.

[2020-12-04 18:06] chimp1984 commented on #583
There was a bug where past transactions got set as deposit tx. It is fixed for a hotfix release we will do in a few days (monday probably). This caused the other follow up issues.
Open a dispute with cmd+o and tell the mediator that it requires a manual payout. He will guide you further. Tell the mediator that the real deposit tx is: aa23028e2a6cdf5f8eff9efb838586ccebfd9247d7c97b4d3e6a82a3dc0ce403

[2020-12-04 20:09] chimp1984 commented on #583
I could move the trade back from closed to open trades and set the correct deposit tx id. With that the user can open mediation. The mediator should close in favor to the seller as he has not received the btc. I hope the buyer will get the dispute ticket as well and can still accept the mediated payout. If not we can do either a manual payout if the buyer is available, or wait until arbitration ca

[2020-12-05 21:28] mylesofsmiles commented on #569
bc1qfa3lr7qus55rpfcmhkkhslwrjflx9js6wrkdz6

[2020-12-06 04:19] zulu68 opened #587 "Fee reimbursement for trade 04267419"
![image](https://user-images.githubusercontent.com/75555532/101271347-729c8c80-3747-11eb-93ce-73c4ad5c374c.png)

Maker:  94a7be43aa14b761edb9d735fc7f20808411cb1fd8b1af9801e87b8284525b1e
Taker: c979ea5210678be6ca93c8e1e8b9b2550ecd90abe92f278a74730ca392b3b365
Deposit: 67a287600cbedf268a29c2d28bb3a967c18bfe592fd5c5dfe400ca823c217502

Bisq version: 1.5.0

Other notes:  Delayed Payout Transaction ID di

[2020-12-06 16:35] jhdfvcbiw commented on #304
Bisq says my deposit transaction funds are still locked. How do I get this returned?

[2020-12-06 16:36] jhdfvcbiw commented on #304
![screen](https://user-images.githubusercontent.com/56731121/101286217-27cf5300-37e1-11eb-8c5b-d1427ffa814e.png)

[2020-12-06 16:43] jhdfvcbiw opened #588 "Security deposit reimbursement for trade VftyDShZ"
![image](https://user-images.githubusercontent.com/56731121/101286337-d07db280-37e1-11eb-955b-6fd54fbaa51c.png)

Maker: 89ec5e6d0d17ef9f7e6293663caa265ed22fd156f9bb5ce10d6438a4295e9ab4
Taker: 323d65ba1c7fe463ed415f2ae3a5d46f83ed0b81037a28fac76bedc58a206ccc
Deposit: ba2e2a262679a2add8f59aac4518ac7b0f9d27b0cce74a9c00f4190b802150ac

Bisq version: 1.5.0

![image](https://user-images.githubusercontent.

[2020-12-06 19:23] calvaquality commented on #543
Hi @leo816

bc1q0t6u3at42wc6uu90neyl4eunhpua38f8kmnkhv

[2020-12-07 09:47] frrckfrr commented on #531
@leo816 3Enx3T78nCAVfN6paqyouE31x6vkw6PDir
thanks

[2020-12-07 16:17] chimp1984 commented on #587
The Deposit tx is from another trade (due a known and now fixed bug). The maker fee tx leads to another tx which is not a deposit tx: https://mempool.space/de/address/bc1q7lmr2hvqt3dexxe6al0mk8fkmay5g4rt5e4yq7. Same with taker fee tx:
https://mempool.space/de/address/bc1qcu0jmgmn6gcx90ms3mhqcjerpqjz9pjgey2se9

So reimbursement is only valid for the taker fee not the deposit as no funds have been l

[2020-12-07 16:20] chimp1984 commented on #588
Maker fee tx is not in the mempool. Taker fee is spent on other tx:
https://mempool.space/de/address/1GSy5A7vhAkTv6BmJDyurvGtrKZAzBtF96
Please move the trade to failed trades and you can request a reimbursement for the lost fee.

[2020-12-07 19:12] cryptopayserver opened #589 "Fee reimbursement for trade 4523348"
![2020-12-07 20_03_18-QEMU (BTCWKS01) - noVNC](https://user-images.githubusercontent.com/55004944/101393491-7820e080-38c7-11eb-9ecb-0553bdfbad16.png)

Maker: 7be2e86eaae1e73f8d9f069df741d67a0a4a14049f3831d8070b0088dcd039bf
Taker: 26234457d2ccb38d7ab19c921d8fc04a826292342ffc357f717249f535f61c9b
Deposit:  N/A
delayed payout transaction:3de911d44ae7d7b884e36dc83294a4c54a9e566064fa81db39575bba26396e3f

[2020-12-07 23:38] Slimmmmmmmmm commented on #583
Mediator closed out the case and funds still stuck at 0 peers / 0 confirmations.

[2020-12-07 23:53] chimp1984 commented on #583
So you did accept mediated payout. Did peer accept as well already?

[2020-12-07 23:54] Slimmmmmmmmm commented on #583
I accepted mediated payout. Peer had/has no support tickets open so there is nothing for him to accept.

[2020-12-08 10:33] helleaven-lab opened #590 "Fee reimbursement for trade 64423"
![image](https://user-images.githubusercontent.com/75671089/101472176-22d4e580-3940-11eb-9378-983829e98bd7.png)

TradeID: 64423-f2a4239d-1ae2-4b26-b2bf-ce4e4bcd908f-150
Maker:  b2e0d4da39c3a5fbda63f61ab070bd0c292c73d833f9104ee80d2f5ff15e1e34

[code]

Bisq version: 1.5.0 Windows

Other notes:
I have security deposit block with funds
btc address: bc1qkn3pey3c8vwuj8nhpk5ru085k9tt7nv9d05pn7
Thanks in

[2020-12-08 15:35] chimp1984 commented on #583
Confirming that I am the keybase user chimp1984: "dsf9235ldfsgdsaykhdsfg"

[2020-12-08 16:15] BisqTor commented on #396
@leo816
Ok, sir.
When is the end of the cycle?

[2020-12-08 18:01] appideias opened #591 "Fee reimbursement for trade UGLRYY-ebc606f3"
![Image of Yaktocat](http://gestobom.com/images/UGLRYY-ebc606f3.png)

**Maker:  794c4e6b3ff5f81071c5f36000e1228c1677a60b7c85907d116f79a83d7becf4
Taker: abaa0b62ab2ea9e0702c4c000f94023854a9194db4b8c271a2504487d0cd37a2
Deposit: N/A -> That's the problem.**

![Image of Yaktocat](http://gestobom.com/images/UGLRYY-ebc606f3-error01.png)

![Image of Yaktocat](http://gestobom.com/images/UGLRYY-ebc606f3-er

[2020-12-09 02:20] spx4000 commented on #521
@ripcurlx  Yes, that txid is correct. Thanks.

[2020-12-10 01:14] vvvijaya opened #592 "Fee reimbursement for trade"
bla bla bla bla bla bla

[2020-12-10 08:23] dav1dpgit commented on #567
@leo816 When will this reimbursement be made?

[2020-12-10 11:15] bisq020 opened #593 "Fee reimbursement for trade cke6ZQp"
SCREENSHOT HERE
![immagine](https://user-images.githubusercontent.com/75786089/101764144-02dc2800-3ae0-11eb-9fb5-13892906e1b1.png)

Maker: 1f84da5fd49fe464765cd1aed7885dcfb45be9aa2cdeb4bf206b0620fd8fb9f1
Taker: ...........
Deposit: ..........

Bisq version:
1.5.1

Other notes:
I can't have more information than those inserted. I can't find the **Maker**, **Taker** and **Deposit** TXIDs information

[2020-12-10 14:47] leo816 commented on #567
there has been an issue and we are trying to solve it asap

[2020-12-10 16:13] leo816 commented on #396
We are now on the next cycle. we are facing some issues and the payout will be made asap.

[2020-12-10 16:17] spx4000 commented on #521
@Burningman3  I am trying to contact you via your keybase account: burningman3, I am spx4000 on Keybase, please message me if you see this.

[2020-12-11 14:34] bitcoin-heru opened #594 "Fee reimbursement for trade fxsluggg"
![Screenshot 2020-12-11 at 13 53 29](https://user-images.githubusercontent.com/75846872/101915335-64be8f80-3bbd-11eb-801c-321d1be8de41.png)

Maker:  066932653cff64ba6c4fafd82b66b2cfb91b58891e3ca22c8d34b5491fde1841
Taker: 457113f61a98a10887defc5b3147fbb211e7eeedc654932af04c163c352ac15c
Deposit: N/A

Bisq version: 1.5.1

[2020-12-11 16:06] airfrank commented on #576
Are these transactions already sent?

[2020-12-11 17:04] zulu68 commented on #587
Where do I open a ticket with the devs at? Ive got like 0.06 btc locked up
in security deposits that i cannot comeplete

On Mon, Dec 7, 2020 at 10:18 AM chimp1984 <notifications@github.com> wrote:

[2020-12-11 17:45] chimp1984 commented on #587
Have you updated to 1.5.1? If so is the problem still the same? If so do a spv resync in settings/network. if that did not help do a restore from seed words. do a backup first of the data directory. then restore from seed words in the same app. this should clean up all. If there is still balance locked up contact support in keybase.

[2020-12-11 21:12] BisqTor commented on #396
@leo816
I hope so, please don`t forget.
I need my money back before christmas.
I am unemployed because this pandemic.

[2020-12-12 10:43] Akira45-0 opened #595 "Fee reimbursement for trade gn6gO"
SCREENSHOT HERE
![grafik](https://user-images.githubusercontent.com/63785272/101981695-0a7e0700-3c6f-11eb-90a1-28eaacc66e12.png)
Maker:  8fe13a8fd7fdecda296378767e106c7e0106732e68d7711928091ebb475cb748
Taker: ...........
Deposit: ..........

Bisq version: 1.5.1

Other notes:

[2020-12-14 09:18] Akira45-0 opened #596 "Fee reimbursement for trade 5342967"
![grafik](https://user-images.githubusercontent.com/63785272/102062792-78ecd180-3df5-11eb-950a-343b2e99ddac.png)
Maker:  40886481d929c55588e63e08d7270491d1e61018743dc7c5012fc66ba9c73ea2
Taker: 690af974df53c98248c58bd54652ef1a85cb15ad2b3516791d442125cb05af29
Deposit: ..........

Bisq version: 1.5.1

Other notes:

[2020-12-14 09:21] Akira45-0 opened #597 "Fee reimbursement for trade 5018261"
![grafik](https://user-images.githubusercontent.com/63785272/102063067-d84ae180-3df5-11eb-9769-e543f3599bae.png)
Maker:  2e19edd90c83d8b76e9074b090355a18a2c63597698d13fcca3d23e08e676370
Taker: 2ecab3c872932c4892252268f7b00cb6c712f64daf4af53a5303635d5f8ec942
Deposit: ..........

Bisq version: 1.5.1
Other notes:

[2020-12-14 09:23] Akira45-0 opened #598 "Fee reimbursement for trade 9620415"
![grafik](https://user-images.githubusercontent.com/63785272/102063406-48596780-3df6-11eb-920a-1bd092ed80e0.png)
Maker:  c939c911806e4dac8da48f92a61cb759010731cfb2fec74e1048e634ac0764b5
Taker: feb01124b3f09c7df03afe3a2e1fe6430699e8cc0051a62ead2659762eb4bb95
Deposit: ..........

Bisq version: 1.5.1

Other notes:

[2020-12-14 09:28] Akira45-0 opened #599 "Fee reimbursement for trade FPBOy"
![grafik](https://user-images.githubusercontent.com/63785272/102064209-51970400-3df7-11eb-9d04-74249662deaf.png)

Maker:  7440c094c2510e534e08f10f982c19192b4c6fbca39ee236c94597b355a5a904
Taker: 3a37dcccb45d7ec53a29b068b96bc51efbbefc4d63d13dd44e68d3eb28c66e03
Deposit: ..........

Bisq version: 1.5.1

Other notes:

[2020-12-14 13:52] Slimmmmmmmmm commented on #583
In support doing manual payout. Still stuck at 0 peers / 0 confirms. (Dec 14, 2020)

<img width="1169" alt="Screen Shot 2020-12-14 at 8 52 07 AM" src="https://user-images.githubusercontent.com/75394475/102089004-a6338280-3de9-11eb-9b42-33f9fb31dd2d.png">

[2020-12-15 17:49] zulu68 commented on #587
I tried all of that but unfortunately it didn’t work. When restoring the
wallet from seed I noticed it switched the locked btc to my wallet for a
split second before going to 0 as the bt main was syncing. After sync was
done my wallet showed 0 in every category. I restored back to the original
after that and the btc was still showing up as locked in my wallet. Who
should I contact on keybase?

On

[2020-12-15 17:51] zulu68 commented on #587
Ive got 0.0340 locked up right now. And I’m pretty sure another 0.01 is
locked somewhere else because I had to restore during an open trade and I
noticed that particular security deposit and trade all together has
disappeared day from my records. Hopefully devs could sort that out.

On Tue, Dec 15, 2020 at 11:49 AM Delta Zulu <cfbandmaybeotherstuff@gmail.com>
wrote:

[2020-12-15 18:03] chimp1984 commented on #587
Regarding the trade posted above, there is no funds locked up as there is no deposit tx. You can see that when you follow the second output of the trade fee txs, which do not lead to a deposit tx.
You can check also with cmd+j the internal wallet state and all transactions. Best to contact support in keybase for further assistence.

[2020-12-16 12:02] Alvaato opened #600 "Fee reimbursement for trade L4ZBOHUC"
<img width="886" alt="L4ZBOHUC" src="https://user-images.githubusercontent.com/76105040/102345678-0b2fd980-3f9e-11eb-8666-fd172c7e0008.png">

Maker:  29ae1e23e5385d059ae1dcb3716d3958eb91402823d0cbc7ca05f89f876f0b60
Taker: N/A
Deposit: N/A

Bisq version: v1.5.1

Other notes:
The Error message is:

An error occurred at task: TakerProcessesInputsForDepositTxResponse
Exception message: Lock time of ma

[2020-12-16 12:36] #600 closed

[2020-12-16 16:26] peterbaricic opened #601 "Fee reimbursement for trade 2tyuw"
<img width="926" alt="bisq" src="https://user-images.githubusercontent.com/6643903/102375668-10534f80-3fc3-11eb-8011-40c81d47d602.png">

Maker:  e689bdedb0b9def2d911a2014bd13ddd713a88d158d8b063f678ab8257ec79e5
Taker: ...........
Deposit: ..........

Bisq version: 1.5.1

This is the error message:
An error occurred at task: TakerProcessesInputsForDepositTxResponse
Exception message: Lock time of ma

[2020-12-16 16:48] Scandelq opened #602 "Fee reimbursement for trade L4ZBOHUC"
![image](https://user-images.githubusercontent.com/76119998/102379013-b48ac580-3fc6-11eb-8742-8ebf9e154644.png)

Maker:  29ae1e23e5385d059ae1dcb3716d3958eb91402823d0cbc7ca05f89f876f0b60
Taker: N/A
Deposit: 0.0060 BTC

Bisq version: v1.5.1

Other notes:

[2020-12-16 17:28] leo816 commented on #578
information missing, please check the template as guidance

[2020-12-16 17:29] leo816 commented on #581
information missing, please check the template as guidance

[2020-12-16 18:14] rodrigocorral opened #603 "Fee reimbursement for trade L4ZBOHUC"
![image](https://user-images.githubusercontent.com/6072095/102388551-392f1100-3fd2-11eb-8975-c801b8575d35.png)

Maker: 29ae1e23e5385d059ae1dcb3716d3958eb91402823d0cbc7ca05f89f876f0b60
Taker: N/A
Deposit: 0.0060 BTC

Bisq version: v1.5.1

An error occurred at task: CreateTakerFeeTx
Exception message: Insufficient money,  missing 0.00213794 BTC

[2020-12-16 19:39] hashkebab opened #604 "Fee reimbursement for trade V29SLR7E"
![V29SLR7E](https://user-images.githubusercontent.com/24438885/102397371-b445f680-3fd5-11eb-9fd5-9b5736436445.JPG)

Maker: 59f4f744337714bbe7d5a5694e703baa48cf5a676c513c416f504f1248e1f0d5
Taker: 339539cbe6b19c05710b7bed9e063b7739bd5fb27793417c50ce53edaf56ce60
Deposit: n/a

Bisq version: 1.51

Other notes: Issue with deposit TX not being funded correctly

[2020-12-16 19:47] hashkebab opened #605 "Fee reimbursement for trade 64704"
![64704](https://user-images.githubusercontent.com/24438885/102398533-4f8b9b80-3fd7-11eb-8dd4-e58e59d78517.JPG)

Maker:  99b4199cebb034eb4497123c0fa803a98d98a5638caf87f588adcbd324d75b10
Taker: 0e6c5624bb754e10a48c0d4dea362b6bc41a3c5d6db205174c17e7e79ecf77df
Deposit: N/A

Bisq version: 1.5.1

Other notes: Issue with deposit TX not being funded correctly

[2020-12-16 20:00] zulu68 commented on #587
Ok I can do that. Who should I contact on keybase? When I type in bisq I’m
not able to find any type of support as far as I can see. I’m not familiar
with keybase tbh.

On Tue, Dec 15, 2020 at 12:03 PM chimp1984 <notifications@github.com> wrote:

[2020-12-16 20:07] chimp1984 commented on #587
There is a support channel in keybase. post the onion address of your mediator there (u find it at the trade details window)

[2020-12-16 20:57] leo816 commented on #587
what is your handle on keybase?

[2020-12-16 21:28] walter400 commented on #578
sounds like you should fuck off!

[2020-12-16 22:09] walter400 commented on #578
Have no Idea what a template is so I guess you can just fuck.
________________________________
From: leo816 <notifications@github.com>
Sent: December 16, 2020 9:28 AM
To: bisq-network/support <support@noreply.github.com>
Cc: walter400 <WILLIAM973@HOTMAIL.COM>; Author <author@noreply.github.com>
Subject: Re: [bisq-network/support] Fee reimbursement for trade 26517 (#578)

information missing, pleas

[2020-12-16 22:19] huey735 commented on #578
Click GET STARTED when creating an issue on [this repository](https://github.com/bisq-network/support/issues/new/choose) and follow the template. [Here's an example of a properly created issue](https://github.com/bisq-network/support/issues/604).

![template](https://user-images.githubusercontent.com/44140017/102413388-bebfba80-3fec-11eb-99e1-4308515b5074.png)

[2020-12-16 22:19] #578 closed

[2020-12-16 23:14] hashkebab opened #606 "Fee reimbursement for trade 2656985"
![2656985](https://user-images.githubusercontent.com/24438885/102417636-fa11b780-3ff3-11eb-9ea4-03c05c599a2b.JPG)

Maker:  4ecdac7c50e161ce2a0fe2a0db1504f6f0391df14fba06b50cbc23a70e1558ec
Taker: unknown
Deposit: unknown

Bisq version: 1.4.8

Other notes:

This is an older trade and have resynced SPV since so maybe missing info

Error reported
An error occurred at task: TakerProcessesInputsForDepos

[2020-12-16 23:54] walter400 opened #607 "26517"
SCREENSHOT HERE
![image](https://user-images.githubusercontent.com/75341071/102420317-bb114100-3fb6-11eb-9dc8-d14233a9b4c0.png)

![image](https://user-images.githubusercontent.com/75341071/102420394-e6942b80-3fb6-11eb-9315-ef70cbe362d4.png)

Maker:  ..........
Taker: ...........
Deposit: ..........

Bisq version:

Other notes:

![image](https://user-images.githubusercontent.com/75341071/102420360-

[2020-12-16 23:57] huey735 commented on #607
Doesn't follow the template and contains sensitive information. Please`edit the post and:

- blank out the trader's personal info
- copy and paste the transaction ids for:
[code]

Again look at [this issue](https://github.com/bisq-network/support/issues/604) for an example.

[2020-12-17 00:12] #607 closed

[2020-12-17 01:24] a-safonau opened #608 "Fee reimbursement for trade LKCbEW"
<img width="893" alt="image" src="https://user-images.githubusercontent.com/3219729/102425941-7b079800-4062-11eb-8c51-25a7f39eb77d.png">

Maker: d5bb9c74359a7b7ecb6e585a7f1891cc75b167ca77308799081b3d788fe621fd
Taker: ...........
Deposit: ..........

Bisq version: 1.5.1

Other notes: An error occurred at task: MakerProcessesInputsForDepositTxRequest
Taker's trade price is too far away from our calc

[2020-12-17 01:26] walter400 opened #609 "Fee reimbursement for trade 26517"
![screenshot](https://user-images.githubusercontent.com/75341071/102426236-cfa80600-3fc3-11eb-839e-69dafd0e5d10.png)

Maker: e3d6a8863578481a30a8570bf8bade19fb229e65b8c204030e20aed9557d2121.....
Taker:  918fd9fd583c8bc8f0facf1f278a42d8845a1a43f66d05157dc67fd7412a9c50
Deposit: 0.0060 btc

Bisq version:

Other notes:

[2020-12-17 12:18] Alvaato opened #610 "Confirmation deposit transaction is stuck for trade 00781"
<img width="881" alt="tx00781" src="https://user-images.githubusercontent.com/76105040/102484809-11d65380-4067-11eb-844c-1e5626689895.png">

Maker:  [7f0e170326efd3e9a152df9df6444d812a69032b632afbbf68fe908c68fc0e54](https://mempool.space/de/tx/7f0e170326efd3e9a152df9df6444d812a69032b632afbbf68fe908c68fc0e54)
Taker: [0753f090139dfebab82382b728e0b9dbf6665955cabfff06142859cc800fce20](https://mempool.

[2020-12-17 12:18] Alvaato commented on #610
<img width="988" alt="tx00781-2" src="https://user-images.githubusercontent.com/76105040/102487139-5c0d0400-406a-11eb-96f7-58d0a5bb8e5c.png">

[2020-12-17 15:29] MwithM commented on #610
The deposit tx is ok.
Have you tried a [spv resync](https://bisq.wiki/Delete_and_resync_SPV_file)?

[2020-12-17 19:27] Alvaato commented on #610
Well, thanks for that.

[2020-12-17 19:27] #610 closed

[2020-12-17 21:59] huey735 commented on #609
Paste the Deposit transaction id instead of "0.0060 btc".

[2020-12-17 22:09] walter400 commented on #609
Deposit transaction fee:    7a2877fe8117a9ef2d26f8282824b9a8520205fb836ea022e0fff418edcaf596

[2020-12-17 23:33] zulu68 commented on #587
Delta6483. Could you also mediate another trade on bisq? Ive got one in
support that’s been sitting for almost 3 weeks. I just completed the
payment on it. Anyway could could complete that one since it’s in mediation
stage? Had some problems with sending the money to the guy earlier but I
just resolved it.

On Wed, Dec 16, 2020 at 2:57 PM leo816 <notifications@github.com> wrote:

[2020-12-17 23:34] technonerd33 opened #611 "Fee reimbursement for trade LKCbEW"
![image](https://user-images.githubusercontent.com/14337797/102556170-e9ae1b00-408d-11eb-9727-6aa7a0087121.png)

Maker:  d5bb9c74359a7b7ecb6e585a7f1891cc75b167ca77308799081b3d788fe621fd
Taker: ...........
Deposit: ..........

Bisq version: 1.5.1

This is the error message:
Timeout reached. Protocol did not complete in 60 sec.

[2020-12-17 23:43] zulu68 commented on #587
6EQ72TU is the trade ID

On Thu, Dec 17, 2020 at 5:33 PM Delta Zulu <cfbandmaybeotherstuff@gmail.com>
wrote:

[2020-12-18 05:45] endurance1968 opened #612 "Fee reimbursement for trade UDV2W"
![image](https://user-images.githubusercontent.com/38796027/102579249-65df4780-40fc-11eb-9504-9bfcd293b17c.png)

Maker: 29d3554357e2c71915ef194628d59531776ef903a8aa1798a0e769880159968e
Taker: ...........
Deposit: ..........

Bisq version:
1.5.1
Error:
Timeout reached. Protocol did not complete in 60 sec.

[2020-12-18 12:48] marcsmith1279 opened #613 "Fee reimbursement for trade 6iqejl"
Trade ID: 6iqejl

![Screenshot from 2020-12-18 12-44-36](https://user-images.githubusercontent.com/76212074/102616275-339b0d80-412f-11eb-8553-5f1dafba86e9.png)

Bisq Version - 1.5.1

[2020-12-18 13:39] marcsmith1279 opened #614 "Trade ID - 695564. Trade stuck with no deposit broadcast txid. Buyer and seller deposit stuck"
![Trade ID - 695564](https://user-images.githubusercontent.com/76212074/102620756-6d234700-4136-11eb-8735-080819c45a70.png)
Bisq Version - 1.5.1

[2020-12-18 13:40] marcsmith1279 opened #615 "Trade ID - 7377320. Trade stuck with no deposit broadcast txid. Buyer and seller deposit stuck"
![Trade ID - 7377320](https://user-images.githubusercontent.com/76212074/102620856-9b088b80-4136-11eb-9966-4cd083d089e6.png)

Bisq Version: 1.5.1

[2020-12-18 13:41] marcsmith1279 opened #616 "Trade ID - AjHLg7y0. Trade stuck with no deposit broadcast txid. Buyer and seller deposit stuck"
![Trade ID - AjHLg7y0](https://user-images.githubusercontent.com/76212074/102620930-b6739680-4136-11eb-87c4-1da33ec8c6d8.png)

Bisq Version: 1.5.1

[2020-12-19 03:02] thespear256 opened #617 "Fee reimbursement for trade fpcfpdq"
![image](https://user-images.githubusercontent.com/76235859/102679145-85698500-417b-11eb-971c-d30787a3b0e6.png)

Maker:  a7d82cfba1bfe9f51ed88deff343ce82f3b566d5bb93630623931ea2b8effa6d
Taker: N/A
Deposit: N/A

Bisq version: v1.5.1

Other notes: Thanks for helping, this was a real head scratcher.

[2020-12-19 07:41] MwithM commented on #616
Please submit in plain text maker and taker fee tx ID.

[2020-12-19 07:41] MwithM commented on #615
Please submit in plain text maker and taker fee tx ID.

[2020-12-19 07:41] MwithM commented on #614
Please submit in plain text maker and taker fee tx ID.

[2020-12-19 09:01] Alvaato opened #618 "Trade FPLcUuX. Deposit tx is missing."
<img width="874" alt="FPLcUuX" src="https://user-images.githubusercontent.com/76105040/102684582-1bcc9380-41da-11eb-8f7c-14e6dde781e0.png">

Maker:  0c5ca27c61b0e43ffc584bef8f1a605ea86a0103d0e2af647697af0a13fe6428
Taker: a3c702263f5ced765d4686d398d4a4ce46c8540827c972c8ee3389bcc824497a
Deposit: N/A

Bisq version: 1.5.1

Other notes:
The desposit transaction is stuck. I read in an other issue that t

[2020-12-19 09:46] marcsmith1279 commented on #614
Maker - e44d21cd96a33ad00d7539ba69f5daa829b1c8fcaa8edd76f0863fa08b9ec579
Taker - b938f5a5d0e1c7640491b2782c0d2f6f8facd281d3cc96a2314905b75d1c3865

[2020-12-19 09:47] marcsmith1279 commented on #615
Maker - f6ba21945b5508380ed34f455c98b8d4720c1e763e50c8964fad1dfe15a01d1a
Taker - bbb9b62ce6a36d8f0eeb6f4ef274d07b0d8a092673be35988285c2d9a5b734b9

[2020-12-19 09:47] marcsmith1279 commented on #616
Maker - 7e2105e180a2dfefdb3153f7a35a44b88aaf0a99515a46a95cc92667f011a8a0
Taker - f2d5cba7f049aa5ccec8d6e78667a0ac5bdd5dfcdac9e75466e49731c66afd62

[2020-12-19 13:28] MwithM commented on #614
Maker tx failed to broadcast. There's no deposit tx, so no funds are really locked.
I suppose there's locked funds in your wallet. Try a SPV resync and if it doesn't work, please use the emergency wallet or export seed to a new Bisq instance and claim for fee refund here in a new issue (follow the template instructions).

[2020-12-19 13:29] MwithM commented on #615
https://github.com/bisq-network/support/issues/614#issuecomment-748475000

[2020-12-19 13:30] MwithM commented on #616
Same as: https://github.com/bisq-network/support/issues/614#issuecomment-748475000

[2020-12-19 13:35] MwithM commented on #618
Your deposit tx is valid: bc1q9lewwlcq8nrn2ult3lnamzx4mwkqvn86392vq9l9tjjwaj5jw4pq2dkv70
Try a spv resync and if possible, open moderation with ctrl+O. You can contact support at Keybase https://keybase.io/team/bisq

[2020-12-19 17:46] #618 closed

[2020-12-20 11:26] marcsmith1279 commented on #616
Thank you for your advise. All resolved now.

Case can be closed.

[2020-12-20 11:26] marcsmith1279 commented on #615
Thank you for your advise. All resolved now.

Case can be closed.

[2020-12-20 11:26] marcsmith1279 commented on #614
Thank you for your advise. All resolved now.

Case can be closed.

[2020-12-20 15:58] #614 closed

[2020-12-20 15:58] #615 closed

[2020-12-20 15:58] #616 closed

[2020-12-21 14:20] ke6X33f opened #619 "Fee reimbursement for trade 42096"
![reimbursement_42096](https://user-images.githubusercontent.com/76434189/102786053-31d78100-439f-11eb-9d26-a818af124484.png)

Maker:  b61ff94758f41b6cd4ba7ee534b18bd8eea61b1bd6c8b6ab12ffa62074255031
Taker: N/A
Deposit: N/A

Bisq version: v1.5.1

Other notes:

An error occurred at task: TakerProcessesInputsForDepositTxResponse
Exception message: Lock time of maker is more than 3 blocks different t

[2020-12-21 17:37] BisqTor commented on #396
@leo816

I've been waiting for my money back for 239 days.
I always indicated Bisq to everyone, but now I started to suspect whether or not there is bad faith in Bisq.

Please tell me a date.

[2020-12-21 17:59] leo816 commented on #396
All Reimbursements have been made every cycle since I took over. On this last one we’ve had an issue and relied on the previous role holder to take care of this but everything is still the same. I will make the payout manually in the next 24 hrs. Thank you for your patience

[2020-12-22 01:42] leo816 commented on #584
please provide a btc address where you would like to receive the payment

[2020-12-22 01:46] leo816 commented on #585
please provide a btc address where you would like to receive the payment

[2020-12-22 02:10] leo816 commented on #407
please provide the btc address where you would like to receive the funds

[2020-12-22 10:00] leo816 commented on #580
please provide a btc address where you would like to receive the payment

[2020-12-22 10:31] #593 closed

[2020-12-22 10:32] bisq020 commented on #593
It seems no fee has been charged on my account.

[2020-12-22 11:11] leo816 commented on #576
The batch transaction with txid
[33efe6e3b9c08d70cf803a203d6995ab3aa465c4d8a138ac3a58faff2c989584](https://blockstream.info/tx/33efe6e3b9c08d70cf803a203d6995ab3aa465c4d8a138ac3a58faff2c989584) has been broadcast and should be included in blocks in a few days.

<img width="1088" alt="Screen Shot 2020-12-22 at 12 00 13" src="https://user-images.githubusercontent.com/54798241/102881619-6b66c580-444d-

[2020-12-22 11:13] leo816 commented on #552
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:13] #552 closed

[2020-12-22 11:13] leo816 commented on #551
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:13] #551 closed

[2020-12-22 11:14] leo816 commented on #563
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:14] #563 closed

[2020-12-22 11:14] leo816 commented on #557
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:14] #557 closed

[2020-12-22 11:14] leo816 commented on #539
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:14] #539 closed

[2020-12-22 11:15] leo816 commented on #537
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:15] #537 closed

[2020-12-22 11:15] leo816 commented on #547
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:15] #547 closed

[2020-12-22 11:15] leo816 commented on #536
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:15] #536 closed

[2020-12-22 11:15] leo816 commented on #538
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:15] #538 closed

[2020-12-22 11:16] leo816 commented on #569
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:16] #569 closed

[2020-12-22 11:16] leo816 commented on #568
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:16] #568 closed

[2020-12-22 11:16] leo816 commented on #567
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:16] #567 closed

[2020-12-22 11:16] leo816 commented on #565
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:16] #565 closed

[2020-12-22 11:16] leo816 commented on #579
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:16] #579 closed

[2020-12-22 11:17] leo816 commented on #396
Closing as reimbursed via the batch transaction documented at https://github.com/bisq-network/support/issues/576#issuecomment-749487833

[2020-12-22 11:17] #396 closed

[2020-12-22 16:16] BisqTor commented on #576
Fee NOT reimbursement for trade giio5op

Are you kidding me???
I waited 8 months to get my money back and BISQ returns 10% of what I had? Then that's it? Is that BISQ? Stealing money?
@leo816 paid me 0.0007 btc and closed the issue?
My security deposit was 0.006 btc.
Where are my money? On @leo816 wallet or in any Bisq wallet?

If you don't want to be robbed, don't use BISQ?

Link of my issue:
htt

[2020-12-22 16:17] BisqTor commented on #396
Fee NOT reimbursement for trade giio5op

Are you kidding me???
I waited 8 months to get my money back and BISQ returns 10% of what I had? Then that's it? Is that BISQ? Stealing money?
@leo816 paid me 0.0007 btc and closed the issue?
My security deposit was 0.006 btc.
Where are my money? On @leo816 wallet or in any Bisq wallet?

If you don't want to be robbed, don't use BISQ?

Link of my issue:
htt

[2020-12-22 16:17] BisqTor opened #620 "Fee NOT reimbursement for trade giio5op"
Fee NOT reimbursement for trade giio5op

Are you kidding me???
I waited 8 months to get my money back and BISQ returns 10% of what I had? Then that's it? Is that BISQ? Stealing money?
@leo816 paid me 0.0007 btc and closed the issue?
My security deposit was 0.006 btc.
Where are my money? On @leo816 wallet or in any Bisq wallet?

If you don't want to be robbed, don't use BISQ?

Link of my issue:
htt

[2020-12-22 16:40] leo816 commented on #620
Hi, please contact us through keybase. Some of the payouts have been done now and the remaining will be done in the coming weeks. Please remember that the payout is made privately from someone's pocket and then the fee reimbursement agent gets reimbursed from the amount he put out. risking losing money with the exchange rate so please don't make such accusations. If there has been an error I will

[2020-12-22 16:53] Akira45-0 commented on #536
I have received 0.00010575 BTC reimbursement instead of 0.00043197 BTC. Why is that?

[2020-12-22 16:55] BisqTor commented on #620
What is keybase?
How can I acess it?

[2020-12-22 16:58] Akira45-0 commented on #579
I have received 0.0001708 BTC instead of 0.00015925 BTC. How are the reimbursement values computed?

[2020-12-22 17:10] leo816 commented on #620
keybase is a messaging app. you can download it on your phone or computer and there you can talk with me or our support team to solve these issues.